Repository arkalia-luna-system/arkalia-cia: changes, and which Codecov flags are due for each by the changed paths.
All: python, flutter

.codecov.yml:

# Configuration Codecov pour Arkalia CIA
# Supporte Python (backend) et Flutter (mobile)

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        base: auto
    patch:
      default:
        target: 60%
        threshold: 1%
        base: auto

flags:
  python:
    paths:
      - arkalia_cia_python_backend/
    carryforward: true
  flutter:
    paths:
      - arkalia_cia/lib/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false

ignore:
  - "**/test/"
  - "**/tests/"
  - "**/__pycache__/"
  - "**/build/"
  - "**/dist/"
  - "**/coverage/"
  - "**/htmlcov/"
  - "**/*.g.dart"
  - "**/*.freezed.dart"
  - "**/generated/"
  - "**/venv/"
  - "**/node_modules/"

docs: Politique gratuite 100% - Garantie à vie
  README.md
  arkalia_cia/test/services/auth_service_test.dart
  arkalia_cia/test/services/onboarding_service_test.dart
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/auth.py
  docs/POLITIQUE_GRATUITE_100_PERCENT.md
  docs/analysis/ANALYSE_COMPLETE_BESOINS_MERE.md
  docs/audits/AUDIT_SECURITE_PERFECTION_DECEMBRE_2025.md
  docs/deployment/CORRECTIONS_NAVIGATION_AUTH_10_DEC.md
  docs/integrations/STRATEGIE_GRATUITE_PORTAILS_SANTE.md
  tests/unit/test_security_vulnerabilities.py
Due: python

Feat: Endpoint export PDF rapports médicaux + corrections tests sécurité
  tests/unit/test_medical_report_service.py
  tests/unit/test_security_vulnerabilities.py
Due: none

Fix: Import pytest manquant + suppression doublon test
  arkalia_cia/pubspec.yaml
  tests/unit/test_medical_report_service.py
  tests/unit/test_security_vulnerabilities.py
Due: none

fix(api): Protection user_id None dans tous les audit logs
  arkalia_cia_python_backend/api.py
  docs/CE_QUI_MANQUE_10_DECEMBRE_2025.md
Due: python

fix(api): Protection complète user_id None partout
  arkalia_cia_python_backend/api.py
  docs/deployment/CORRECTIONS_NAVIGATION_AUTH_10_DEC.md
Due: python

Docs: Organisation documentation complète + Fix: Protection user_id None dans api.py
  arkalia_cia/android/gradle.properties
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
  arkalia_cia_python_backend/api.py
  docs/README.md
  docs/audits/AUDIT_SECURITE_PERFECTION_DECEMBRE_2025.md
  docs/status/STATUT_FINAL_PROJET.md
Due: python

Fix: Correction dernière erreur indentation api.py
  arkalia_cia_python_backend/api.py
  docs/CE_QUI_MANQUE_10_DECEMBRE_2025.md
Due: python

fix(api): Correction erreurs syntaxe et protection user_id
  arkalia_cia_python_backend/api.py
Due: python

Docs: Amélioration MD - Allègement, bannières, schémas Mermaid améliorés
  docs/ARCHITECTURE.md
  docs/INDEX_DOCUMENTATION.md
  docs/README.md
  docs/analysis/ANALYSE_COMPLETE_BESOINS_MERE.md
  docs/audits/AUDIT_SECURITE_PERFECTION_DECEMBRE_2025.md
  docs/deployment/CORRECTIONS_NAVIGATION_AUTH_10_DEC.md
  docs/status/STATUT_FINAL_PROJET.md
Due: none

Docs: Amélioration finale MD - Ton allégé, bannières, schémas optimisés
  docs/API_DOCUMENTATION.md
  docs/ARCHITECTURE.md
  docs/INDEX_DOCUMENTATION.md
  docs/README.md
  docs/audits/AUDIT_SECURITE_PERFECTION_DECEMBRE_2025.md
  docs/deployment/CORRECTIONS_NAVIGATION_AUTH_10_DEC.md
Due: none

Docs: Allègement final PLAN_00 et ARIA_IMPLEMENTATION_GUIDE
  docs/integrations/ARIA_IMPLEMENTATION_GUIDE.md
  docs/plans/PLAN_00_ONBOARDING_INTELLIGENT.md
Due: none

Docs: Audit complet 12 décembre 2025 - 20 problèmes identifiés avec solutions
  docs/CE_QUI_MANQUE_10_DECEMBRE_2025.md
  docs/README.md
  docs/audits/AUDIT_COMPLET_12_DECEMBRE_2025.md
  docs/deployment/CORRECTIONS_NAVIGATION_AUTH_10_DEC.md
  docs/status/STATUT_FINAL_PROJET.md
Due: none

Docs: Plan d'action détaillé audit 12 décembre 2025
  docs/audits/AUDIT_COMPLET_12_DECEMBRE_2025.md
Due: none

Fix: Correction erreurs tests MissingPluginException + fallback SharedPreferences
  arkalia_cia/android/app/src/main/AndroidManifest.xml
  arkalia_cia/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  arkalia_cia/ios/Runner/GeneratedPluginRegistrant.m
  arkalia_cia/lib/screens/auth/register_screen.dart
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/lock_screen.dart
  arkalia_cia/lib/services/auth_api_service.dart
  arkalia_cia/lib/services/auth_service.dart
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
  arkalia_cia/test/services/auth_api_service_test.dart
  arkalia_cia/test/services/auth_service_test.dart
  docs/CE_QUI_MANQUE_10_DECEMBRE_2025.md
  docs/audits/AUDIT_COMPLET_12_DECEMBRE_2025.md
  docs/audits/AUDIT_RESTE_A_FAIRE_12_DECEMBRE_2025.md
  docs/deployment/CORRECTIONS_NAVIGATION_AUTH_10_DEC.md
  scripts/fix_mac_performance.sh
Due: flutter

fix: Correction erreurs lint + audit dépendances gratuites
  arkalia_cia/lib/main.dart
  arkalia_cia/lib/screens/auth/welcome_auth_screen.dart
  arkalia_cia/lib/screens/family_sharing_screen.dart
  arkalia_cia/lib/screens/pin_entry_screen.dart
  arkalia_cia/lib/screens/reminders_screen.dart
  arkalia_cia/lib/screens/settings_screen.dart
  arkalia_cia/lib/services/aria_service.dart
  arkalia_cia/lib/services/calendar_service.dart
  arkalia_cia/lib/services/family_sharing_service.dart
  arkalia_cia/test/screens/auth/welcome_auth_screen_test.dart
  arkalia_cia/test/services/auth_api_service_test.dart
  arkalia_cia/test/services/calendar_service_test.dart
  docs/CE_QUI_MANQUE_10_DECEMBRE_2025.md
  docs/audits/AUDIT_DEPENDANCES_GRATUITES_12_DECEMBRE_2025.md
  docs/audits/AUDIT_RESTE_A_FAIRE_12_DECEMBRE_2025.md
  docs/audits/RESUME_CORRECTIONS_12_DECEMBRE_2025.md
  docs/audits/VALIDATION_CORRECTIONS_12_DECEMBRE_2025.md
  docs/deployment/ANALYSE_GITHUB_VS_RENDER_POUR_CIA.md
  docs/deployment/CORRECTIONS_NAVIGATION_AUTH_10_DEC.md
  docs/deployment/DEPLOIEMENT_ARIA_RENDER.md
  docs/deployment/EXPLICATION_GITHUB_VS_RENDER.md
  docs/status/STATUT_FINAL_PROJET.md
Due: flutter

chore: Incrément version 1.3.1+6
  arkalia_cia/pubspec.yaml
Due: none

docs: Mise à jour versions 1.3.1+5 -> 1.3.1+6 dans tous les MD
  docs/API_DOCUMENTATION.md
  docs/ARCHITECTURE.md
  docs/CE_QUI_MANQUE_10_DECEMBRE_2025.md
  docs/README.md
  docs/audits/AUDIT_COMPLET_12_DECEMBRE_2025.md
  docs/audits/AUDIT_DEPENDANCES_GRATUITES_12_DECEMBRE_2025.md
  docs/audits/AUDIT_RESTE_A_FAIRE_12_DECEMBRE_2025.md
  docs/audits/AUDIT_SECURITE_PERFECTION_DECEMBRE_2025.md
  docs/audits/RESUME_CORRECTIONS_12_DECEMBRE_2025.md
  docs/audits/VALIDATION_CORRECTIONS_12_DECEMBRE_2025.md
  docs/deployment/CORRECTIONS_NAVIGATION_AUTH_10_DEC.md
  docs/integrations/ARIA_IMPLEMENTATION_GUIDE.md
  docs/status/STATUT_FINAL_PROJET.md
Due: none

docs: Correction nombre endpoints (21->36) + ajout section ARIA
  docs/API_DOCUMENTATION.md
  docs/audits/VERIFICATION_DOCUMENTATION_12_DECEMBRE_2025.md
Due: none

docs: Correction nombre endpoints dans tous les fichiers MD
  docs/ARCHITECTURE.md
  docs/INDEX_DOCUMENTATION.md
  docs/README.md
  docs/VUE_ENSEMBLE_PROJET.md
  docs/audits/RESUME_CORRECTIONS_12_DECEMBRE_2025.md
  docs/audits/VERIFICATION_DOCUMENTATION_12_DECEMBRE_2025.md
  docs/status/STATUT_FINAL_PROJET.md
Due: none

docs: Correction nombre endpoints dans ANALYSES_CONSOLIDEES + ajustements
  docs/README.md
  docs/audits/ANALYSES_CONSOLIDEES.md
  docs/audits/AUDIT_COMPLET_27_NOVEMBRE_2025.md
  docs/audits/RESUME_CORRECTIONS_12_DECEMBRE_2025.md
Due: none

docs: Ajout services manquants dans ARCHITECTURE_SERVICES.md
  docs/ARCHITECTURE_SERVICES.md
Due: none

docs: Correction dates obsolètes (Janvier 2025 -> 12 décembre 2025) + versions
  docs/API_DOCUMENTATION.md
  docs/ARCHITECTURE.md
  docs/POLITIQUE_GRATUITE_100_PERCENT.md
  docs/audits/ANALYSES_CONSOLIDEES.md
  docs/audits/RECAP_COMPLET_12_DECEMBRE_2025.md
  docs/deployment/CORRECTIONS_NAVIGATION_AUTH_10_DEC.md
  docs/plans/CE_QUI_RESTE_A_FAIRE.md
  docs/plans/README.md
  docs/releases/RELEASE_NOTES_V1.3.1.md
Due: none

fix: Correction warnings dépréciation + mise à jour documentation
  arkalia_cia/lib/main.dart
  arkalia_cia/lib/models/pathology.dart
  arkalia_cia/lib/screens/auth/welcome_auth_screen.dart
  arkalia_cia/lib/screens/lock_screen.dart
  arkalia_cia/lib/screens/reminders_screen.dart
  arkalia_cia/test/screens/auth/welcome_auth_screen_test.dart
  arkalia_cia/test/screens/reminders_screen_test.dart
  arkalia_cia_python_backend/api.py
  docs/CE_QUI_MANQUE_10_DECEMBRE_2025.md
  scripts/deploy_pwa_github_pages.sh
Due: python, flutter

feat: Amélioration flux authentification et service couleurs pathologie
  arkalia_cia/lib/screens/calendar_screen.dart
  arkalia_cia/lib/screens/family_sharing_screen.dart
  arkalia_cia/lib/screens/hydration_reminders_screen.dart
  arkalia_cia/lib/services/pathology_color_service.dart
  arkalia_cia/lib/services/pathology_service.dart
  arkalia_cia/test/screens/auth/welcome_auth_screen_test.dart
  arkalia_cia/test/screens/hydration_reminders_screen_test.dart
  docs/CE_QUI_MANQUE_10_DECEMBRE_2025.md
  docs/audits/AUDIT_COMPLET_12_DECEMBRE_2025.md
  docs/audits/RESUME_CORRECTIONS_12_DECEMBRE_2025.md
  scripts/clean_flutter_cache.sh
  scripts/clean_xcode_build.sh
  scripts/deploy_pwa_github_pages.sh
Due: flutter

feat: Remplacement toutes couleurs hardcodées pathologies par service standardisé
  arkalia_cia/lib/services/pathology_service.dart
Due: flutter

fix: Suppression import inutilisé pathology_service.dart
  arkalia_cia/lib/services/pathology_service.dart
Due: flutter

docs: Mise à jour documentation - Problème #9 Couleurs pathologie résolu
  docs/CE_QUI_MANQUE_10_DECEMBRE_2025.md
  docs/audits/RESUME_CORRECTIONS_12_DECEMBRE_2025.md
Due: none

docs: Mise à jour documentation améliorations hydratation + nettoyage main.dart
  arkalia_cia/lib/main.dart
Due: flutter

fix: Amélioration nettoyage fichiers macOS dans .git
  arkalia_cia/test/utils/error_helper_test.dart
  arkalia_cia/test/utils/retry_helper_test.dart
  arkalia_cia/test/utils/validation_helper_test.dart
  scripts/clean_flutter_cache.sh
  scripts/clean_macos_files.sh
  scripts/clean_xcode_build.sh
  scripts/ensure_web_build.sh
  scripts/fix_ios_build.sh
  scripts/start_backend_safe.sh
  scripts/start_flutter_safe.sh
  scripts/test_ci_fixes.sh
Due: none

fix: Amélioration sécurité script nettoyage macOS
  scripts/clean_macos_files.sh
Due: none

docs: Mise à jour dates et statuts TODOs
  docs/CE_QUI_MANQUE_10_DECEMBRE_2025.md
  docs/meta/TODOS_DOCUMENTES.md
  docs/meta/TODO_RESTANT_1.3.1.md
Due: none

feat: Service accessibilité + tests modèles et services
  arkalia_cia/lib/screens/settings_screen.dart
  arkalia_cia/lib/services/accessibility_service.dart
  arkalia_cia/test/models/doctor_test.dart
  arkalia_cia/test/models/medication_test.dart
  arkalia_cia/test/services/local_storage_service_test.dart
  arkalia_cia/test/utils/retry_helper_test.dart
  arkalia_cia/test/utils/validation_helper_test.dart
Due: flutter

fix: Amélioration EncryptionHelper avec fallback SharedPreferences
  arkalia_cia/lib/utils/encryption_helper.dart
  scripts/clean_macos_files.sh
Due: flutter

test: Mise à jour retry_helper_test
  arkalia_cia/test/utils/retry_helper_test.dart
Due: none

docs: Mise à jour documentation - Problèmes #11 et #12 résolus
  docs/CE_QUI_MANQUE_10_DECEMBRE_2025.md
  docs/audits/RESUME_CORRECTIONS_12_DECEMBRE_2025.md
Due: none

docs: Documentation TODOs Google/Gmail Sign In + mise à jour tests
  arkalia_cia/lib/screens/auth/welcome_auth_screen.dart
Due: flutter

docs: Mise à jour section tests dans CE_QUI_MANQUE
  docs/CE_QUI_MANQUE_10_DECEMBRE_2025.md
Due: none

test: Nettoyage tests (suppression code inutilisé)
  arkalia_cia/test/services/local_storage_service_test.dart
  arkalia_cia/test/utils/retry_helper_test.dart
Due: none

docs: Mise à jour complète documentation 12 décembre 2025
  docs/CE_QUI_MANQUE_10_DECEMBRE_2025.md
  docs/INDEX_DOCUMENTATION.md
  docs/audits/RESUME_CORRECTIONS_12_DECEMBRE_2025.md
Due: none

docs: Ajout prompt complet audit ARIA 12 décembre 2025
  docs/PROMPT_AUDIT_ARIA_12_DECEMBRE_2025.md
Due: none
