Repository arkalia-luna-system/arkalia-cia: changes, and which Codecov flags are due for each by the changed paths.
All: python, flutter

fix: Correction tous les warnings Share deprecated (share_plus 12.0.1)
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/medical_report_screen.dart
Due: flutter

fix: Correction API share_plus 12.0.1 (Share.shareXFiles au lieu de SharePlus.instance)
  arkalia_cia/lib/screens/medical_report_screen.dart
  arkalia_cia/lib/screens/sync_screen.dart
Due: flutter

fix: Correction dernière erreur share_plus dans documents_screen
  arkalia_cia/lib/screens/documents_screen.dart
Due: flutter

fix: Downgrade connectivity_plus 7.0.0 → 6.1.5 (incompatibilité Gradle)
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
  docs/GUIDE_TESTEURS.md
  docs/deployment/WORKFLOW_DEPLOIEMENT_AUTOMATIQUE.md
Due: none

chore: Formatage final code (black, ruff, mypy)
  arkalia_cia_python_backend/ai/pattern_analyzer.py
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/security_dashboard.py
  tests/unit/test_pathology_templates.py
  tests/unit/test_retry.py
  tests/unit/test_security_vulnerabilities.py
  tests/unit/test_validation.py
Due: python

docs: Ajout guides testeurs et explication déploiement
  docs/QUESTIONNAIRE_TESTEURS.md
  docs/deployment/EXPLICATION_DEPLOIEMENT.md
Due: none

feat: Configuration déploiement automatique Play Store + corrections
  .github/workflows/deploy-play-store.yml
  arkalia_cia/lib/screens/calendar_screen.dart
  docs/IMPORTS_ANALYSIS.md
  docs/deployment/EXPLICATION_DEPLOIEMENT.md
  docs/deployment/PLAY_STORE_SETUP.md
  docs/deployment/WORKFLOW_DEPLOIEMENT_AUTOMATIQUE.md
Due: flutter

fix: Corrections finales imports et warnings
  arkalia_cia/lib/main.dart
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/utils/error_helper.dart
  docs/audits/AUDIT_COMPLET_PROJET_2025.md
Due: flutter

fix: Correction API Share (share_plus 12.0.1)
  arkalia_cia/lib/screens/documents_screen.dart
Due: flutter

fix: Corrections audit projet (logging, code mort, imports)
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/patterns_dashboard_screen.dart
  arkalia_cia/lib/screens/reminders_screen.dart
  docs/audits/AUDIT_COMPLET_PROJET_2025.md
  docs/audits/RESUME_ACTIONS.md
  docs/audits/TODO_CORRECTIONS_AUDIT.md
  scripts/cleanup_memory.sh
Due: flutter

docs: Mise à jour documentation après corrections audit
  README.md
  docs/CHANGELOG.md
Due: none

docs: État automatisation et version (récapitulatif complet)
  arkalia_cia/lib/screens/medical_report_screen.dart
  arkalia_cia/lib/services/conversational_ai_service.dart
  docs/audits/STATUT_CORRECTIONS.md
  docs/deployment/ETAT_AUTOMATISATION.md
Due: flutter

fix: Corrections workflow automatisation et code
  .github/SECRETS_MANAGEMENT.md
  .github/workflows/deploy-play-store.yml
  README.md
  arkalia_cia/android/.kotlin/sessions/kotlin-compiler-16511459777313439560.salive
  arkalia_cia/android/build.gradle.kts
  arkalia_cia/android/init.gradle
  arkalia_cia_python_backend/security_dashboard.py
  docs/ARCHITECTURE_SERVICES.md
  docs/audits/AUDIT_FINAL_26_NOVEMBRE_2025.md
  docs/audits/RESUME_FINAL.md
  docs/deployment/ETAT_AUTOMATISATION.md
Due: python

fix: Suppression import unused (medical_report_screen)
  arkalia_cia/android/.kotlin/sessions/kotlin-compiler-16511459777313439560.salive
  arkalia_cia/lib/screens/medical_report_screen.dart
Due: flutter

fix: Corrections build Android, workflow CI/CD et audit final
  .github/workflows/deploy-play-store.yml
  arkalia_cia/android/init.gradle
  arkalia_cia/android/watch-macos-files.sh
  arkalia_cia/lib/config/health_portals_config.dart
  arkalia_cia/lib/screens/advanced_search_screen.dart
  arkalia_cia/lib/screens/patterns_dashboard_screen.dart
  arkalia_cia/lib/services/health_portal_auth_service.dart
  docs/INTEGRATION_ANDAMAN7_MASANTE.md
  docs/INTEGRATION_EHEALTH_DETAILLEE.md
  docs/RESUME_INTEGRATION_PORTAILS_SANTE.md
  docs/STATUT_INTEGRATION_PORTAILS_SANTE.md
  docs/audits/AMELIORATIONS_26_NOVEMBRE.md
  docs/audits/AUDIT_FINAL_26_NOVEMBRE_2025.md
  docs/audits/BILAN_COMPLET_26_NOVEMBRE.md
  docs/audits/RESUME_FINAL_COMPLET.md
  docs/deployment/GUIDE_SECRETS_GITHUB.md
Due: flutter

chore: Suppression fichiers macOS (._*) de git et ajout au .gitignore
  .gitignore
Due: none

fix: Formatage code (black) et audit complet
  arkalia_cia_python_backend/api.py
  docs/AUDIT_COMPLET_26_NOVEMBRE.md
Due: python

fix: Correction des erreurs Flutter lint et Gradle
  arkalia_cia/android/init.gradle
  arkalia_cia/lib/screens/bbia_integration_screen.dart
  arkalia_cia/lib/screens/hydration_reminders_screen.dart
  arkalia_cia/lib/screens/medical_report_screen.dart
  arkalia_cia/lib/screens/onboarding/import_choice_screen.dart
  arkalia_cia/lib/screens/patterns_dashboard_screen.dart
  arkalia_cia/lib/services/theme_service.dart
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/tests/generate_test_pdfs.py
  arkalia_cia_python_backend/tests/test_parser.py
  requirements.txt
Due: python, flutter

fix: Correction de toutes les erreurs et warnings Flutter
  README.md
  arkalia_cia/lib/models/pathology.dart
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/medical_report_screen.dart
  arkalia_cia/lib/screens/medication_reminders_screen.dart
  arkalia_cia/lib/screens/onboarding/import_choice_screen.dart
  arkalia_cia/lib/screens/onboarding/import_progress_screen.dart
  arkalia_cia/lib/screens/pathology_detail_screen.dart
  arkalia_cia/lib/screens/pathology_list_screen.dart
  arkalia_cia/lib/screens/patterns_dashboard_screen.dart
  arkalia_cia/lib/screens/settings_screen.dart
  arkalia_cia/lib/services/file_storage_service.dart
  arkalia_cia/lib/services/health_portal_auth_service.dart
  arkalia_cia/lib/services/theme_service.dart
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
  arkalia_cia_python_backend/api.py
  docs/CORRECTIONS_AUDIT_CONSOLIDEES.md
  docs/STATUT_ACTUEL_26_NOVEMBRE.md
  docs/VERIFICATION_COMPLETE.md
Due: python, flutter

fix: Amélioration configuration Gradle pour file_picker
  arkalia_cia/android/build.gradle.kts
  arkalia_cia/android/init.gradle
  dashboard/security/security_dashboard.html
  quality_report.json
Due: none

fix: Correction CardThemeData et AndroidExtension dans init.gradle
  arkalia_cia/android/init.gradle
  arkalia_cia/lib/services/theme_service.dart
Due: flutter

fix: Correction CardThemeData et amélioration configuration file_picker
  arkalia_cia/android/init.gradle
  arkalia_cia/lib/services/theme_service.dart
Due: flutter

fix: Correction variable dupliquée flutterConfig dans init.gradle
  arkalia_cia/android/init.gradle
Due: none

fix: Correction définitive CardThemeData et file_picker
  README.md
  arkalia_cia/android/build.gradle.kts
  arkalia_cia/android/init.gradle
  arkalia_cia/lib/services/theme_service.dart
  docs/AUDIT_COMPLET_26_NOVEMBRE.md
  docs/RAPPORT_AUDIT_TESTS.md
  docs/RELEASE_NOTES_V1.2.1.md
  docs/STATUT_ACTUEL_26_NOVEMBRE.md
  docs/TESTS_DOCUMENTATION_COMPLETE.md
  docs/audits/ANALYSES_CONSOLIDEES.md
  docs/audits/AUDITS_CONSOLIDES.md
  docs/audits/AUDIT_COMPLET_PROJET_2025.md
  docs/audits/AUDIT_FINAL_26_NOVEMBRE_2025.md
  docs/deployment/BUILD_RELEASE_ANDROID.md
  docs/deployment/CHECKLIST_RELEASE_CONSOLIDEE.md
  docs/deployment/GUIDE_DEPLOIEMENT_FINAL.md
Due: flutter

fix: Correction finale CardThemeData avec const
  arkalia_cia/lib/services/theme_service.dart
Due: flutter

fix: Déplacement bloc flutter avant android dans build.gradle.kts
  arkalia_cia/android/app/build.gradle.kts
Due: none

fix: Correction de 61 warnings sur 81 (réduction de 75%)
  arkalia_cia/lib/models/pathology.dart
  arkalia_cia/lib/screens/bbia_integration_screen.dart
  arkalia_cia/lib/screens/calendar_screen.dart
  arkalia_cia/lib/screens/conversational_ai_screen.dart
  arkalia_cia/lib/screens/doctors_list_screen.dart
  arkalia_cia/lib/screens/hydration_reminders_screen.dart
  arkalia_cia/lib/screens/medical_report_screen.dart
  arkalia_cia/lib/screens/medication_reminders_screen.dart
  arkalia_cia/lib/screens/onboarding/import_choice_screen.dart
  arkalia_cia/lib/screens/onboarding/import_progress_screen.dart
  arkalia_cia/lib/screens/pathology_detail_screen.dart
  arkalia_cia/lib/screens/pathology_list_screen.dart
  arkalia_cia/lib/screens/patterns_dashboard_screen.dart
  arkalia_cia/lib/screens/settings_screen.dart
  arkalia_cia/lib/screens/stats_screen.dart
  arkalia_cia/lib/services/calendar_service.dart
  arkalia_cia/lib/services/theme_service.dart
  arkalia_cia/lib/widgets/exam_type_badge.dart
Due: flutter

fix: Correction CardThemeData et vérification finale
  arkalia_cia/android/app/build.gradle.kts
  arkalia_cia/lib/services/theme_service.dart
Due: flutter

fix: Correction erreurs compilation Flutter (withValues, Color accessors, Gradle)
  arkalia_cia/android/app/build.gradle.kts
  arkalia_cia/lib/models/pathology.dart
  arkalia_cia/lib/screens/bbia_integration_screen.dart
  arkalia_cia/lib/screens/calendar_screen.dart
  arkalia_cia/lib/screens/conversational_ai_screen.dart
  arkalia_cia/lib/screens/doctors_list_screen.dart
  arkalia_cia/lib/screens/hydration_reminders_screen.dart
  arkalia_cia/lib/screens/manage_family_members_screen.dart
  arkalia_cia/lib/screens/medical_report_screen.dart
  arkalia_cia/lib/screens/medication_reminders_screen.dart
  arkalia_cia/lib/screens/onboarding/import_choice_screen.dart
  arkalia_cia/lib/screens/onboarding/import_progress_screen.dart
  arkalia_cia/lib/screens/pathology_detail_screen.dart
  arkalia_cia/lib/screens/pathology_list_screen.dart
  arkalia_cia/lib/screens/patterns_dashboard_screen.dart
  arkalia_cia/lib/screens/settings_screen.dart
  arkalia_cia/lib/screens/stats_screen.dart
  arkalia_cia/lib/services/calendar_service.dart
  arkalia_cia/lib/widgets/exam_type_badge.dart
  arkalia_cia/scripts/build-release-clean.sh
Due: flutter

fix: Correction chemin Flutter source directory pour CI/CD
  arkalia_cia/android/app/build.gradle.kts
Due: none

fix: Correction type source directory Flutter (File -> String)
  arkalia_cia/android/app/build.gradle.kts
Due: none

fix: Correction erreurs compilation Flutter 3.24.0
  arkalia_cia/lib/screens/manage_family_members_screen.dart
  arkalia_cia/lib/screens/medication_reminders_screen.dart
  arkalia_cia/lib/services/theme_service.dart
  arkalia_cia/pubspec.yaml
  docs/deployment/SOLUTION_PROBLEMES_PLAY_CONSOLE.md
Due: flutter

refactor: Suppression bloc flutter source (détection automatique)
  arkalia_cia/android/app/build.gradle.kts
Due: none

fix: Corriger erreur 'Must provide Flutter source directory' dans build.gradle.kts
  arkalia_cia/android/app/build.gradle.kts
Due: none

fix: Corriger erreurs DialogThemeData et CardThemeData dans theme_service.dart
  arkalia_cia/lib/services/theme_service.dart
Due: flutter

fix: Corriger erreur 'Must provide Flutter source directory' et configuration des tâches
  arkalia_cia/android/app/build.gradle.kts
Due: none

fix: Utiliser rootProject pour Flutter source directory (compatible CI)
  arkalia_cia/android/app/build.gradle.kts
Due: none

fix: Corriger toutes les alertes CodeQL - Sécurité et qualité du code
  .github/workflows/codeql-analysis.yml
  arkalia_cia_python_backend/security_dashboard.py
  arkalia_cia_python_backend/security_utils.py
  arkalia_cia_python_backend/services/medical_report_service.py
  setup.py
  tests/unit/test_auto_documenter.py
  tests/unit/test_backend_services.py
  tests/unit/test_config.py
  tests/unit/test_filename_validator.py
  tests/unit/test_hydration_service.py
  tests/unit/test_medication_service.py
  tests/unit/test_metadata_extractor_enriched.py
  tests/unit/test_security_dashboard.py
  tests/unit/test_security_vulnerabilities.py
  tests/unit/test_ssrf_validator.py
  tests/unit/test_storage.py
Due: python

fix: Correction des alertes CodeQL
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/security_dashboard.py
  tests/unit/test_config.py
  tests/unit/test_security_dashboard.py
Due: python

Path conditions:
  python: any of: arkalia_cia_python_backend/, but not: **/test/, **/tests/, **/__pycache__/, **/build/, **/dist/, **/coverage/, **/htmlcov/, **/*.g.dart, **/*.freezed.dart, **/generated/, **/venv/, **/node_modules/
  flutter: any of: arkalia_cia/lib/, but not: **/test/, **/tests/, **/__pycache__/, **/build/, **/dist/, **/coverage/, **/htmlcov/, **/*.g.dart, **/*.freezed.dart, **/generated/, **/venv/, **/node_modules/
