Repository arkalia-luna-system/arkalia-cia: changes, and which Codecov flags are due for each by the changed paths.
All: python, flutter

.codecov.yml:

# Configuration Codecov pour Arkalia CIA
# Supporte Python (backend) et Flutter (mobile)

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        base: auto
    patch:
      default:
        target: 60%
        threshold: 1%
        base: auto

flags:
  python:
    paths:
      - arkalia_cia_python_backend/
    carryforward: true
  flutter:
    paths:
      - arkalia_cia/lib/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false

ignore:
  - "**/test/"
  - "**/tests/"
  - "**/__pycache__/"
  - "**/build/"
  - "**/dist/"
  - "**/coverage/"
  - "**/htmlcov/"
  - "**/*.g.dart"
  - "**/*.freezed.dart"
  - "**/generated/"
  - "**/venv/"
  - "**/node_modules/"

docs: Mise à jour CHANGELOG avec toutes les nouvelles fonctionnalités
  docs/CHANGELOG.md
Due: none

docs: Ajout résumé final complet de toutes les améliorations
  docs/RESUME_FINAL_AMELIORATIONS.md
Due: none

docs: Ajout vérification finale complète
  docs/VERIFICATION_FINALE_COMPLETE.md
Due: none

docs: Guides de déploiement et résumé exécutif
  docs/GUIDE_DEPLOIEMENT_FINAL.md
  docs/RESUME_EXECUTIF.md
Due: none

docs: Synthèse finale complète de toutes les améliorations
  docs/SYNTHESE_FINALE_COMPLETE.md
Due: none

fix: Corrections complètes - warnings Flutter, sécurité Python, amélioration ARIA mobile
  README.md
  arkalia_cia/README.md
  arkalia_cia/lib/screens/aria_screen.dart
  arkalia_cia/lib/services/auto_sync_service.dart
  arkalia_cia/lib/services/search_service.dart
  arkalia_cia/lib/utils/error_helper.dart
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/security_dashboard.py
  dashboard/security/security_dashboard.html
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
  docs/DOCUMENTATION_STATUS.md
  docs/MIGRATION.md
  docs/PHASE1_COMPLETED.md
  docs/RELEASE_CHECKLIST.md
  docs/RESUME_FINAL_AMELIORATIONS.md
  quality_report.json
  tests/unit/test_auto_documenter.py
  tests/unit/test_security_dashboard.py
  tests/unit/test_validation.py
Due: python, flutter

fix: 100% zéro erreur et zéro warning - corrections complètes
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/screens/lock_screen.dart
  arkalia_cia/lib/screens/reminders_screen.dart
  arkalia_cia/lib/screens/settings_screen.dart
  arkalia_cia_python_backend/security_dashboard.py
  dashboard/security/security_dashboard.html
Due: python, flutter

fix: Formatage Python final avec black
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/screens/stats_screen.dart
  arkalia_cia_python_backend/security_dashboard.py
Due: python, flutter

perf: Optimisations de performance finales
  docs/OPTIMISATIONS_PERFORMANCE.md
Due: none

perf: Ajout vérifications mounted dans tous les écrans
  arkalia_cia/lib/screens/reminders_screen.dart
  arkalia_cia_python_backend/security_dashboard.py
  dashboard/security/security_dashboard.html
  quality_report.json
Due: python, flutter

docs: Document final des améliorations complètes
  docs/AMELIORATIONS_FINALES.md
Due: none

fix: Correction erreurs linter security_dashboard.py lignes 18,21,24,27
  arkalia_cia_python_backend/security_dashboard.py
Due: python

perf: Optimisations finales dans tous les écrans restants
  arkalia_cia/lib/screens/emergency_screen.dart
  arkalia_cia/lib/screens/health_screen.dart
Due: flutter

perf: Finalisation optimisations health_screen et settings_screen
  arkalia_cia/lib/screens/settings_screen.dart
Due: flutter

perf: Correction finale health_screen - Protection setState complète
  arkalia_cia/lib/screens/health_screen.dart
Due: flutter

🔧 Optimisations tests mémoire + corrections qualité code
  Makefile
  README.md
  TESTS_DOUBLONS_SOLUTION.md
  TESTS_PROBLEMATIQUES.md
  arkalia_cia/android/watch-macos-files.sh
  arkalia_cia/ios/Flutter/ephemeral/flutter_lldb_helper.py
  arkalia_cia_python_backend/security_dashboard.py
  cleanup_all.sh
  cleanup_memory.sh
  dashboard/security/security_dashboard.html
  docs/ANALYSE_PERFORMANCE_TESTS.md
  docs/AUDIT_PROBLEMES_SIMILAIRES.md
  docs/OPTIMISATIONS_TESTS_MEMOIRE.md
  docs/RESUME_AUDIT_COMPLET.md
  pyproject.toml
  pytest.ini
  run_tests.sh
  start_backend_safe.sh
  start_flutter_safe.sh
  tests/integration/test_backend_integration.py
  tests/integration/test_integration.py
  tests/unit/test_auto_documenter.py
  tests/unit/test_security_dashboard.py
Due: python

chore: optimisation scripts, nettoyage fichiers et correction linting
  arkalia_cia_python_backend/security_dashboard.py
  cleanup_all.sh
  cleanup_memory.sh
  dashboard/security/security_dashboard.html
  docs/ANALYSE_PERFORMANCE_TESTS.md
  docs/DOCUMENTATION_STATUS.md
  docs/OPTIMISATION_SCRIPTS.md
  docs/TESTS_DOUBLONS_SOLUTION.md
  docs/TESTS_PROBLEMATIQUES.md
  lib/common_functions.sh
  run_tests.sh
  start_backend_safe.sh
  start_flutter_safe.sh
Due: python

🔧 Correction annotations Bandit (noqa -> nosec)
  arkalia_cia_python_backend/security_dashboard.py
Due: python

docs: fusion et allègement des MD en doublon
  arkalia_cia/ios/Flutter/ephemeral/flutter_lldb_helper.py
  dashboard/security/security_dashboard.html
  docs/AUDIT_ET_OPTIMISATIONS.md
  docs/AUDIT_PROBLEMES_SIMILAIRES.md
  docs/OPTIMISATION_SCRIPTS.md
  docs/RESUME_AUDIT_COMPLET.md
  docs/TESTS_DOUBLONS_SOLUTION.md
  docs/TESTS_PROBLEMATIQUES.md
  quality_report.json
Due: none

docs: nettoyage et organisation documentation MD
  dashboard/security/security_dashboard.html
  docs/AMELIORATIONS_FINALES.md
  docs/AUDIT_COMPLET_MANQUANTS.md
  docs/AUDIT_EXPLOITATION_100.md
  docs/AUDIT_FINAL_COMPLET.md
  docs/CORRECTIONS_FICHIERS_MACOS.md
  docs/MACOS_FILES_SOLUTION.md
  docs/OPTIMISATIONS_COMPLETE.md
  docs/OPTIMISATIONS_PERFORMANCE.md
  docs/OPTIMISATIONS_TESTS_MEMOIRE.md
  docs/RESTE_A_FAIRE.md
  docs/RESULTAT_FINAL_100.md
  docs/RESUME_EXECUTIF.md
  docs/RESUME_FINAL_AMELIORATIONS.md
  docs/RESUME_PROJET.md
  docs/SOLUTION_FICHIERS_MACOS.md
  docs/SYNTHESE_FINALE_COMPLETE.md
  docs/VALIDATION_FINALE_100.md
  docs/VERIFICATION_FINALE_TACHES.md
  pyproject.toml
  quality_report.json
Due: none

✅ Correction warning Mypy (module dupliqué)
  pyproject.toml
Due: none

✅ Configuration Mypy optimisée
  pyproject.toml
Due: none

✅ Suppression commentaires type: ignore inutilisés
  arkalia_cia_python_backend/security_dashboard.py
Due: python

docs: Mise à jour complète de tous les fichiers MD
  README.md
  dashboard/security/security_dashboard.html
  docs/AMELIORATIONS_FINALES.md
  docs/DEPLOYMENT.md
  docs/DOCUMENTATION_STATUS.md
  docs/EXPLICATION_WIFI_ADB.md
  docs/GRADLE_FIX_GUIDE.md
  docs/PHASE1_COMPLETED.md
  docs/RESUME_FINAL_AMELIORATIONS.md
  docs/RESUME_PROJET.md
  docs/SOLUTION_FICHIERS_MACOS.md
  docs/TESTER_ET_METTRE_A_JOUR.md
  docs/VALIDATION.md
  docs/VERIFICATION_FINALE_COMPLETE.md
  quality_report.json
Due: none

Optimisations mémoire et corrections linting
  arkalia_cia_python_backend/auto_documenter.py
  arkalia_cia_python_backend/security_dashboard.py
  dashboard/security/security_dashboard.html
  tests/integration/test_backend_integration.py
  tests/integration/test_integration.py
  tests/test_database.py
  tests/unit/test_auto_documenter.py
  tests/unit/test_backend_services.py
  tests/unit/test_security_dashboard.py
Due: python

Correction erreurs linting lignes 21, 24, 27, 30 - ajout type: ignore pour imports optionnels
  arkalia_cia_python_backend/security_dashboard.py
Due: python

Correction finale erreurs linting - ajout pyright: ignore pour imports optionnels
  arkalia_cia_python_backend/security_dashboard.py
Due: python

Correction erreurs F401 lignes 22, 25, 28, 31 - déplacement noqa sur lignes individuelles
  arkalia_cia_python_backend/security_dashboard.py
Due: python

fix: Correction erreurs linter security_dashboard.py lignes 22,25,28,31
  arkalia_cia_python_backend/security_dashboard.py
Due: python

fix: Configuration Pyright pour ignorer imports athalia_core optionnels
  pyrightconfig.json
Due: none

fix: Correction erreurs unused type ignore dans security_dashboard.py
  arkalia_cia_python_backend/security_dashboard.py
Due: python

fix: Configuration Pyright pour ignorer imports athalia_core
  arkalia_cia_python_backend/security_dashboard.py
  pyrightconfig.json
Due: python

fix: Nettoyage imports athalia_core dans security_dashboard.py
  arkalia_cia_python_backend/security_dashboard.py
Due: python

fix: Configuration Pyright complète pour ignorer imports athalia_core
  arkalia_cia_python_backend/security_dashboard.py
Due: python

fix: Correction ligne vide avec espaces dans security_dashboard.py
  arkalia_cia_python_backend/security_dashboard.py
Due: python

fix: Correction complète security_dashboard.py
  arkalia_cia_python_backend/security_dashboard.py
Due: python

fix: Ajout stubs pour athalia_core dans security_dashboard.py
  arkalia_cia_python_backend/py.typed
  arkalia_cia_python_backend/security_dashboard.py
  arkalia_cia_python_backend/stubs/athalia_core/__init__.pyi
  arkalia_cia_python_backend/stubs/athalia_core/core/__init__.pyi
  arkalia_cia_python_backend/stubs/athalia_core/core/cache_manager.pyi
  arkalia_cia_python_backend/stubs/athalia_core/metrics/__init__.pyi
  arkalia_cia_python_backend/stubs/athalia_core/metrics/collector.pyi
  arkalia_cia_python_backend/stubs/athalia_core/quality/__init__.pyi
  arkalia_cia_python_backend/stubs/athalia_core/quality/code_linter.pyi
  arkalia_cia_python_backend/stubs/athalia_core/validation/__init__.pyi
  arkalia_cia_python_backend/stubs/athalia_core/validation/security_validator.pyi
  dashboard/security/security_dashboard.html
  pyrightconfig.json
  quality_report.json
Due: python

fix: correction code quality avec black, ruff, mypy et bandit - suppression variables non utilisées, formatage code, configuration mypy pour pypdf
  arkalia_cia_python_backend/security_dashboard.py
  arkalia_cia_python_backend/stubs/athalia_core/__init__.pyi
  arkalia_cia_python_backend/stubs/athalia_core/core/__init__.pyi
  arkalia_cia_python_backend/stubs/athalia_core/core/cache_manager.pyi
  arkalia_cia_python_backend/stubs/athalia_core/metrics/__init__.pyi
  arkalia_cia_python_backend/stubs/athalia_core/metrics/collector.pyi
  arkalia_cia_python_backend/stubs/athalia_core/quality/__init__.pyi
  arkalia_cia_python_backend/stubs/athalia_core/quality/code_linter.pyi
  arkalia_cia_python_backend/stubs/athalia_core/validation/__init__.pyi
  arkalia_cia_python_backend/stubs/athalia_core/validation/security_validator.pyi
  arkalia_cia_python_backend/stubs/py.typed
  dashboard/security/security_dashboard.html
  pyproject.toml
  pyrightconfig.json
  quality_report.json
Due: python

Mise à jour du dashboard de sécurité
  arkalia_cia_python_backend/security_dashboard.py
  dashboard/security/security_dashboard.html
Due: python

perf: optimisations majeures performance et mémoire security_dashboard
  arkalia_cia_python_backend/security_dashboard.py
  dashboard/security/security_dashboard.html
  quality_report.json
Due: python
