Repository arkalia-luna-system/arkalia-cia: changes, and which Codecov flags are due for each by the changed paths.
All: python, flutter

fix: Ajout affichage immédiat rappels locaux avant CalendarService
  arkalia_cia/lib/screens/reminders_screen.dart
Due: flutter

fix: Correction erreurs rapport test - Patterns, Rapport médical, Calendrier, Rappels
  arkalia_cia/lib/screens/patterns_dashboard_screen.dart
  arkalia_cia/lib/screens/reminders_screen.dart
Due: flutter

fix: Correction des bugs critiques identifiés lors des tests
  arkalia_cia/lib/screens/pathology_detail_screen.dart
  arkalia_cia/lib/screens/pathology_tracking_screen.dart
  arkalia_cia/lib/utils/validation_helper.dart
  quality_report.json
Due: flutter

fix: Correction timeout test reminders_screen - Utilisation Future.delayed pour éviter blocage CalendarService
  arkalia_cia/lib/screens/reminders_screen.dart
Due: flutter

fix: Correction timeout test reminders_screen
  arkalia_cia/lib/screens/reminders_screen.dart
  arkalia_cia/test/screens/reminders_screen_test.dart
Due: flutter

fix: Corrections dépréciations Flutter et améliorations validation
  arkalia_cia/lib/screens/pathology_detail_screen.dart
  arkalia_cia/lib/widgets/emergency_contact_dialog.dart
  arkalia_cia/test/utils/validation_helper_test.dart
Due: flutter

fix: Correction erreurs compilation Flutter
  arkalia_cia/lib/screens/pathology_detail_screen.dart
  arkalia_cia/lib/screens/reminders_screen.dart
  arkalia_cia/lib/widgets/emergency_contact_dialog.dart
Due: flutter

fix: Amélioration test reminders_screen pour éviter timeout
  arkalia_cia/test/screens/reminders_screen_test.dart
Due: none

fix: Simplification test reminders_screen pour éviter timeout
  arkalia_cia/test/screens/reminders_screen_test.dart
Due: none

fix: Correction définitive test reminders_screen - attend chargement complet
  arkalia_cia/test/screens/reminders_screen_test.dart
Due: none

fix: Skip test reminders_screen qui cause timeout
  arkalia_cia/test/screens/reminders_screen_test.dart
Due: none

fix: Skip test reminders_screen timeout - problème _loadReminders() dans initState()
  arkalia_cia/test/screens/reminders_screen_test.dart
Due: none

fix: Correction définitive test reminders_screen - bypass FlutterSecureStorage en test
  arkalia_cia/lib/utils/encryption_helper.dart
  arkalia_cia/test/screens/reminders_screen_test.dart
Due: flutter

fix: Correction bugs critiques Urgence et Documents
  arkalia_cia/lib/screens/emergency_screen.dart
  arkalia_cia/lib/screens/home_page.dart
Due: flutter

fix: Amélioration gestion erreurs Urgence - Messages détaillés backend
  arkalia_cia/lib/screens/emergency_screen.dart
  arkalia_cia/lib/services/api_service.dart
Due: flutter

fix: Correction authentification API Urgence - Utilisation _makeAuthenticatedRequest
  arkalia_cia/lib/services/api_service.dart
Due: flutter

fix: Finalisation corrections bugs Urgence et Documents + Formatage code
  arkalia_cia/lib/services/api_service.dart
  arkalia_cia_python_backend/ai/pattern_analyzer.py
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/auth.py
  arkalia_cia_python_backend/services/medical_report_service.py
Due: python, flutter

fix: Correction warning withOpacity → withValues emergency_screen
  arkalia_cia/lib/screens/emergency_screen.dart
Due: flutter

fix: Correction erreur MaterialColor.withValues - Retour à withOpacity
  arkalia_cia/lib/screens/emergency_screen.dart
Due: flutter

fix: Ajout taille minimale 24px pour toutes les icônes HydrationRemindersScreen
  arkalia_cia/lib/screens/hydration_reminders_screen.dart
Due: flutter

feat: Support accès mobile via réseau local dans start_flutter_web.sh
  scripts/start_flutter_web.sh
Due: none

fix: Correction test scrollable RemindersScreen - Support ListView et SingleChildScrollView
  arkalia_cia/test/screens/reminders_screen_test.dart
Due: none

fix: Support accès mobile via IP locale - CORS et CSP
  arkalia_cia_python_backend/api.py
Due: python

feat: Ajout bouton pour activer People API dans dialog erreur Google
  arkalia_cia/lib/screens/auth/welcome_auth_screen.dart
Due: flutter

feat: Déploiement automatique GitHub Pages sur push main
  .github/workflows/flutter-ci.yml
Due: none

fix: Retrait option obsolète --no-wasm-dry-run dans workflow
  .github/workflows/flutter-ci.yml
Due: none

fix: Retrait option obsolète --no-wasm-dry-run dans script déploiement
  scripts/deploy_pwa_github_pages.sh
Due: none

fix: Retrait option obsolète --no-wasm-dry-run dans tous les scripts
  scripts/ensure_web_build.sh
  scripts/start_flutter_web.sh
Due: none

fix: Correction problèmes mobile web - Documents et Google Sign-In
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/services/google_auth_service.dart
Due: flutter

fix: Correction dernier warning withOpacity dans documents_screen
  arkalia_cia/lib/screens/documents_screen.dart
Due: flutter

fix: Correction recherche, calendrier et urgences
  arkalia_cia/lib/screens/calendar_screen.dart
  arkalia_cia/lib/screens/doctors_list_screen.dart
  arkalia_cia/lib/screens/emergency_screen.dart
  arkalia_cia/lib/services/search_service.dart
Due: flutter

fix: Amélioration gestion erreurs - ErrorHelper cohérent
  arkalia_cia/lib/screens/auth/welcome_auth_screen.dart
  arkalia_cia/lib/screens/emergency_screen.dart
  arkalia_cia/lib/services/auth_service.dart
Due: flutter

fix: Correction problèmes majeurs mobile web
  arkalia_cia/lib/main.dart
  arkalia_cia/lib/screens/auth/welcome_auth_screen.dart
  arkalia_cia/lib/screens/settings_screen.dart
  arkalia_cia/lib/services/conversational_ai_service.dart
Due: flutter

fix: Retrait import inutilisé dans settings_screen
  arkalia_cia/lib/screens/settings_screen.dart
Due: flutter

feat: Amélioration auto-remplissage profil depuis Google Sign-In
  arkalia_cia/lib/screens/auth/welcome_auth_screen.dart
Due: flutter

fix: Amélioration création profil utilisateur depuis Google Sign-In
  arkalia_cia/lib/screens/auth/welcome_auth_screen.dart
  arkalia_cia/lib/screens/user_profile_screen.dart
Due: flutter

fix: Correction erreurs null safety et gestion erreurs
  arkalia_cia/lib/screens/auth/welcome_auth_screen.dart
  arkalia_cia/lib/services/google_auth_service.dart
  arkalia_cia/lib/widgets/emergency_contact_card.dart
Due: flutter

fix: Correction erreurs firstWhere et accès index
  arkalia_cia/lib/screens/doctors_list_screen.dart
  arkalia_cia/lib/screens/pathology_list_screen.dart
Due: flutter

fix: Correction firstWhere dans pathology_list_screen
  arkalia_cia/lib/screens/pathology_list_screen.dart
Due: flutter

Path conditions:
  python: any of: arkalia_cia_python_backend/, but not: **/test/, **/tests/, **/__pycache__/, **/build/, **/dist/, **/coverage/, **/htmlcov/, **/*.g.dart, **/*.freezed.dart, **/generated/, **/venv/, **/node_modules/
  flutter: any of: arkalia_cia/lib/, but not: **/test/, **/tests/, **/__pycache__/, **/build/, **/dist/, **/coverage/, **/htmlcov/, **/*.g.dart, **/*.freezed.dart, **/generated/, **/venv/, **/node_modules/
