Repository arkalia-luna-system/arkalia-cia: changes, and which Codecov flags are due for each by the changed paths.
All: python, flutter

.codecov.yml:

# Configuration Codecov pour Arkalia CIA
# Supporte Python (backend) et Flutter (mobile)

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        base: auto
    patch:
      default:
        target: 60%
        threshold: 1%
        base: auto

flags:
  python:
    paths:
      - arkalia_cia_python_backend/
    carryforward: true
  flutter:
    paths:
      - arkalia_cia/lib/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false

ignore:
  - "**/test/"
  - "**/tests/"
  - "**/__pycache__/"
  - "**/build/"
  - "**/dist/"
  - "**/coverage/"
  - "**/htmlcov/"
  - "**/*.g.dart"
  - "**/*.freezed.dart"
  - "**/generated/"
  - "**/venv/"
  - "**/node_modules/"

perf: alléger encore watch Android et clean_macos_files
  arkalia_cia/android/watch-macos-files.sh
  scripts/clean_macos_files.sh
Due: none

fix(pwa): versionne les icônes web requises
  .gitignore
  arkalia_cia/web/icons/Icon-192.png
  arkalia_cia/web/icons/Icon-512.png
  arkalia_cia/web/icons/Icon-maskable-192.png
  arkalia_cia/web/icons/Icon-maskable-512.png
Due: none

perf(make): clean plus léger (find prune)
  Makefile
Due: none

fix(ci): chemins PWA depuis web/, CodeQL category python, pas d’exposition d’exceptions
  .github/workflows/codeql-analysis.yml
  arkalia_cia_python_backend/ai/pattern_analyzer.py
  arkalia_cia_python_backend/api.py
  tests/web/pwa_test.dart
Due: python

chore(deps): actions v6/v9, paquets Python sûrs, uuid/device_info; calmer Dependabot
  .github/dependabot.yml
  .github/workflows/ci-matrix.yml
  .github/workflows/flutter-ci.yml
  .github/workflows/security-scan.yml
  README.md
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
  requirements.txt
Due: none

chore(deps): Actions Java/Pages v5, Python patch, flutter_secure_storage 10
  .github/workflows/deploy-play-store.yml
  .github/workflows/flutter-ci.yml
  arkalia_cia/ios/Runner/GeneratedPluginRegistrant.m
  arkalia_cia/lib/utils/encryption_helper.dart
  arkalia_cia/macos/Flutter/GeneratedPluginRegistrant.swift
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
  requirements.txt
Due: flutter

fix(ci): cupertino_icons 1.0.8 pour Dart 3.7 (Flutter 3.29)
  .github/dependabot.yml
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
Due: none

chore(deps): requests 2.34, reportlab 4.5.1, secure_storage 10.2, file_picker 10.3.10
  .github/dependabot.yml
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
  requirements.txt
Due: none

ci: renommer le workflow « CI_CD_Matrix_Ultra_Pro » en « Arkalia CI »
  .github/BRANCH_PROTECTION.md
  .github/workflows/ci-matrix.yml
Due: none

test: doses manquées — dates fixes (évite échec CI à 8h–9h)
  tests/unit/test_medication_service.py
Due: none

chore(deps): Actions v7, Python patch/minor, Flutter 10.3.1 / connectivity 7.3
  .github/dependabot.yml
  .github/workflows/ci-matrix.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-play-store.yml
  .github/workflows/flutter-ci.yml
  .github/workflows/security-scan.yml
  SECURITY.md
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
  requirements.txt
Due: none

fix(security): ne plus exposer les exceptions HTTP ; deps Python/Flutter
  .github/dependabot.yml
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/aria_integration/api.py
  arkalia_cia_python_backend/auth.py
  requirements.txt
Due: python

fix: import portail sans fuite CodeQL, lints Flutter, table_calendar 3.2.1
  arkalia_cia/lib/screens/settings_screen.dart
  arkalia_cia/lib/services/category_service.dart
  arkalia_cia/pubspec.lock
  arkalia_cia_python_backend/api.py
Due: python, flutter

fix(security): messages d’erreur génériques (health, PDF, OCR, dashboard)
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/pdf_parser/ocr_integration.py
  arkalia_cia_python_backend/pdf_parser/ocr_processor.py
  arkalia_cia_python_backend/pdf_processor.py
  arkalia_cia_python_backend/security/ssrf_validator.py
  arkalia_cia_python_backend/security_dashboard.py
Due: python

docs: titre README en bêta (plus de signal production)
  README.md
Due: none

docs: retirer badges Good First Issue / Help Wanted
  README.md
Due: none

chore(deps): pypdf 6.16.0, uvicorn 0.52.3 ; ignorer Starlette 1.x
  .github/dependabot.yml
  requirements.txt
Due: none

chore(deps): phonenumbers 9.0.37
  requirements.txt
Due: none

fix(android): versionner le Gradle Wrapper 8.12 pour Java 17
  arkalia_cia/android/.gitignore
  arkalia_cia/android/gradle/wrapper/gradle-wrapper.jar
  arkalia_cia/android/gradle/wrapper/gradle-wrapper.properties
  arkalia_cia/android/gradlew
  arkalia_cia/android/gradlew.bat
Due: none
