Repository arkalia-luna-system/arkalia-cia: changes, and which Codecov flags are due for each by the changed paths.
All: python, flutter

.codecov.yml:

# Configuration Codecov pour Arkalia CIA
# Supporte Python (backend) et Flutter (mobile)

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        base: auto
    patch:
      default:
        target: 60%
        threshold: 1%
        base: auto

flags:
  python:
    paths:
      - arkalia_cia_python_backend/
    carryforward: true
  flutter:
    paths:
      - arkalia_cia/lib/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false

ignore:
  - "**/test/"
  - "**/tests/"
  - "**/__pycache__/"
  - "**/build/"
  - "**/dist/"
  - "**/coverage/"
  - "**/htmlcov/"
  - "**/*.g.dart"
  - "**/*.freezed.dart"
  - "**/generated/"
  - "**/venv/"
  - "**/node_modules/"

docs: Clarification séparation ARIA + Récap ce qui reste à faire CIA
  docs/CE_QUI_MANQUE_10_DECEMBRE_2025.md
  docs/CE_QUI_RESTE_A_FAIRE_CIA_12_DECEMBRE_2025.md
  docs/integrations/ARIA_INTEGRATION.md
Due: none

docs: Retrait ARIA serveur de la liste problèmes CIA
  docs/CE_QUI_RESTE_A_FAIRE_CIA_12_DECEMBRE_2025.md
  docs/audits/RESUME_CORRECTIONS_12_DECEMBRE_2025.md
Due: none

feat: Portails santé épinglage + Contacts urgence personnalisation
  README.md
  arkalia_cia/lib/models/pathology.dart
  arkalia_cia/lib/screens/auth/welcome_auth_screen.dart
  arkalia_cia/lib/screens/health_screen.dart
  arkalia_cia/lib/services/calendar_service.dart
  arkalia_cia/lib/services/health_portal_favorites_service.dart
  arkalia_cia/lib/widgets/emergency_contact_card.dart
  arkalia_cia/lib/widgets/emergency_contact_dialog.dart
  arkalia_cia/test/services/health_portal_favorites_service_test.dart
  docs/CONTRIBUTING.md
  docs/meta/TESTS_DOCUMENTATION_COMPLETE.md
Due: flutter

docs: Mise à jour statut problèmes résolus
  docs/CE_QUI_RESTE_A_FAIRE_CIA_12_DECEMBRE_2025.md
Due: none

docs: Audit qualité code & maintenabilité 12 décembre 2025
  docs/CE_QUI_MANQUE_10_DECEMBRE_2025.md
  docs/audits/AUDIT_QUALITE_CODE_12_DECEMBRE_2025.md
Due: none

docs: Ajout audit qualité code dans index documentation
  docs/INDEX_DOCUMENTATION.md
Due: none

docs: Nettoyage et simplification MD principaux
  docs/CE_QUI_MANQUE_10_DECEMBRE_2025.md
  docs/CE_QUI_RESTE_A_FAIRE_CIA_12_DECEMBRE_2025.md
Due: none

docs: Nettoyage complet MD - Ton neutre, suppression emojis/badges
  docs/CE_QUI_RESTE_A_FAIRE_CIA_12_DECEMBRE_2025.md
  docs/README.md
  docs/audits/AUDIT_QUALITE_CODE_12_DECEMBRE_2025.md
  docs/audits/RECAP_COMPLET_12_DECEMBRE_2025.md
  docs/audits/RESUME_CORRECTIONS_12_DECEMBRE_2025.md
Due: none

docs: Nettoyage final RECAP_COMPLET - Suppression emojis restants
  docs/audits/RECAP_COMPLET_12_DECEMBRE_2025.md
Due: none

docs: Plan d'action pour problèmes restants
  docs/PLAN_ACTION_RESTANT_12_DECEMBRE_2025.md
Due: none

feat: Ajout système catégories/sous-catégories pour pathologies
  arkalia_cia/lib/models/pathology.dart
  arkalia_cia/lib/screens/pathology_list_screen.dart
  arkalia_cia/lib/services/pathology_category_service.dart
  arkalia_cia/lib/services/pathology_service.dart
  arkalia_cia/test/models/pathology_test.dart
  arkalia_cia/test/services/pathology_category_service_test.dart
  docs/CE_QUI_RESTE_A_FAIRE_CIA_12_DECEMBRE_2025.md
  docs/PLAN_ACTION_RESTANT_12_DECEMBRE_2025.md
Due: flutter

feat: Détection automatique médecins depuis PDF
  .cursorignore
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/services/doctor_detection_service.dart
  arkalia_cia/test/services/doctor_detection_service_test.dart
  docs/CE_QUI_RESTE_A_FAIRE_CIA_12_DECEMBRE_2025.md
  docs/PLAN_ACTION_RESTANT_12_DECEMBRE_2025.md
Due: flutter

docs: Mise à jour documentation - Médecins détection auto résolu
  docs/CE_QUI_RESTE_A_FAIRE_CIA_12_DECEMBRE_2025.md
Due: none

docs: Suppression section Médecins détection auto (résolu)
  docs/CE_QUI_RESTE_A_FAIRE_CIA_12_DECEMBRE_2025.md
Due: none

feat: Réorganisation placement statistiques dans UI
  arkalia_cia/lib/screens/family_sharing_screen.dart
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/screens/patterns_dashboard_screen.dart
  arkalia_cia/lib/screens/settings_screen.dart
  arkalia_cia/test/screens/settings_screen_test.dart
  arkalia_cia_python_backend/ai/pattern_analyzer.py
  arkalia_cia_python_backend/api.py
  docs/CE_QUI_RESTE_A_FAIRE_CIA_12_DECEMBRE_2025.md
  tests/unit/test_api_ai_endpoints.py
  tests/unit/test_pattern_analyzer.py
Due: python, flutter

feat: Améliorations pathologies (modifications utilisateur)
  arkalia_cia/lib/models/pathology.dart
  arkalia_cia/lib/services/pathology_service.dart
Due: flutter

fix: Correction imports inutilisés et incohérence documentation
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/services/pathology_category_service.dart
  docs/CE_QUI_RESTE_A_FAIRE_CIA_12_DECEMBRE_2025.md
Due: flutter

docs: Mise à jour documentation profil multi-appareil
  docs/CE_QUI_MANQUE_10_DECEMBRE_2025.md
  docs/CHANGELOG.md
  docs/PLAN_ACTION_RESTANT_12_DECEMBRE_2025.md
Due: none

docs: Mise à jour CE_QUI_MANQUE avec profil multi-appareil implémenté
  docs/CE_QUI_MANQUE_10_DECEMBRE_2025.md
Due: none

feat: Corrections finales profil multi-appareil + accessibilité
  README.md
  arkalia_cia/assets/images/banner.png
  arkalia_cia/assets/images/logo-512.png
  arkalia_cia/assets/images/logo.png
  arkalia_cia/lib/screens/auth/login_screen.dart
  arkalia_cia/lib/screens/auth/welcome_auth_screen.dart
  arkalia_cia/lib/screens/bbia_integration_screen.dart
  arkalia_cia/lib/screens/doctors_list_screen.dart
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/screens/lock_screen.dart
  arkalia_cia/lib/screens/onboarding/welcome_screen.dart
  arkalia_cia/lib/screens/pathology_list_screen.dart
  arkalia_cia/lib/screens/settings_screen.dart
  arkalia_cia/lib/screens/user_profile_screen.dart
  docs/CE_QUI_RESTE_A_FAIRE_CIA_12_DECEMBRE_2025.md
  docs/PLAN_ACTION_RESTANT_12_DECEMBRE_2025.md
  docs/status/STATUT_FINAL_PROJET.md
Due: flutter

feat: Améliorations visuelles complètes - uniformisation UI (12 déc 2025)
  arkalia_cia/lib/screens/advanced_search_screen.dart
  arkalia_cia/lib/screens/bbia_integration_screen.dart
  arkalia_cia/lib/screens/doctors_list_screen.dart
  arkalia_cia/lib/screens/emergency_screen.dart
  arkalia_cia/lib/screens/health_screen.dart
  arkalia_cia/lib/screens/medical_report_screen.dart
  arkalia_cia/lib/screens/medication_reminders_screen.dart
  arkalia_cia/lib/screens/pathology_detail_screen.dart
  arkalia_cia/lib/screens/reminders_screen.dart
  arkalia_cia/lib/services/user_profile_service.dart
Due: flutter

fix: Correction compilation web - suppression import dart:io
  arkalia_cia/lib/services/user_profile_service.dart
Due: flutter

feat: Améliorations visuelles finales - IconButton et accessibilité (12 déc 2025)
  arkalia_cia/lib/screens/conversational_ai_screen.dart
  arkalia_cia/lib/screens/emergency_screen.dart
  arkalia_cia/lib/screens/health_screen.dart
  arkalia_cia/lib/screens/medication_reminders_screen.dart
  arkalia_cia/lib/screens/onboarding/import_choice_screen.dart
  arkalia_cia/lib/screens/pathology_list_screen.dart
  arkalia_cia/lib/screens/user_profile_screen.dart
Due: flutter

fix: Migration withOpacity → withValues(alpha) pour compatibilité Flutter (12 déc 2025)
  arkalia_cia/lib/screens/advanced_search_screen.dart
  arkalia_cia/lib/screens/conversational_ai_screen.dart
  arkalia_cia/lib/screens/doctors_list_screen.dart
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/emergency_screen.dart
  arkalia_cia/lib/screens/health_screen.dart
  arkalia_cia/lib/screens/medication_reminders_screen.dart
  arkalia_cia/lib/screens/reminders_screen.dart
  arkalia_cia/lib/screens/user_profile_screen.dart
Due: flutter

fix: Correction erreurs compilation web health_screen
  arkalia_cia/lib/screens/health_screen.dart
Due: flutter

feat: Améliorations visuelles finales - ListTile et cohérence (12 déc 2025)
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/screens/pathology_list_screen.dart
Due: flutter

fix: Correction const Container avec withValues dans health_screen
  arkalia_cia/lib/screens/health_screen.dart
Due: flutter

fix: Correction erreurs compilation Flutter (12 déc 2025)
  arkalia_cia/lib/screens/conversational_ai_screen.dart
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/screens/pathology_list_screen.dart
Due: flutter

docs: Mise à jour documentation - Tous problèmes prioritaires résolus (12 déc 2025)
  docs/CE_QUI_RESTE_A_FAIRE_CIA_12_DECEMBRE_2025.md
  docs/PLAN_ACTION_RESTANT_12_DECEMBRE_2025.md
Due: none

fix: Correction erreur syntaxe medication_reminders_screen.dart - déplacement constraints au bon endroit
  arkalia_cia/lib/screens/medication_reminders_screen.dart
  arkalia_cia/pubspec.yaml
Due: flutter

feat: Implémentation connexion Google/Gmail gratuite et offline-first
  README.md
  arkalia_cia/ios/Runner/Info.plist
  arkalia_cia/lib/screens/auth/welcome_auth_screen.dart
  arkalia_cia/lib/services/google_auth_service.dart
  arkalia_cia/pubspec.yaml
  docs/guides/GUIDE_GOOGLE_SIGN_IN.md
Due: flutter

Améliorations UI: ajout RefreshIndicator, navigation améliorée et actions cohérentes
  arkalia_cia/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  arkalia_cia/android/gradle.properties
  arkalia_cia/ios/Runner/GeneratedPluginRegistrant.m
  arkalia_cia/lib/screens/advanced_search_screen.dart
  arkalia_cia/lib/screens/auth/login_screen.dart
  arkalia_cia/lib/screens/bbia_integration_screen.dart
  arkalia_cia/lib/screens/calendar_screen.dart
  arkalia_cia/lib/screens/conversational_ai_screen.dart
  arkalia_cia/lib/screens/doctors_list_screen.dart
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/family_sharing_screen.dart
  arkalia_cia/lib/screens/health_screen.dart
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/screens/hydration_reminders_screen.dart
  arkalia_cia/lib/screens/lock_screen.dart
  arkalia_cia/lib/screens/manage_family_members_screen.dart
  arkalia_cia/lib/screens/medical_report_screen.dart
  arkalia_cia/lib/screens/medication_reminders_screen.dart
  arkalia_cia/lib/screens/onboarding/import_choice_screen.dart
  arkalia_cia/lib/screens/onboarding/import_progress_screen.dart
  arkalia_cia/lib/screens/onboarding/welcome_screen.dart
  arkalia_cia/lib/screens/pathology_detail_screen.dart
  arkalia_cia/lib/screens/pathology_list_screen.dart
  arkalia_cia/lib/screens/patterns_dashboard_screen.dart
  arkalia_cia/lib/screens/reminders_screen.dart
  arkalia_cia/lib/screens/settings_screen.dart
  arkalia_cia/lib/screens/stats_screen.dart
  arkalia_cia/lib/services/calendar_service.dart
  arkalia_cia/lib/widgets/emergency_contact_card.dart
  arkalia_cia/lib/widgets/emergency_contact_dialog.dart
  arkalia_cia/lib/widgets/exam_type_badge.dart
  arkalia_cia/macos/Flutter/GeneratedPluginRegistrant.swift
  arkalia_cia/pubspec.lock
  arkalia_cia/test/models/device_test.dart
  arkalia_cia/test/models/pathology_test.dart
  arkalia_cia/test/models/user_profile_test.dart
  arkalia_cia/test/services/user_profile_service_test.dart
  docs/guides/AJOUTER_SHA1_PRODUCTION.md
  docs/guides/SECURITE_GOOGLE_SIGN_IN.md
Due: flutter

Ajout guide complet configuration Google Sign-In
  docs/guides/CONFIGURATION_GOOGLE_SIGN_IN_COMPLETE.md
Due: none

Ajout guide complet pour Comet Assistant - Finalisation Google Sign-In
  docs/guides/GUIDE_COMET_ASSISTANT_GOOGLE_SIGN_IN.md
Due: none

🚨 URGENT: Sécurisation Client Secret Google OAuth2 - Retrait des secrets exposés
  docs/guides/CONFIGURATION_GOOGLE_SIGN_IN_COMPLETE.md
  docs/guides/CREER_EMULATEUR_ANDROID.md
  docs/guides/DEBUG_GOOGLE_SIGN_IN.md
  docs/guides/FIX_FICHIERS_MACOS.md
  docs/guides/LANCER_APP_ANDROID.md
  docs/guides/RECONNECTER_TELEPHONE.md
  docs/guides/SECURITE_GOOGLE_SIGN_IN.md
  docs/guides/TESTER_SUR_TELEPHONE.md
  docs/guides/TEST_GOOGLE_SIGN_IN.md
  docs/guides/URGENT_SECURITE_CLIENT_SECRET.md
Due: none

Ajout résumé des actions de sécurité pour Client Secret
  docs/guides/RESUME_ACTIONS_SECURITE.md
Due: none

✅ Correction Info.plist iOS - Configuration Google Sign-In complète
  arkalia_cia/ios/Runner/Info.plist
  docs/guides/ACTION_FINALE_GOOGLE_SIGN_IN.md
Due: none

fix(auth): Amélioration déconnexion - Appel GoogleAuthService.signOut()
  arkalia_cia/lib/screens/settings_screen.dart
  docs/guides/GUIDE_TEST_GOOGLE_SIGN_IN_SIMPLE.md
Due: flutter

feat(scripts): Ajout script unifié run-android.sh pour lancer l'app Android
  arkalia_cia/scripts/run-android.sh
Due: none
