Repository arkalia-luna-system/arkalia-cia: changes, and which Codecov flags are due for each by the changed paths.
All: python, flutter

security(ci): durcir les erreurs API et stabiliser les workflows
  .github/workflows/ci-matrix.yml
  .github/workflows/deploy-play-store.yml
  .github/workflows/flutter-ci.yml
  .github/workflows/security-scan.yml
  README.md
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/aria_integration/api.py
Due: python

security+quality: close codeql findings and resolve open issues
  .github/workflows/ci-matrix.yml
  arkalia_cia/test/widget/home_screen_test.dart
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/services/health_portal_parsers.py
  requirements.txt
  tests/conftest.py
  tests/unit/test_security_vulnerabilities.py
Due: python

Fix lint/type issues in ARIA summary and PDF export.
  arkalia_cia_python_backend/aria_integration/api.py
  arkalia_cia_python_backend/services/medical_report_service.py
  tests/e2e/test_end_to_end_flows.py
Due: python

fix(flutter): align contacts service with flutter_contacts API
  arkalia_cia/lib/services/contacts_service.dart
Due: flutter

fix(flutter): adapt file picker calls for file_picker v11
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/onboarding/import_choice_screen.dart
  arkalia_cia/lib/screens/sync_screen.dart
Due: flutter

fix(flutter): restore flutter_contacts v2 compatibility
  arkalia_cia/lib/services/contacts_service.dart
Due: flutter

test(flutter): rename local helper to satisfy lint rule
  arkalia_cia/test/widget/home_screen_test.dart
Due: none

fix(flutter): pin flutter_contacts 1.1.9+2 for CI compatibility
  arkalia_cia/lib/services/contacts_service.dart
  arkalia_cia/macos/Flutter/GeneratedPluginRegistrant.swift
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
Due: flutter

fix(ci): stabilize flutter lint/tests and pre-clean macOS sidecar files
  .github/workflows/flutter-ci.yml
  arkalia_cia/lib/screens/emergency_screen.dart
  arkalia_cia/lib/services/contacts_service.dart
  arkalia_cia/lib/widgets/emergency_contact_dialog.dart
  arkalia_cia/macos/Flutter/GeneratedPluginRegistrant.swift
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
  arkalia_cia/test/widget_test.dart
Due: flutter

ci: opt workflows into Node 24 for GitHub Actions runtime
  .github/workflows/ci-matrix.yml
  .github/workflows/security-scan.yml
Due: none

Durcit CI Flutter et sécurité backend pour pré-production.
  .github/workflows/flutter-ci.yml
  arkalia_cia_python_backend/api.py
Due: python

Réduit les dépréciations Flutter sur les écrans et widgets.
  arkalia_cia/lib/screens/advanced_search_screen.dart
  arkalia_cia/lib/screens/auth/login_screen.dart
  arkalia_cia/lib/screens/auth/welcome_auth_screen.dart
  arkalia_cia/lib/screens/bbia_integration_screen.dart
  arkalia_cia/lib/screens/calendar_screen.dart
  arkalia_cia/lib/screens/conversational_ai_screen.dart
  arkalia_cia/lib/screens/doctors_list_screen.dart
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/emergency_screen.dart
  arkalia_cia/lib/screens/health_screen.dart
  arkalia_cia/lib/screens/hydration_reminders_screen.dart
  arkalia_cia/lib/screens/lock_screen.dart
  arkalia_cia/lib/screens/medical_report_screen.dart
  arkalia_cia/lib/screens/medication_reminders_screen.dart
  arkalia_cia/lib/screens/onboarding/import_choice_screen.dart
  arkalia_cia/lib/screens/onboarding/import_progress_screen.dart
  arkalia_cia/lib/screens/onboarding/welcome_screen.dart
  arkalia_cia/lib/screens/pathology_detail_screen.dart
  arkalia_cia/lib/screens/pathology_list_screen.dart
  arkalia_cia/lib/screens/patterns_dashboard_screen.dart
  arkalia_cia/lib/screens/reminders_screen.dart
  arkalia_cia/lib/screens/stats_screen.dart
  arkalia_cia/lib/screens/user_profile_screen.dart
  arkalia_cia/lib/services/calendar_service.dart
  arkalia_cia/lib/widgets/emergency_contact_card.dart
  arkalia_cia/lib/widgets/emergency_contact_dialog.dart
  arkalia_cia/lib/widgets/exam_type_badge.dart
Due: flutter

ci: opt all workflows into Node 24 runtime
  .github/workflows/ci-matrix.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-play-store.yml
  .github/workflows/flutter-ci.yml
  .github/workflows/security-scan.yml
Due: none

Réduit les dépréciations Flutter restantes à faible risque.
  arkalia_cia/lib/screens/manage_family_members_screen.dart
  arkalia_cia/lib/screens/medication_reminders_screen.dart
  arkalia_cia/lib/services/web_file_helper_web.dart
  arkalia_cia/lib/widgets/emergency_contact_dialog.dart
  arkalia_cia/test/models/pathology_test.dart
Due: flutter

ci: remove AppleDouble sidecar files in python pipelines
  .github/workflows/ci-matrix.yml
  .github/workflows/security-scan.yml
Due: none

Migre les sélecteurs Radio vers RadioGroup sur les écrans clés.
  arkalia_cia/lib/screens/advanced_search_screen.dart
  arkalia_cia/lib/screens/pathology_list_screen.dart
  arkalia_cia/lib/screens/settings_screen.dart
Due: flutter

fix(python): add missing requests dependency for ARIA API import
  requirements.txt
Due: none

Finalise la migration Flutter et nettoie les derniers lints const.
  arkalia_cia/lib/screens/advanced_search_screen.dart
  arkalia_cia/lib/screens/calendar_screen.dart
  arkalia_cia/lib/screens/pathology_list_screen.dart
Due: flutter

refactor(flutter): replace deprecated radio selection API in settings and filters
  arkalia_cia/lib/screens/settings_screen.dart
Due: flutter

ci: fiabilise Flutter tests et prépare Node 24
  .github/workflows/ci-matrix.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-play-store.yml
  .github/workflows/flutter-ci.yml
  .github/workflows/security-scan.yml
  arkalia_cia/test/widget_test.dart
Due: none

fix(ci): analyse Flutter 3.29, export PDF et typage JWT
  arkalia_cia/lib/screens/manage_family_members_screen.dart
  arkalia_cia/lib/screens/medication_reminders_screen.dart
  arkalia_cia/lib/screens/settings_screen.dart
  arkalia_cia_python_backend/auth.py
  arkalia_cia_python_backend/services/medical_report_service.py
Due: python, flutter

perf: réduire la charge disque et CPU en local
  arkalia_cia/android/build-android.sh
  arkalia_cia/android/watch-macos-files.sh
  pytest.ini
  scripts/cleanup_all.sh
  scripts/run_tests.sh
Due: none

Path conditions:
  python: any of: arkalia_cia_python_backend/, but not: **/test/, **/tests/, **/__pycache__/, **/build/, **/dist/, **/coverage/, **/htmlcov/, **/*.g.dart, **/*.freezed.dart, **/generated/, **/venv/, **/node_modules/
  flutter: any of: arkalia_cia/lib/, but not: **/test/, **/tests/, **/__pycache__/, **/build/, **/dist/, **/coverage/, **/htmlcov/, **/*.g.dart, **/*.freezed.dart, **/generated/, **/venv/, **/node_modules/
