Repository arkalia-luna-system/arkalia-cia: changes, and which Codecov flags are due for each by the changed paths.
All: python, flutter

docs: Résumé final - Tout est prêt pour déploiement PWA
  docs/deployment/TOUT_EST_PRET_PWA.md
Due: none

feat: Déploiement PWA GitHub Pages + guide desktop
  arkalia_cia/web/sw.js
  docs/guides/GUIDE_INSTALLATION_PWA_DESKTOP.md
  docs/guides/GUIDE_INSTALLATION_PWA_MAMAN.md
Due: none

fix: Correction formatage guide desktop PWA
  docs/guides/GUIDE_INSTALLATION_PWA_DESKTOP.md
Due: none

docs: Documentation déploiement réussi PWA
  docs/deployment/DEPLOIEMENT_REUSSI_PWA.md
Due: none

fix: Correction formatage Markdown guide desktop
  docs/guides/GUIDE_INSTALLATION_PWA_DESKTOP.md
Due: none

docs: Résumé final déploiement complet PWA
  docs/deployment/RESUME_FINAL_DEPLOIEMENT_COMPLET.md
Due: none

fix: Correction chemins service worker pour GitHub Pages
  arkalia_cia/web/index.html
  arkalia_cia/web/sw.js
Due: none

docs: Documentation fix 404 GitHub Pages
  docs/deployment/FIX_404_GITHUB_PAGES.md
Due: none

feat: Script déploiement automatique PWA + fix 404
  docs/deployment/GUIDE_DEPLOIEMENT_PWA.md
  scripts/deploy_pwa_github_pages.sh
Due: none

fix: Correction base-href dans script déploiement PWA
  docs/deployment/GUIDE_DEPLOIEMENT_PWA.md
  scripts/deploy_pwa_github_pages.sh
Due: none

docs: Documentation fix page blanche GitHub Pages
  docs/deployment/FIX_PAGE_BLANCHE.md
Due: none

fix: Corrections audit README + fix Comet page blanche
  README.md
  arkalia_cia/web/index.html
  arkalia_cia/web/sw.js
  docs/deployment/FIX_COMET_PAGE_BLANCHE.md
Due: none

feat: Authentification PIN local pour web (PWA)
  arkalia_cia/lib/screens/lock_screen.dart
  arkalia_cia/lib/screens/pin_entry_screen.dart
  arkalia_cia/lib/screens/pin_setup_screen.dart
  arkalia_cia/lib/services/auth_service.dart
  arkalia_cia/lib/services/pin_auth_service.dart
  arkalia_cia/test/services/pin_auth_service_test.dart
  docs/SECURITY_WEB_AUTH.md
Due: flutter

docs: Résumé final authentification web PWA
  docs/deployment/RESUME_FINAL_AUTHENTIFICATION_WEB.md
Due: none

docs: Résumé final tout est parfait authentification web
  docs/deployment/TOUT_EST_PARFAIT_AUTH_WEB.md
Due: none

refactor: Nettoyage références Play Store + archivage documentation
  docs/POUR_MAMAN.md
  docs/archive/play-store/CE_QUE_TU_DOIS_FAIRE.md
  docs/archive/play-store/CONTACT_SUPPORT_GOOGLE_PLAY.md
  docs/archive/play-store/GUIDE_ACTIONS_PLAY_CONSOLE.md
  docs/archive/play-store/GUIDE_PLAY_CONSOLE_VERSION.md
  docs/archive/play-store/PLAY_STORE_SETUP.md
  docs/archive/play-store/REPONSE_GOOGLE_SUPPORT.md
  docs/archive/play-store/RESOLUTION_ANDROID_XR.md
  docs/archive/play-store/SOLUTION_PROBLEMES_PLAY_CONSOLE.md
  docs/archive/play-store/VERIFICATION_CONFORMITE_GOOGLE_PLAY.md
  docs/deployment/DEPLOYMENT.md
  docs/deployment/STATUT_DEPLOIEMENT_FINAL.md
Due: none

docs: Configuration GitHub Pages (déploiement manuel)
  docs/deployment/CONFIGURATION_GITHUB_PAGES.md
Due: none

docs: Mise à jour date et URL PWA dans POUR_MAMAN.md
  docs/POUR_MAMAN.md
Due: none

docs: Résumé final nettoyage références Play Store
  docs/deployment/RESUME_FINAL_NETTOYAGE.md
Due: none

docs: Documentation branches backup + création backup/v1.3.1
  docs/deployment/BACKUP_BRANCHES.md
Due: none

fix: Corrections navigation, onboarding et authentification
  arkalia_cia/lib/screens/auth/login_screen.dart
  arkalia_cia/lib/screens/auth/register_screen.dart
  arkalia_cia/lib/screens/onboarding/import_choice_screen.dart
  arkalia_cia/lib/screens/onboarding/import_progress_screen.dart
  arkalia_cia/lib/screens/onboarding/welcome_screen.dart
  docs/deployment/CORRECTIONS_NAVIGATION_AUTH_10_DEC.md
  test/screens/auth/register_screen_test.dart
  test/screens/onboarding/welcome_screen_test.dart
Due: flutter

fix: Réorganisation tests et correction chemins
  .gitignore
  arkalia_cia/test/screens/auth/register_screen_test.dart
  arkalia_cia/test/screens/onboarding/welcome_screen_test.dart
  docs/audits/AUDIT_STRUCTURE_DECEMBRE_2025.md
  docs/deployment/CORRECTIONS_NAVIGATION_AUTH_10_DEC.md
  docs/deployment/TOUT_EST_PARFAIT_AUTH_WEB.md
  docs/deployment/VERIFICATION_FINALE_PWA.md
  scripts/cleanup_all.sh
  scripts/common_functions.sh
  scripts/run_tests.sh
  scripts/start_backend_safe.sh
  scripts/start_flutter_safe.sh
  tests/conftest.py
Due: none

fix: Correction test validation email register_screen
  arkalia_cia/test/screens/auth/register_screen_test.dart
Due: none

fix: Correction erreurs compilation withValues -> withOpacity
  .gitignore
  arkalia_cia/lib/screens/onboarding/import_choice_screen.dart
  arkalia_cia/lib/screens/onboarding/import_progress_screen.dart
  arkalia_cia/test/screens/auth/register_screen_test.dart
  docs/audits/AUDIT_STRUCTURE_DECEMBRE_2025.md
  docs/deployment/RESUME_FINAL_AUTHENTIFICATION_WEB.md
  docs/deployment/RESUME_FINAL_COMPLET.md
  docs/deployment/RESUME_FINAL_DEPLOIEMENT.md
  docs/deployment/RESUME_FINAL_DEPLOIEMENT_COMPLET.md
  docs/deployment/RESUME_FINAL_NETTOYAGE.md
  docs/deployment/RESUME_FINAL_PWA.md
  scripts/cleanup_documentation.sh
  scripts/common_functions.sh
Due: flutter

fix: Correction test register_screen (scroll avant tap)
  arkalia_cia/test/screens/auth/register_screen_test.dart
  docs/audits/AUDIT_STRUCTURE_DECEMBRE_2025.md
  docs/deployment/TOUT_EST_PARFAIT_AUTH_WEB.md
  docs/deployment/TOUT_EST_PRET_PWA.md
Due: none

fix: Correction tous les tests register_screen (scroll avant tap)
  arkalia_cia/test/screens/auth/register_screen_test.dart
Due: none

chore: Audit structure complet - Note 10/10 ✅
  arkalia_cia/test/screens/auth/register_screen_test.dart
  docs/audits/AUDIT_STRUCTURE_DECEMBRE_2025.md
Due: none

docs: Audit complet sécurité & perfection - Identifie fragilités et manques
  docs/audits/AUDIT_SECURITE_PERFECTION_DECEMBRE_2025.md
Due: none

Fix: Correction blocage WelcomeScreen après PIN et améliorations onboarding
  arkalia_cia/lib/screens/onboarding/import_choice_screen.dart
  arkalia_cia/lib/screens/onboarding/import_progress_screen.dart
  arkalia_cia/lib/screens/onboarding/welcome_screen.dart
  arkalia_cia/lib/services/runtime_security_service.dart
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
  arkalia_cia/test/screens/onboarding/welcome_screen_test.dart
  docs/deployment/CORRECTIONS_NAVIGATION_AUTH_10_DEC.md
Due: flutter

Fix: Corrections qualité code et optimisations
  arkalia_cia/lib/services/runtime_security_service.dart
  arkalia_cia/pubspec.yaml
  arkalia_cia_python_backend/auth.py
  docs/deployment/CORRECTIONS_NAVIGATION_AUTH_10_DEC.md
Due: python, flutter

feat: Implémentation sécurité perfection - Phase 1-2-3 partielle
  arkalia_cia/lib/main.dart
  arkalia_cia/lib/services/family_sharing_service.dart
  arkalia_cia/pubspec.lock
  arkalia_cia/test/services/onboarding_service_test.dart
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/auth.py
  arkalia_cia_python_backend/database.py
  arkalia_cia_python_backend/middleware/__init__.py
  arkalia_cia_python_backend/middleware/request_size_validator.py
  arkalia_cia_python_backend/services/medical_report_service.py
  docs/POLITIQUE_CONFIDENTIALITE.md
  docs/audits/AUDIT_SECURITE_PERFECTION_DECEMBRE_2025.md
  docs/deployment/CORRECTIONS_NAVIGATION_AUTH_10_DEC.md
  docs/integrations/STRATEGIE_GRATUITE_PORTAILS_SANTE.md
Due: python, flutter

feat(security): Finalisation sécurité 10/10 - RBAC, audit logs, consentement RGPD
  arkalia_cia/lib/screens/family_sharing_screen.dart
  arkalia_cia/lib/services/family_sharing_service.dart
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/services/medical_report_service.py
  docs/audits/AUDIT_SECURITE_PERFECTION_DECEMBRE_2025.md
Due: python, flutter

Fix: Corrections finales et implémentation export PDF
  arkalia_cia_python_backend/api.py
  docs/deployment/CORRECTIONS_NAVIGATION_AUTH_10_DEC.md
  tests/unit/test_medical_report_service.py
Due: python

Fix: Correction dernières erreurs lint Python
  arkalia_cia_python_backend/database.py
  arkalia_cia_python_backend/middleware/request_size_validator.py
Due: python

Docs: Mise à jour documentation avec corrections finales
  docs/deployment/CORRECTIONS_NAVIGATION_AUTH_10_DEC.md
Due: none

docs: Correction complète MD - Cohérence 10/10 atteint
  SECURITY.md
  docs/analysis/ANALYSE_COMPLETE_BESOINS_MERE.md
  docs/audits/AUDIT_SECURITE_PERFECTION_DECEMBRE_2025.md
  docs/audits/BILAN_FINAL_10_DECEMBRE_2025.md
Due: none

docs: Corrections finales - README et sections EN COURS
  README.md
  docs/audits/AUDIT_SECURITE_PERFECTION_DECEMBRE_2025.md
Due: none

docs: Correction dernière mention EN COURS - HSM
  docs/audits/AUDIT_SECURITE_PERFECTION_DECEMBRE_2025.md
Due: none

fix(flutter): Correction erreurs CI - withValues → withOpacity
  arkalia_cia/lib/screens/onboarding/import_choice_screen.dart
  arkalia_cia/lib/screens/onboarding/import_progress_screen.dart
  arkalia_cia/lib/screens/settings_screen.dart
  dashboard/security/security_dashboard.html
  quality_report.json
Due: flutter

feat(api): Endpoint export PDF rapports médicaux + tests
  arkalia_cia_python_backend/api.py
  tests/integration/test_medical_report_api.py
Due: python

Path conditions:
  python: any of: arkalia_cia_python_backend/, but not: **/test/, **/tests/, **/__pycache__/, **/build/, **/dist/, **/coverage/, **/htmlcov/, **/*.g.dart, **/*.freezed.dart, **/generated/, **/venv/, **/node_modules/
  flutter: any of: arkalia_cia/lib/, but not: **/test/, **/tests/, **/__pycache__/, **/build/, **/dist/, **/coverage/, **/htmlcov/, **/*.g.dart, **/*.freezed.dart, **/generated/, **/venv/, **/node_modules/
