Repository arkalia-luna-system/arkalia-cia: changes, and which Codecov flags are due for each by the changed paths.
All: python, flutter

Suppression des fichiers macOS ._* du dépôt Git
  .gitignore
Due: none

Nettoyage: suppression définitive des fichiers macOS ._* du dépôt
  arkalia_cia_python_backend/.!91811!._api.py
  arkalia_cia_python_backend/.!92021!._api.py
  arkalia_cia_python_backend/.!92022!._auto_documenter.py
  arkalia_cia_python_backend/.!92023!._pdf_processor.py
  arkalia_cia_python_backend/.!92024!._security_dashboard.py
  arkalia_cia_python_backend/.!92025!._storage.py
  arkalia_cia_python_backend/.!92026!._database.py
  arkalia_cia_python_backend/.!92027!._security_utils.py
  arkalia_cia_python_backend/.!92029!._.!91811!._api.py
  arkalia_cia_python_backend/.!92278!._api.py
  arkalia_cia_python_backend/.!92279!._auto_documenter.py
  arkalia_cia_python_backend/.!92280!._pdf_processor.py
  arkalia_cia_python_backend/.!92281!._security_dashboard.py
  arkalia_cia_python_backend/.!92282!._storage.py
  arkalia_cia_python_backend/.!92283!._database.py
  arkalia_cia_python_backend/.!92284!._security_utils.py
  arkalia_cia_python_backend/.!92286!._.!91811!._api.py
  arkalia_cia_python_backend/.!92288!._.!92021!._api.py
  arkalia_cia_python_backend/.!92290!._.!92022!._auto_documenter.py
  arkalia_cia_python_backend/.!92292!._.!92023!._pdf_processor.py
  arkalia_cia_python_backend/.!92294!._.!92024!._security_dashboard.py
  arkalia_cia_python_backend/.!92296!._.!92025!._storage.py
  arkalia_cia_python_backend/.!92298!._.!92026!._database.py
  arkalia_cia_python_backend/.!92300!._.!92027!._security_utils.py
  arkalia_cia_python_backend/.!92304!._.!92029!._.!91811!._api.py
  arkalia_cia_python_backend/aria_integration/.!91809!._api.py
  arkalia_cia_python_backend/aria_integration/.!92013!._api.py
  arkalia_cia_python_backend/aria_integration/.!92014!.___init__.py
  arkalia_cia_python_backend/aria_integration/.!92017!._.!91809!._api.py
  arkalia_cia_python_backend/aria_integration/.!92267!._api.py
  arkalia_cia_python_backend/aria_integration/.!92268!.___init__.py
  arkalia_cia_python_backend/aria_integration/.!92270!._.!91809!._api.py
  arkalia_cia_python_backend/aria_integration/.!92272!._.!92013!._api.py
  arkalia_cia_python_backend/aria_integration/.!92274!._.!92014!.___init__.py
  arkalia_cia_python_backend/aria_integration/.!92276!._.!92017!._.!91809!._api.py
Due: python

Formatage avec black et vérifications qualité de code
  arkalia_cia/ios/Flutter/Generated.xcconfig
  arkalia_cia/ios/Flutter/flutter_export_environment.sh
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/aria_integration/api.py
  arkalia_cia_python_backend/database.py
  dashboard/security/security_dashboard.html
  docs/AUDIT_COMPLET_19_NOVEMBRE_2025.md
  docs/CHANGELOG.md
  docs/CHECKLIST_FINALE_VERSION.md
  docs/RELEASE_NOTES_V1.2.0.md
  docs/VERIFICATION_FINALE_COMPLETE.md
Due: python

Correction: suppression commentaire type ignore inutilisé dans api.py
  .gitignore
  arkalia_cia_python_backend/api.py
Due: python

Ajout analyse complète besoins mère et roadmap écosystème Arkalia
  docs/ANALYSE_COMPLETE_BESOINS_MERE.md
Due: none

Fusion analyses complètes: enrichissement document besoins mère avec détails ARIA, benchmark projets open source et roadmap détaillée
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/services/theme_service.dart
  docs/ANALYSE_COMPLETE_BESOINS_MERE.md
Due: flutter

Ajout plans d'implémentation complets pour tous les besoins critiques (Parser PDF, Historique médecins, Recherche avancée, IA Patterns, Partage familial, IA Conversationnelle)
  docs/plans/PLAN_01_PARSER_PDF_MEDICAUX.md
  docs/plans/PLAN_02_HISTORIQUE_MEDECINS.md
  docs/plans/PLAN_03_RECHERCHE_AVANCEE.md
  docs/plans/PLAN_04_IA_PATTERNS.md
  docs/plans/PLAN_05_PARTAGE_FAMILIAL.md
  docs/plans/PLAN_06_IA_CONVERSATIONNELLE.md
  docs/plans/README.md
Due: none

Ajout PLAN_00: Onboarding intelligent première connexion avec import automatique et historique intelligent
  docs/plans/PLAN_00_ONBOARDING_INTELLIGENT.md
  docs/plans/README.md
Due: none

Ajout guide test visuel en live: Hot Reload, simulateurs, émulateurs, Widget Inspector
  docs/plans/GUIDE_TEST_VISUEL_LIVE.md
  docs/plans/README.md
Due: none

Implémentation onboarding: écran bienvenue et choix import (première partie PLAN_00)
  arkalia_cia/lib/screens/lock_screen.dart
  arkalia_cia/lib/screens/onboarding/import_choice_screen.dart
  arkalia_cia/lib/screens/onboarding/welcome_screen.dart
  arkalia_cia/lib/services/onboarding_service.dart
  scripts/reset_onboarding.sh
Due: flutter

Mise à jour statut implémentation: onboarding 30% fait, corrections iOS, bascule Android
  arkalia_cia/ios/Flutter/Generated.xcconfig
  arkalia_cia/ios/Flutter/flutter_export_environment.sh
  arkalia_cia/ios/Podfile
  arkalia_cia/ios/Podfile.lock
  arkalia_cia/lib/screens/onboarding/import_choice_screen.dart
  arkalia_cia/lib/screens/onboarding/welcome_screen.dart
  docs/plans/STATUS_IMPLEMENTATION.md
Due: flutter

Mise à jour README plans avec statut implémentation
  docs/plans/README.md
Due: none

Finalisation onboarding: import PDF manuel et écran progression
  arkalia_cia/android/local.properties
  arkalia_cia/lib/screens/onboarding/import_choice_screen.dart
  arkalia_cia/lib/screens/onboarding/import_progress_screen.dart
Due: flutter

Ajout modèles et service médecins (PLAN_02 début)
  arkalia_cia/lib/models/doctor.dart
  arkalia_cia/lib/services/doctor_service.dart
Due: flutter

Implémentation complète historique médecins (PLAN_02): modèles, service, écrans liste/détail/ajout
  arkalia_cia/lib/screens/add_edit_doctor_screen.dart
  arkalia_cia/lib/screens/doctor_detail_screen.dart
  arkalia_cia/lib/screens/doctors_list_screen.dart
  arkalia_cia/lib/screens/home_page.dart
Due: flutter

Correction erreur type spécialités médecins
  arkalia_cia/lib/screens/doctors_list_screen.dart
Due: flutter

Mise à jour statut: onboarding 50%, médecins 100% terminé
  docs/plans/STATUS_IMPLEMENTATION.md
Due: none

Implémentation recherche avancée (PLAN_03): service recherche, écran recherche avancée avec filtres, extraction métadonnées PDF
  arkalia_cia/lib/screens/advanced_search_screen.dart
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/services/search_service.dart
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/pdf_parser/__init__.py
  arkalia_cia_python_backend/pdf_parser/metadata_extractor.py
Due: python, flutter

Mise à jour statut: recherche avancée 80%, parser PDF 40%
  docs/plans/STATUS_IMPLEMENTATION.md
Due: none

Ajout résumé implémentation rapide: 70% besoins critiques résolus
  docs/plans/RESUME_IMPLÉMENTATION_RAPIDE.md
Due: none

Implémentation partage familial (PLAN_05): service, écrans gestion membres et partage documents
  arkalia_cia/lib/screens/family_sharing_screen.dart
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/screens/manage_family_members_screen.dart
  arkalia_cia/lib/services/family_sharing_service.dart
  arkalia_cia_python_backend/pdf_parser/ocr_processor.py
Due: python, flutter

Mise à jour statut final: partage familial 80%, IA patterns 30%
  arkalia_cia/android/local.properties
  arkalia_cia/check_updates.sh
  arkalia_cia/lib/screens/settings_screen.dart
  arkalia_cia/lib/screens/sync_screen.dart
  arkalia_cia_python_backend/ai/pattern_analyzer.py
  docs/plans/STATUS_IMPLEMENTATION.md
Due: python, flutter

Résumé final implémentation: 75% besoins critiques résolus
  arkalia_cia/update_all_devices.sh
  arkalia_cia/update_s25.sh
  docs/MISE_A_JOUR_S25_CORRIGEE.md
  docs/plans/RESUME_FINAL_IMPLÉMENTATION.md
Due: none

Implémentation IA conversationnelle (PLAN_06): backend + frontend, chat intelligent santé
  arkalia_cia/lib/screens/conversational_ai_screen.dart
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/screens/onboarding/import_choice_screen.dart
  arkalia_cia/lib/services/conversational_ai_service.dart
  arkalia_cia/lib/services/search_service.dart
  arkalia_cia/lib/services/theme_service.dart
  arkalia_cia_python_backend/ai/conversational_ai.py
  arkalia_cia_python_backend/api.py
Due: python, flutter

Mise à jour statut: IA conversationnelle 70% terminée
  arkalia_cia_python_backend/ai/conversational_ai.py
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/database.py
  docs/plans/STATUS_IMPLEMENTATION.md
Due: python

Résumé complet final: 85% besoins critiques résolus, tous les plans implémentés
  arkalia_cia/lib/services/conversational_ai_service.dart
  arkalia_cia/lib/services/search_service.dart
  arkalia_cia_python_backend/ai/conversational_ai.py
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/database.py
  docs/plans/RESUME_COMPLET_FINAL.md
Due: python, flutter

Amélioration IA: intégration ARIA pour douleurs, guide utilisation mère
  arkalia_cia/ios/Flutter/Generated.xcconfig
  arkalia_cia/ios/Flutter/flutter_export_environment.sh
  arkalia_cia/lib/screens/onboarding/import_choice_screen.dart
  arkalia_cia/lib/screens/onboarding/import_progress_screen.dart
  arkalia_cia/lib/screens/onboarding/import_type.dart
  arkalia_cia_python_backend/ai/aria_integration.py
  arkalia_cia_python_backend/ai/conversational_ai.py
  docs/GUIDE_UTILISATION_MERE.md
Due: python, flutter

Documentation améliorations finales: optimisations mémoire, intégration ARIA, guide utilisateur
  docs/plans/AMELIORATIONS_FINALES.md
Due: none

Finalisation: OCR PDF scannés, chiffrement partage familial, intégration ARIA Flutter
  arkalia_cia/lib/services/conversational_ai_service.dart
  arkalia_cia/lib/services/family_sharing_service.dart
  arkalia_cia_python_backend/pdf_parser/ocr_integration.py
  arkalia_cia_python_backend/pdf_processor.py
Due: python, flutter

Résumé final complet: 95% besoins critiques résolus, OCR, chiffrement, ARIA intégrés
  arkalia_cia/ios/Flutter/Generated.xcconfig
  arkalia_cia/ios/Flutter/ephemeral/flutter_lldb_helper.py
  arkalia_cia/ios/Flutter/ephemeral/flutter_lldbinit
  arkalia_cia/ios/Flutter/flutter_export_environment.sh
  docs/plans/RESUME_FINAL_COMPLET.md
Due: none

Correction intégration ARIA Flutter et OCR PDF processor
  arkalia_cia/lib/services/conversational_ai_service.dart
  arkalia_cia_python_backend/pdf_processor.py
Due: python, flutter

Finalisation OCR dans PDF processor
  arkalia_cia_python_backend/pdf_processor.py
Due: python

fix: Corrections black, ruff, mypy, bandit - qualité code Python
  arkalia_cia_python_backend/ai/aria_integration.py
  arkalia_cia_python_backend/ai/conversational_ai.py
  arkalia_cia_python_backend/ai/pattern_analyzer.py
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/database.py
  arkalia_cia_python_backend/pdf_parser/__init__.py
  arkalia_cia_python_backend/pdf_parser/metadata_extractor.py
  arkalia_cia_python_backend/pdf_parser/ocr_integration.py
  arkalia_cia_python_backend/pdf_parser/ocr_processor.py
  arkalia_cia_python_backend/pdf_processor.py
Due: python

fix: Correction finale toutes erreurs mypy, ruff, types
  arkalia_cia_python_backend/ai/aria_integration.py
  arkalia_cia_python_backend/ai/pattern_analyzer.py
  arkalia_cia_python_backend/pdf_parser/metadata_extractor.py
  arkalia_cia_python_backend/pdf_parser/ocr_integration.py
  arkalia_cia_python_backend/pdf_processor.py
Due: python

fix: Correction exceptions avec 'from e' pour B904 ruff
  arkalia_cia_python_backend/api.py
Due: python

Vérification complète code réel: 82% besoins critiques résolus, mise à jour statut réel
  docs/plans/STATUS_REEL_VERIFIE.md
Due: none

Mise à jour MD avec statut réel: 82% résolu, liste précise ce qui reste à faire
  docs/plans/CE_QUI_RESTE_A_FAIRE.md
  docs/plans/STATUS_IMPLEMENTATION.md
Due: none

fix: Correction finale ZÉRO erreur - tous bare except, types mypy, handler API
  arkalia_cia_python_backend/ai/conversational_ai.py
  arkalia_cia_python_backend/ai/pattern_analyzer.py
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/pdf_parser/metadata_extractor.py
  arkalia_cia_python_backend/pdf_parser/ocr_integration.py
  arkalia_cia_python_backend/pdf_processor.py
Due: python

fix: Correction conflit import Request - ZÉRO erreur final
  arkalia_cia_python_backend/api.py
Due: python

Priorité 1: Activation extraction métadonnées PDF, table document_metadata, interface Patterns Dashboard, historique conversations IA
  arkalia_cia/lib/screens/conversational_ai_screen.dart
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/screens/patterns_dashboard_screen.dart
  arkalia_cia/lib/services/conversational_ai_service.dart
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/database.py
Due: python, flutter

Path conditions:
  python: any of: arkalia_cia_python_backend/, but not: **/test/, **/tests/, **/__pycache__/, **/build/, **/dist/, **/coverage/, **/htmlcov/, **/*.g.dart, **/*.freezed.dart, **/generated/, **/venv/, **/node_modules/
  flutter: any of: arkalia_cia/lib/, but not: **/test/, **/tests/, **/__pycache__/, **/build/, **/dist/, **/coverage/, **/htmlcov/, **/*.g.dart, **/*.freezed.dart, **/generated/, **/venv/, **/node_modules/
