Repository arkalia-luna-system/arkalia-cia: changes, and which Codecov flags are due for each by the changed paths.
All: python, flutter

.codecov.yml:

# Configuration Codecov pour Arkalia CIA
# Supporte Python (backend) et Flutter (mobile)

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        base: auto
    patch:
      default:
        target: 60%
        threshold: 1%
        base: auto

flags:
  python:
    paths:
      - arkalia_cia_python_backend/
    carryforward: true
  flutter:
    paths:
      - arkalia_cia/lib/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false

ignore:
  - "**/test/"
  - "**/tests/"
  - "**/__pycache__/"
  - "**/build/"
  - "**/dist/"
  - "**/coverage/"
  - "**/htmlcov/"
  - "**/*.g.dart"
  - "**/*.freezed.dart"
  - "**/generated/"
  - "**/venv/"
  - "**/node_modules/"

fix: FORCER flutter.source dans projectProperties dans settings.gradle.kts
  arkalia_cia/android/settings.gradle.kts
Due: none

fix: Corriger format local.properties et améliorer vérifications
  .github/workflows/flutter-ci.yml
Due: none

fix: Corriger configuration local.properties pour éviter format incorrect
  .github/workflows/flutter-ci.yml
Due: none

refactor: Découper build CI en 3 phases avec scripts séparés
  .github/workflows/flutter-ci.yml
  arkalia_cia/android/settings.gradle.kts
  arkalia_cia/scripts/ci-phase1-configure-flutter-source.sh
  arkalia_cia/scripts/ci-phase2-clean-macos-files.sh
  arkalia_cia/scripts/ci-phase3-build-apk.sh
Due: none

docs: Mettre à jour README avec nouvelle stratégie CI en 3 phases (27 nov 2025)
  README.md
  arkalia_cia/android/gradle.properties
  arkalia_cia/android/local.properties
  arkalia_cia/lib/services/calendar_service.dart
  arkalia_cia/lib/widgets/exam_type_badge.dart
  arkalia_cia_python_backend/tests/generate_test_pdfs.py
Due: python, flutter

fix: Corriger dernier warning Flutter deprecated (value → toARGB32)
  arkalia_cia/lib/services/calendar_service.dart
Due: flutter

fix: Corriger toutes les erreurs ruff avec --fix
  arkalia_cia_python_backend/tests/test_parser.py
Due: python

fix: Corriger erreurs compilation Flutter (toARGB32/withValues n'existent pas)
  arkalia_cia/lib/services/calendar_service.dart
  arkalia_cia/lib/widgets/exam_type_badge.dart
Due: flutter

fix: Corriger extraction composant bleu (utiliser .blue deprecated)
  arkalia_cia/lib/services/calendar_service.dart
Due: flutter

fix: Ajouter ignore comments pour warnings withOpacity deprecated
  arkalia_cia/lib/widgets/exam_type_badge.dart
Due: flutter

fix: Utiliser chemin relatif dans local.properties pour flutter.source
  arkalia_cia/scripts/ci-phase1-configure-flutter-source.sh
Due: none

fix: Corriger indentation dans script Phase 1
  arkalia_cia/scripts/ci-phase1-configure-flutter-source.sh
Due: none

fix: Corriger scripts CI pour compatibilité macOS/Linux
  arkalia_cia/scripts/ci-phase1-configure-flutter-source.sh
  arkalia_cia/scripts/ci-phase2-clean-macos-files.sh
Due: none

fix: Améliorer configuration flutter.source dans app/build.gradle.kts
  arkalia_cia/android/app/build.gradle.kts
Due: none

fix: Ajouter fallback gradlew direct si flutter build échoue
  arkalia_cia/scripts/ci-phase3-build-apk.sh
Due: none

fix: Améliorer gestion permissions gradlew et ignorer local.properties
  .github/workflows/flutter-ci.yml
  .gitignore
  arkalia_cia/scripts/ci-phase3-build-apk.sh
Due: none

fix: Retirer local.properties du suivi Git
  arkalia_cia/android/local.properties
Due: none

chore: Mise à jour version 1.3.0 → 1.3.1
  arkalia_cia/check_updates.sh
  arkalia_cia/lib/screens/settings_screen.dart
  arkalia_cia/lib/screens/sync_screen.dart
  arkalia_cia/pubspec.yaml
  docs/CHANGELOG.md
  docs/PLAN_VERSION_1.3.1.md
  docs/VERSION_1.3.1_CHECKLIST.md
Due: flutter

test: Ajouter tests Flutter supplémentaires et plan organisation documentation
  arkalia_cia/test/services/auth_service_test.dart
  arkalia_cia/test/services/onboarding_service_test.dart
  docs/ORGANISATION_DOCUMENTATION.md
Due: none

test: Améliorer tests PDF et créer résumé travail 1.3.1
  arkalia_cia_python_backend/tests/test_parser.py
  docs/RESUME_TRAVAIL_1.3.1.md
Due: python

test: Ajouter tests ThemeService et BackendConfigService + résumé final 1.3.1
  arkalia_cia/test/services/backend_config_service_test.dart
  arkalia_cia/test/services/theme_service_test.dart
  docs/FINAL_SUMMARY_1.3.1.md
Due: none

docs: Organisation dossiers plans, optimizations, meta
  docs/README.md
  docs/meta/ANALYSE_ORGANISATION_PROJET.md
  docs/meta/ORGANISATION_DOCUMENTATION.md
  docs/meta/RESUME_ORGANISATION_27_NOV.md
Due: none

docs: Finalisation organisation plans/ - archivage résumés redondants
  docs/README.md
Due: none

docs: Finalisation organisation tous les dossiers - suppression redondances
  docs/README.md
  docs/audits/STATUT_CORRECTIONS.md
  docs/audits/TODO_CORRECTIONS_AUDIT.md
  docs/deployment/RESUME_PROBLEME_PLAY_STORE.md
Due: none

docs: Organisation complète documentation - réorganisation tous sous-dossiers et correction liens
  docs/API_DOCUMENTATION.md
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  docs/CHANGELOG_AUTHENTIFICATION.md
  docs/CONTRIBUTING.md
  docs/INDEX_DOCUMENTATION.md
  docs/README.md
  docs/VUE_ENSEMBLE_PROJET.md
  docs/analysis/BESOINS_MERE_23_NOVEMBRE_2025.md
  docs/analysis/IMPORTS_ANALYSIS.md
  docs/analysis/USE_CASES.md
  docs/audits/CHECKLIST_FINALE_SECURITE.md
  docs/audits/CORRECTIONS_AUDIT_CONSOLIDEES.md
  docs/audits/TESTS_MANQUANTS_SECURITE.md
  docs/deployment/BUILD_RELEASE_ANDROID.md
  docs/deployment/IOS_DEPLOYMENT_GUIDE.md
  docs/deployment/PLAY_STORE_SETUP.md
  docs/guides/APP_INDEPENDANTE_MAC.md
  docs/guides/CE_QUE_VOUS_DEVRIEZ_VOIR.md
  docs/guides/MIGRATION.md
  docs/guides/SCREENSHOTS_GUIDE.md
  docs/integrations/ARIA_IMPLEMENTATION_GUIDE.md
  docs/integrations/ARIA_INTEGRATION.md
  docs/integrations/ARKALIA_ARIA_PROJECT.md
  docs/integrations/ARKALIA_ARIA_SUMMARY.md
  docs/integrations/ECOSYSTEM_VISION.md
  docs/meta/SCREENSHOTS_CHECKLIST.md
  docs/meta/TODO_RESTANT_1.3.1.md
  docs/plans/PLAN_IMPLÉMENTATION_IMPORT_MANUEL.md
  docs/plans/PROMPTS_IMPLEMENTATION_4_PHASES.md
  docs/plans/README.md
  docs/status/RELEASE_READINESS_REPORT.txt
  docs/status/STATUT_FINAL_PROJET.md
Due: none

chore: Trigger CI workflows - Version 1.3.1
  .github/workflows/.ci-trigger
Due: none

docs: Ajouter notes de release v1.3.1
  docs/releases/RELEASE_NOTES_V1.3.1.md
Due: none

fix: Corriger workflow deploy-play-store - Configuration flutter.source et lint
  .github/workflows/deploy-play-store.yml
  arkalia_cia/android/gradle.properties
Due: none

docs: Mise à jour sécurité - Secrets GitHub configurés et vérifications
  .github/SECRETS_MANAGEMENT.md
  .gitignore
  arkalia_cia/android/prepare_github_secrets.sh
Due: none

docs: Ajouter vérification sécurité complète - Aucun secret exposé
  docs/SECURITE_VERIFICATION.md
Due: none

docs: Corriger vérification sécurité - Fichiers sensibles sauvegardés dans dossier cle
  docs/SECURITE_VERIFICATION.md
Due: none

fix: Déplacer fichiers sensibles hors projet - Utiliser liens symboliques
  arkalia_cia/android/prepare_github_secrets.sh
  arkalia_cia/android/setup_key_properties.sh
Due: none

docs: Mettre à jour organisation fichiers sensibles - Fichiers hors projet avec liens symboliques
  docs/SECURITE_VERIFICATION.md
Due: none

fix: Améliorer messages déploiement et gestion téléversement Play Store
  .github/workflows/deploy-play-store.yml
Due: none

fix: Corriger warning lint KEY_ALIAS dans workflow
  .github/workflows/deploy-play-store.yml
Due: none

fix: Corriger vérification secret GOOGLE_PLAY_SERVICE_ACCOUNT_JSON avec variable env
  .github/workflows/deploy-play-store.yml
Due: none

fix: Corriger warning lint KEY_ALIAS avec vérification conditionnelle
  .github/workflows/deploy-play-store.yml
Due: none

fix: Corriger warning lint KEY_ALIAS avec variable d'environnement
  .github/workflows/deploy-play-store.yml
Due: none
