Repository arkalia-luna-system/arkalia-cia: changes, and which Codecov flags are due for each by the changed paths.
All: python, flutter

.codecov.yml:

# Configuration Codecov pour Arkalia CIA
# Supporte Python (backend) et Flutter (mobile)

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        base: auto
    patch:
      default:
        target: 60%
        threshold: 1%
        base: auto

flags:
  python:
    paths:
      - arkalia_cia_python_backend/
    carryforward: true
  flutter:
    paths:
      - arkalia_cia/lib/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false

ignore:
  - "**/test/"
  - "**/tests/"
  - "**/__pycache__/"
  - "**/build/"
  - "**/dist/"
  - "**/coverage/"
  - "**/htmlcov/"
  - "**/*.g.dart"
  - "**/*.freezed.dart"
  - "**/generated/"
  - "**/venv/"
  - "**/node_modules/"

fix: Correction vulnérabilités sécurité B108 - hardcoded tmp directory
  arkalia_cia_python_backend/security_dashboard.py
Due: python

fix: Suppression dernier fichier macOS caché - bandit clean
  arkalia_cia_python_backend/api.py
Due: python

Priorité 1 complète: extraction métadonnées activée, endpoints conversations/patterns, historique IA
  arkalia_cia_python_backend/api.py
Due: python

Priorité 2: Import portails santé, recherche sémantique, notifications partage familial
  arkalia_cia/lib/screens/advanced_search_screen.dart
  arkalia_cia/lib/screens/health_portal_auth_screen.dart
  arkalia_cia/lib/services/family_sharing_service.dart
  arkalia_cia/lib/services/health_portal_auth_service.dart
  arkalia_cia/lib/services/notification_service.dart
  arkalia_cia/lib/services/search_service.dart
  arkalia_cia/lib/services/semantic_search_service.dart
Due: flutter

Priorité 3: Modèles ML Prophet pour prédictions, endpoint import portails
  arkalia_cia_python_backend/api.py
Due: python

Documentation finale: STATUS_FINAL_COMPLET avec toutes les fonctionnalités implémentées (95%)
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/database.py
  docs/plans/STATUS_FINAL_COMPLET.md
Due: python

fix: Correction api.py et database.py - méthodes manquantes, imports, types
  docs/plans/STATUS_IMPLEMENTATION.md
Due: none

Documentation finale: mise à jour STATUS_IMPLEMENTATION et CE_QUI_RESTE_A_FAIRE avec statut 95%
  docs/plans/CE_QUI_RESTE_A_FAIRE.md
  docs/plans/STATUS_IMPLEMENTATION.md
Due: none

fix: Correction complète ocr_integration.py - qualité code, docstrings, imports
  arkalia_cia_python_backend/pdf_parser/ocr_integration.py
Due: python

fix: ajouter type: ignore pour imports OCR optionnels
  arkalia_cia_python_backend/pdf_parser/ocr_integration.py
Due: python

docs: Mise à jour documentation avec statut réel des modules métiers avancés
  docs/ANALYSE_EXPLOITATION_PROJET.md
  docs/CE_QUI_RESTE_A_FAIRE.md
  docs/RESUME_PROJET.md
  docs/SYNTHESE_FINALE_COMPLETE.md
  docs/VERIFICATION_FINALE_COMPLETE.md
  docs/plans/STATUS_IMPLEMENTATION.md
Due: none

docs: Mise à jour priorités absolues - Passage en stable v1.0 pour release Q1 2026
  README.md
  docs/CE_QUI_RESTE_A_FAIRE.md
  docs/CHECKLIST_FINALE_VERSION.md
  docs/RELEASE_CHECKLIST.md
  docs/RESUME_PROJET.md
  docs/plans/README.md
Due: none

fix: Correction qualité code et documentation consolidée
  arkalia_cia_python_backend/ai/pattern_analyzer.py
  dashboard/security/security_dashboard.html
  docs/ANALYSE_EXPLOITATION_PROJET.md
  docs/CE_QUI_RESTE_A_FAIRE.md
  docs/CE_QUI_RESTE_VRAIMENT_A_FAIRE_CONSOLIDE.md
  docs/CHECKLIST_FINALE_VERSION.md
  docs/RELEASE_CHECKLIST.md
Due: python

feat: Améliorations critiques pour atteindre 95% d'exploitation
  arkalia_cia/lib/screens/patterns_dashboard_screen.dart
  arkalia_cia/lib/services/api_service.dart
  arkalia_cia/lib/services/conversational_ai_service.dart
  arkalia_cia/lib/services/family_sharing_service.dart
  arkalia_cia/lib/services/semantic_search_service.dart
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/database.py
  dashboard/security/security_dashboard.html
  docs/ANALYSE_EXPLOITATION_PROJET.md
  docs/plans/CE_QUI_RESTE_A_FAIRE.md
  docs/plans/STATUS_FINAL_COMPLET.md
  docs/plans/STATUS_IMPLEMENTATION.md
  docs/plans/STATUS_REEL_VERIFIE.md
  tests/unit/test_api_ai_endpoints.py
Due: python, flutter

fix: Correction des tests de sécurité et mise à jour pour 100% de réussite
  dashboard/security/security_dashboard.html
  docs/ANALYSE_EXPLOITATION_PROJET.md
  docs/API_DOCUMENTATION.md
  docs/ARCHITECTURE.md
  docs/AUDIT_POST_CORRECTIONS.md
  docs/AUDIT_SECURITE_SENIOR.md
  docs/BUILD_RELEASE_ANDROID.md
  docs/CE_QUI_RESTE_A_FAIRE.md
  docs/CE_QUI_RESTE_VRAIMENT_A_FAIRE_CONSOLIDE.md
  docs/CHANGELOG.md
  docs/CHECKLIST_FINALE_SECURITE.md
  docs/CHECKLIST_RELEASE_CONSOLIDEE.md
  docs/CONTRIBUTING.md
  docs/CORRECTIONS_SECURITE_EFFECTUEES.md
  docs/DEPLOYMENT.md
  docs/DOCUMENTATION_STATUS.md
  docs/GUIDE_UTILISATION_MERE.md
  docs/INDEX_DOCUMENTATION.md
  docs/IOS_DEPLOYMENT_GUIDE.md
  docs/MIGRATION.md
  docs/RELEASE_CHECKLIST.md
  docs/RELEASE_NOTES_V1.2.0.md
  docs/RESUME_CORRECTIONS_FINALES.md
  docs/RESUME_PROJET.md
  docs/STATUT_FINAL_100_POURCENT.md
  docs/STATUT_FINAL_CONSOLIDE.md
  docs/VALIDATION.md
  docs/VUE_ENSEMBLE_PROJET.md
  docs/plans/README.md
  docs/plans/STATUS_IMPLEMENTATION.md
  quality_report.json
  tests/unit/test_api.py
  tests/unit/test_api_ai_endpoints.py
Due: none

fix: Correction finale méthode _makeAuthenticatedRequest
  arkalia_cia/lib/screens/patterns_dashboard_screen.dart
  arkalia_cia/lib/services/api_service.dart
Due: flutter

fix: Correction finale de tous les appels _makeAuthenticatedRequest
  arkalia_cia/lib/services/api_service.dart
  dashboard/security/security_dashboard.html
  docs/API.md
  docs/CHECKLIST_FINALE_SECURITE.md
  scripts/verify_release_readiness.py
Due: flutter

perf: Optimisation script vérification release readiness
  docs/RELEASE_READINESS_REPORT.txt
  scripts/verify_release_readiness.py
Due: none

perf: Optimisation massive script vérification - version légère
  scripts/verify_release_readiness.py
Due: none

perf: Optimisation ultime script - version ultra-légère pour protéger RAM
  scripts/verify_release_readiness.py
Due: none

docs: Mise à jour finale MD + correction MyPy
  docs/INDEX_DOCUMENTATION.md
Due: none

docs: mise à jour version v1.2.0 dans tous les fichiers MD
  docs/MISE_A_JOUR_S25_CORRIGEE.md
  docs/OPTIMISATIONS_COMPLETE.md
  docs/RELEASE_CHECKLIST.md
  docs/RELEASE_NOTES_V1.2.0.md
  docs/deployment/CONFIGURATION_BACKEND_WIFI.md
  docs/deployment/GUIDE_DEPLOIEMENT_FINAL.md
  docs/plans/PLAN_00_ONBOARDING_INTELLIGENT.md
  docs/plans/RESUME_FINAL_IMPLÉMENTATION.md
Due: none

fix: corrections qualité code - black, ruff, mypy, bandit avec annotations nosec
  arkalia_cia_python_backend/ai/conversational_ai.py
  arkalia_cia_python_backend/ai/pattern_analyzer.py
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/auth.py
  arkalia_cia_python_backend/pdf_parser/metadata_extractor.py
  arkalia_cia_python_backend/pdf_processor.py
  bandit_report.json
  docs/VERIFICATION_ANALYSE_COMPLETE.md
Due: python

fix: corrections Flutter/Dart - CardTheme, prefer_final_fields, use_build_context_synchronously, prefer_const_constructors, unnecessary_brace_in_string_interps
  arkalia_cia/lib/screens/advanced_search_screen.dart
  arkalia_cia/lib/screens/family_sharing_screen.dart
  arkalia_cia/lib/screens/lock_screen.dart
  arkalia_cia/lib/screens/onboarding/import_choice_screen.dart
  arkalia_cia/lib/screens/patterns_dashboard_screen.dart
  arkalia_cia/lib/screens/settings_screen.dart
  arkalia_cia/lib/services/family_sharing_service.dart
  arkalia_cia/lib/services/theme_service.dart
Due: flutter

fix(tests): Correction dernière erreur ruff
  tests/unit/test_validation.py
Due: none

docs(tests): Consolidation et correction documentation tests
  README.md
  arkalia_cia_python_backend/ai/aria_integration.py
  arkalia_cia_python_backend/ai/pattern_analyzer.py
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/auto_documenter.py
  arkalia_cia_python_backend/database.py
  arkalia_cia_python_backend/pdf_parser/metadata_extractor.py
  arkalia_cia_python_backend/pdf_parser/ocr_processor.py
  arkalia_cia_python_backend/pdf_processor.py
  arkalia_cia_python_backend/security_dashboard.py
  arkalia_cia_python_backend/security_utils.py
  arkalia_cia_python_backend/services/document_service.py
  arkalia_cia_python_backend/utils/retry.py
  dashboard/security/security_dashboard.html
  docs/AUDIT_ARKALIA_METRICS_COLLECTOR.md
  docs/CHANGELOG.md
  docs/CHANGELOG_20_NOVEMBRE_2025.md
  docs/CONTRIBUTING.md
  docs/CORRECTIONS_TESTS_20_NOVEMBRE.md
  docs/MIGRATION.md
  docs/PHASE1_COMPLETED.md
  docs/RAPPORT_AUDIT_TESTS.md
  docs/RELEASE_CHECKLIST.md
  docs/RESUME_FINAL_10_SUR_10.md
  docs/RESUME_OPTIMISATIONS_TESTS.md
  docs/STATUT_FINAL_20_NOVEMBRE_2025.md
  docs/STATUT_FINAL_TESTS.md
  docs/TESTS_DOCUMENTATION_COMPLETE.md
  docs/TESTS_MANQUANTS_SECURITE.md
  docs/VERIFICATION_ANALYSE_COMPLETE.md
  docs/audits/ANALYSE_PERFORMANCE_TESTS.md
  docs/audits/CORRECTIONS_ULTRA_SEVERE_20_NOVEMBRE_2025.md
  docs/deployment/BUILD_RELEASE_ANDROID.md
  docs/deployment/CHECKLIST_RELEASE_CONSOLIDEE.md
  docs/deployment/GUIDE_DEPLOIEMENT_FINAL.md
  quality_report.json
  tests/fixtures/auth_helpers.py
  tests/unit/test_filename_validator.py
  tests/unit/test_retry.py
  tests/unit/test_ssrf_validator.py
Due: python

fix(mypy): Suppression type ignore inutilisés
  arkalia_cia_python_backend/pdf_parser/ocr_integration.py
Due: python

docs(tests): Correction dernière incohérence + résumé final
  arkalia_cia_python_backend/pdf_processor.py
  docs/CORRECTIONS_TESTS_20_NOVEMBRE.md
  docs/RESUME_FINAL_TESTS_20_NOVEMBRE.md
Due: python

fix(tests): Corrections finales tests + optimisations document_service
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/auth.py
  arkalia_cia_python_backend/security/ssrf_validator.py
  arkalia_cia_python_backend/services/document_service.py
  dashboard/security/.dashboard_lock
  dashboard/security/security_dashboard.html
  docs/OPTIMISATIONS_TESTS.md
  docs/RELEASE_CHECKLIST.md
  docs/RELEASE_READINESS_REPORT.txt
  quality_report.json
  scripts/verify_release_readiness.py
  tests/integration/test_integration.py
  tests/unit/test_api.py
  tests/unit/test_api_ai_endpoints.py
  tests/unit/test_aria_integration.py
  tests/unit/test_document_service.py
  tests/unit/test_filename_validator.py
Due: python

style: Formatage script verify_release_readiness.py
  scripts/verify_release_readiness.py
Due: none

fix: correction erreurs linting (E501, mypy, bandit) et amélioration type hints
  arkalia_cia_python_backend/api.py
Due: python

fix: correction type hint mypy pour storage_info
  arkalia_cia_python_backend/api.py
Due: python

fix: correction type hint mypy avec Any pour health_status
  arkalia_cia_python_backend/api.py
Due: python

perf: Optimisations API + corrections tests + dashboard single window
  README.md
  arkalia_cia_python_backend/api.py
  dashboard/security/security_dashboard.html
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  docs/RELEASE_CHECKLIST.md
  docs/RELEASE_NOTES_V1.2.0.md
  docs/VUE_ENSEMBLE_PROJET.md
  quality_report.json
Due: python
