Repository arkalia-luna-system/arkalia-cia: changes, and which Codecov flags are due for each by the changed paths.
All: python, flutter

.codecov.yml:

# Configuration Codecov pour Arkalia CIA
# Supporte Python (backend) et Flutter (mobile)

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        base: auto
    patch:
      default:
        target: 60%
        threshold: 1%
        base: auto

flags:
  python:
    paths:
      - arkalia_cia_python_backend/
    carryforward: true
  flutter:
    paths:
      - arkalia_cia/lib/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false

ignore:
  - "**/test/"
  - "**/tests/"
  - "**/__pycache__/"
  - "**/build/"
  - "**/dist/"
  - "**/coverage/"
  - "**/htmlcov/"
  - "**/*.g.dart"
  - "**/*.freezed.dart"
  - "**/generated/"
  - "**/venv/"
  - "**/node_modules/"

fix: Type explicite pour versionCode dans when expression
  arkalia_cia/android/app/build.gradle.kts
Due: none

fix: Simplification conversion versionCode avec try-catch
  arkalia_cia/android/app/build.gradle.kts
Due: none

fix: Conversion versionCode ultra-simple via toString()
  arkalia_cia/android/app/build.gradle.kts
Due: none

fix: Extraction versionCode depuis pubspec.yaml si flutter.versionCode échoue
  arkalia_cia/android/app/build.gradle.kts
Due: none

fix: Lecture versionCode uniquement depuis pubspec.yaml
  arkalia_cia/android/app/build.gradle.kts
Due: none

fix: Chemin correct vers pubspec.yaml avec fallback
  arkalia_cia/android/app/build.gradle.kts
Due: none

fix: Définir versionCode dans afterEvaluate pour éviter écrasement
  arkalia_cia/android/app/build.gradle.kts
Due: none

fix: Utiliser API variants et améliorer extraction versionCode
  arkalia_cia/android/app/build.gradle.kts
Due: none

fix: Supprimer API variants invalide versionCodeOverride
  arkalia_cia/android/app/build.gradle.kts
Due: none

fix: Modifier extension flutter pour forcer versionCode
  arkalia_cia/android/app/build.gradle.kts
Due: none

fix: Ajouter logs détaillés et forcer versionCode via réflexion
  arkalia_cia/android/app/build.gradle.kts
Due: none

fix: Corriger regex extraction versionCode et éviter flutter.versionCode
  arkalia_cia/android/app/build.gradle.kts
Due: none

fix: Utiliser split au lieu de regex pour extraction versionCode
  arkalia_cia/android/app/build.gradle.kts
Due: none

fix: Utiliser split aussi dans le fallback pour cohérence
  arkalia_cia/android/app/build.gradle.kts
Due: none

fix: Lire versionCode depuis pubspec.yaml dans init.gradle et build.gradle.kts
  arkalia_cia/android/app/build.gradle.kts
  arkalia_cia/android/build.gradle.kts
  arkalia_cia/android/init.gradle
Due: none

fix: Corriger comparaison Long avec Int.MAX_VALUE
  arkalia_cia/android/app/build.gradle.kts
Due: none

fix: Gérer versionCode qui dépasse Int.MAX_VALUE avec modulo
  arkalia_cia/android/app/build.gradle.kts
Due: none

refactor: Solution SIMPLE - utiliser directement flutter.versionCode
  arkalia_cia/android/app/build.gradle.kts
Due: none

refactor: Simplifier incrémentation versionCode - incrémenter de 1
  .github/workflows/deploy-play-store.yml
Due: none

refactor: Utiliser date/heure du push pour versionCode (format YYMMDDHH)
  .github/workflows/deploy-play-store.yml
Due: none

docs: Mise à jour documentation avec infos actuelles (7 déc 2025)
  docs/deployment/CE_QUE_TU_DOIS_FAIRE.md
  docs/deployment/ETAT_AUTOMATISATION.md
  docs/deployment/GUIDE_PLAY_CONSOLE_VERSION.md
  docs/deployment/PLAY_STORE_SETUP.md
  docs/deployment/RESOLUTION_ANDROID_XR_FINALE.md
  docs/deployment/RESUME_CONFIGURATION_ACTUELLE.md
  docs/deployment/SOLUTION_PROBLEMES_PLAY_CONSOLE.md
  docs/status/VERSIONS_UNIFIEES.md
Due: none

docs: Mise à jour finale documentation déploiement (7 déc 2025)
  docs/deployment/BUILD_RELEASE_ANDROID.md
  docs/deployment/EXPLICATION_DEPLOIEMENT.md
  docs/deployment/GUIDE_DEPLOIEMENT_FINAL.md
  docs/deployment/INSTRUCTIONS_RELEASE_V1.3.1.md
  docs/deployment/RESOLUTION_APK_VERS_AAB.md
  docs/deployment/WORKFLOW_DEPLOIEMENT_AUTOMATIQUE.md
Due: none

fix: Correction authentification biométrique au démarrage
  arkalia_cia/lib/screens/lock_screen.dart
Due: flutter

fix: Correction erreurs lint (mypy, ruff, black)
  arkalia_cia/lib/screens/lock_screen.dart
  arkalia_cia/lib/services/auth_service.dart
  arkalia_cia_python_backend/pdf_parser/metadata_extractor.py
  arkalia_cia_python_backend/security_utils.py
  arkalia_cia_python_backend/tests/generate_test_pdfs.py
  arkalia_cia_python_backend/tests/test_parser.py
  arkalia_cia_python_backend/utils/filename_validator.py
  conftest.py
  tests/unit/test_backend_services.py
  tests/unit/test_storage.py
Due: python, flutter

fix: Suppression commentaires type: ignore inutiles
  arkalia_cia_python_backend/pdf_parser/metadata_extractor.py
  arkalia_cia_python_backend/security_utils.py
Due: python

feat: Ajout disclaimer médical dans l'app + corrections lint
  arkalia_cia/lib/screens/settings_screen.dart
  arkalia_cia_python_backend/pdf_parser/metadata_extractor.py
  arkalia_cia_python_backend/security_utils.py
Due: python, flutter

docs: Mise à jour catégorie Play Store dans tous les MD
  docs/deployment/PLAY_STORE_METADATA.md
  docs/deployment/PROMPT_COMET_ASSISTANT.md
  docs/deployment/REPONSE_GOOGLE_SUPPORT.md
  docs/deployment/RESOLUTION_ANDROID_XR.md
  docs/deployment/RESUME_CONFORMITE.md
  docs/deployment/VERIFICATION_CONFORMITE_GOOGLE_PLAY.md
Due: none

fix: Remise type: ignore[unreachable] pour mypy
  arkalia_cia_python_backend/security_utils.py
Due: python

fix: Suppression type: ignore inutiles dans metadata_extractor.py
  arkalia_cia_python_backend/pdf_parser/metadata_extractor.py
Due: python

fix: Correction conflit mypy/linter metadata_extractor.py
  arkalia_cia_python_backend/pdf_parser/metadata_extractor.py
  arkalia_cia_python_backend/security_utils.py
Due: python

fix: Corrections finales lint (mypy, ruff, black)
  arkalia_cia_python_backend/pdf_parser/metadata_extractor.py
  arkalia_cia_python_backend/security_utils.py
Due: python

fix: Correction erreurs mypy avec restructuration code
  arkalia_cia_python_backend/pdf_parser/metadata_extractor.py
  arkalia_cia_python_backend/security_utils.py
Due: python

feat: Configuration PWA complète avec service worker et tests
  docs/deployment/ANALYSE_ALTERNATIVES_PLAY_STORE.md
  docs/deployment/ANALYSE_REJET_METADONNEES.md
  docs/deployment/EXPLICATION_SERVEUR_PWA.md
  docs/deployment/GUIDE_DEPLOIEMENT_PWA.md
  docs/deployment/RESUME_CONFIGURATION_PWA.md
  docs/deployment/STATUT_PWA_FINAL.md
  docs/troubleshooting/DESACTIVER_MYPY_CURSOR.md
  scripts/fix_ram_overheat.sh
  scripts/restart_cursor.sh
Due: none

fix: Ajouter fichiers source PWA et tests au versioning
  .gitignore
  arkalia_cia/web/index.html
  arkalia_cia/web/manifest.json
  arkalia_cia/web/sw.js
  docs/deployment/RESUME_FINAL_PWA.md
  tests/web/pwa_test.dart
Due: none

fix: Corrections finales PWA - 10 décembre 2025
  arkalia_cia/web/favicon.png
  docs/deployment/DEPLOYMENT.md
  docs/deployment/PLAY_STORE_METADATA.md
  docs/deployment/PLAY_STORE_SETUP.md
  docs/deployment/VERIFICATION_FINALE_PWA.md
  tests/web/pwa_test.dart
Due: none

fix: Correction ligne dupliquée dans test PWA
  tests/web/pwa_test.dart
Due: none

docs: Ajout résumé final complet PWA
  docs/deployment/RESUME_FINAL_COMPLET.md
Due: none

feat: Guide installation PWA pour maman + tests coverage
  docs/POUR_MAMAN.md
  docs/guides/GUIDE_INSTALLATION_PWA_MAMAN.md
Due: none

feat: Ajout tests PWA dans CI + mise à jour guide déploiement
  .github/workflows/flutter-ci.yml
  docs/deployment/GUIDE_DEPLOIEMENT_PWA.md
Due: none

docs: Ajout résumé final déploiement PWA
  docs/deployment/RESUME_FINAL_DEPLOIEMENT.md
Due: none
