Repository arkalia-luna-system/arkalia-cia: changes, and which Codecov flags are due for each by the changed paths.
All: python, flutter

feat: Implémenter sélection médecin et refresh token portails santé
  arkalia_cia/lib/screens/advanced_search_screen.dart
  arkalia_cia/lib/screens/onboarding/import_choice_screen.dart
  arkalia_cia/lib/screens/onboarding/import_progress_screen.dart
  arkalia_cia/lib/services/health_portal_auth_service.dart
  arkalia_cia/lib/services/search_service.dart
  docs/STATUT_FINAL_CONSOLIDE.md
  docs/TODOS_DOCUMENTES.md
Due: flutter

fix: Corriger erreurs lint Flutter (int? nullable et variable non utilisée)
  arkalia_cia/lib/screens/advanced_search_screen.dart
  arkalia_cia/lib/services/health_portal_auth_service.dart
Due: flutter

fix: Corriger toutes les erreurs lint et tests
  arkalia_cia/lib/services/theme_service.dart
  docs/STATUT_FINAL_CONSOLIDE.md
  tests/unit/test_security_utils.py
Due: flutter

Ajout tests manquants: security_utils, dependencies, auth, search_doctor_filter
  docs/STATUT_FINAL_TESTS.md
  docs/TESTS_DOCUMENTATION_COMPLETE.md
  tests/unit/test_auth.py
  tests/unit/test_dependencies.py
Due: none

chore: Finalisation complète - Tous les tests passent, zéro erreur
  arkalia_cia_python_backend/api.py
Due: python

docs: Mise à jour complète de tous les fichiers MD (23 novembre 2025)
  README.md
  docs/CHANGELOG.md
  docs/INDEX_DOCUMENTATION.md
  docs/RELEASE_NOTES_V1.2.1.md
  docs/STATUT_FINAL_TESTS.md
  docs/TESTS_DOCUMENTATION_COMPLETE.md
  docs/VUE_ENSEMBLE_PROJET.md
  docs/plans/CE_QUI_RESTE_A_FAIRE.md
  docs/plans/STATUS_IMPLEMENTATION.md
Due: none

Ajout tests manquants: metadata_extractor, ocr_processor, ocr_integration
  docs/STATUT_FINAL_TESTS.md
  docs/TESTS_DOCUMENTATION_COMPLETE.md
  tests/unit/test_metadata_extractor.py
  tests/unit/test_ocr_integration.py
  tests/unit/test_ocr_processor.py
Due: none

feat: Implémentation complète des fonctionnalités restantes
  arkalia_cia/android/app/build.gradle.kts
  arkalia_cia/lib/screens/advanced_search_screen.dart
  arkalia_cia/lib/services/doctor_service.dart
  arkalia_cia/lib/services/family_sharing_service.dart
  arkalia_cia/lib/services/search_service.dart
  docs/STATUT_FINAL_CONSOLIDE.md
  docs/TODOS_DOCUMENTES.md
Due: flutter

docs: Analyse complète des besoins de votre mère (23 novembre 2025)
  docs/ANALYSE_COMPLETE_BESOINS_MERE.md
  docs/BESOINS_MERE_23_NOVEMBRE_2025.md
  docs/INDEX_DOCUMENTATION.md
  docs/STATUT_FINAL_CONSOLIDE.md
Due: none

docs: Ajout prompts détaillés pour implémentation des 4 phases
  docs/BESOINS_MERE_23_NOVEMBRE_2025.md
  docs/INDEX_DOCUMENTATION.md
  docs/PROMPTS_IMPLEMENTATION_4_PHASES.md
Due: none

feat(phase4): Améliorations IA - reconnaissance enrichie, suggestions intelligentes, IA pathologies
  arkalia_cia/lib/screens/add_edit_doctor_screen.dart
  arkalia_cia/lib/screens/doctors_list_screen.dart
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/services/search_service.dart
  arkalia_cia/lib/widgets/exam_type_badge.dart
  arkalia_cia/lib/widgets/pathology_ai_suggestions.dart
  arkalia_cia_python_backend/ai/conversational_ai.py
  arkalia_cia_python_backend/pdf_parser/metadata_extractor.py
  docs/BESOINS_MERE_23_NOVEMBRE_2025.md
  docs/CHANGELOG.md
  docs/STATUT_FINAL_CONSOLIDE.md
  docs/TODOS_DOCUMENTES.md
  tests/unit/test_ai_suggestions.py
  tests/unit/test_metadata_extractor_improved.py
  tests/unit/test_pathology_ai.py
Due: python, flutter

feat(phase3): Module suivi pathologies avec templates spécifiques
  arkalia_cia/lib/models/pathology.dart
  arkalia_cia/lib/models/pathology_tracking.dart
  arkalia_cia/lib/screens/calendar_screen.dart
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/screens/pathology_detail_screen.dart
  arkalia_cia/lib/screens/pathology_list_screen.dart
  arkalia_cia/lib/screens/pathology_tracking_screen.dart
  arkalia_cia/lib/services/pathology_service.dart
  arkalia_cia/pubspec.yaml
  docs/BESOINS_MERE_23_NOVEMBRE_2025.md
  docs/STATUT_FINAL_CONSOLIDE.md
  docs/TODOS_DOCUMENTES.md
  tests/unit/test_pathology_service.py
  tests/unit/test_pathology_templates.py
  tests/unit/test_pathology_tracking.py
Due: flutter

feat(phase2): Module rappels médicaments et hydratation intelligents
  arkalia_cia/lib/models/hydration_tracking.dart
  arkalia_cia/lib/models/medication.dart
  arkalia_cia/lib/screens/hydration_reminders_screen.dart
  arkalia_cia/lib/screens/medication_reminders_screen.dart
  arkalia_cia/lib/services/calendar_service.dart
  arkalia_cia/lib/services/hydration_service.dart
  arkalia_cia/lib/services/medication_service.dart
  arkalia_cia/lib/widgets/medication_reminder_widget.dart
  tests/unit/test_hydration_service.py
  tests/unit/test_medication_interactions.py
  tests/unit/test_medication_service.py
Due: flutter

feat(phase1): Codes couleur médecins, encadrement calendrier, extraction enrichie
  arkalia_cia/lib/models/doctor.dart
  arkalia_cia/lib/screens/doctors_list_screen.dart
  arkalia_cia/lib/services/doctor_service.dart
  arkalia_cia_python_backend/pdf_parser/metadata_extractor.py
  tests/unit/test_metadata_extractor_enriched.py
Due: python, flutter

feat: Corrections lint et complétion Phase 1-4 - Filtres examens, badges, corrections erreurs
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/medication_reminders_screen.dart
  arkalia_cia/lib/services/medication_service.dart
  arkalia_cia/lib/widgets/exam_type_badge.dart
  arkalia_cia/pubspec.lock
  bandit_report.json
  dashboard/security/security_dashboard.html
  docs/BESOINS_MERE_23_NOVEMBRE_2025.md
  docs/CHANGELOG.md
  docs/STATUT_FINAL_CONSOLIDE.md
  quality_report.json
  tests/unit/test_ocr_processor.py
Due: flutter

fix: Correction icônes Flutter (breastfeeding, bone) dans exam_type_badge
  arkalia_cia/lib/widgets/exam_type_badge.dart
Due: flutter

feat(phases1-4): Complétion finale - Dialog médecin détecté, intégration médicaments/hydratation calendrier, tests, documentation
  arkalia_cia/lib/main.dart
  arkalia_cia/lib/screens/calendar_screen.dart
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/services/auto_sync_service.dart
  arkalia_cia/lib/services/medication_service.dart
  arkalia_cia/lib/services/search_service.dart
  docs/BESOINS_MERE_23_NOVEMBRE_2025.md
  docs/CHANGELOG.md
  docs/INDEX_DOCUMENTATION.md
  docs/STATUT_FINAL_CONSOLIDE.md
  docs/TODOS_DOCUMENTES.md
  tests/unit/test_doctor_colors.py
  tests/unit/test_doctor_deduplication.py
Due: flutter

fix: Correction formatage tests Python (ruff)
  tests/unit/test_doctor_colors.py
  tests/unit/test_doctor_deduplication.py
Due: none

docs: Mise à jour finale documentation Phases 1-4
  docs/BESOINS_MERE_23_NOVEMBRE_2025.md
  docs/STATUT_FINAL_CONSOLIDE.md
  docs/TODOS_DOCUMENTES.md
Due: none

docs: Correction MD - Remplacement mentions 'manque' par 'TERMINÉ' pour toutes les phases
  docs/BESOINS_MERE_23_NOVEMBRE_2025.md
  docs/VUE_ENSEMBLE_PROJET.md
Due: none

docs: Mise à jour README avec phases 1-4 terminées
  README.md
Due: none

docs: Correction exploitation fonctionnalités - 99% au lieu de 70-80%
  docs/STATUT_FINAL_CONSOLIDE.md
Due: none

docs: Correction finale métriques - 99% exploitation avec détails
  docs/STATUT_FINAL_CONSOLIDE.md
Due: none

docs: Correction conclusion - 99% exploitation avec précisions
  docs/STATUT_FINAL_CONSOLIDE.md
Due: none

docs: Correction finale - 100% exploitation (améliorations optionnelles non bloquantes)
  docs/STATUT_FINAL_CONSOLIDE.md
Due: none

docs: Correction finale - 100% exploitation confirmée dans tous les MD
  README.md
  docs/STATUT_FINAL_CONSOLIDE.md
Due: none

fix: correction variables non utilisées test_doctor_deduplication
  tests/unit/test_doctor_deduplication.py
Due: none

docs: ajout guide utilisateur simple pour maman avec toutes les fonctionnalités validées
  docs/POUR_MAMAN.md
Due: none

docs: ajout guide pour envoyer le fichier à maman
  docs/COMMENT_ENVOYER_A_MAMAN.md
Due: none

fix: correction - je suis sa fille pas son fils !
  docs/POUR_MAMAN.md
Due: none

fix: précision que l'app est en développement et pas encore disponible
  docs/POUR_MAMAN.md
Due: none

feat: ajout section pour que maman puisse noter ses idées et suggestions
  docs/POUR_MAMAN.md
Due: none

feat: ajout message personnel pour rappeler à maman à quel point elle est extraordinaire
  docs/POUR_MAMAN.md
Due: none

Fix: Corriger erreur hashFiles dans GitHub Actions et erreurs MyPy
  .github/workflows/ci-matrix.yml
  arkalia_cia_python_backend/security_utils.py
Due: python

Fix: Configurer mypy pour ignorer phonenumbers et bleach dans pyproject.toml
  arkalia_cia_python_backend/security_utils.py
  pyproject.toml
Due: python

feat: système simple pour que maman puisse envoyer ses idées sans savoir écrire (appel, message vocal, aide famille)
  docs/MES_IDEES_POUR_MAMAN.md
  docs/POUR_MAMAN.md
Due: none

Fix: Corriger deprecated warnings pour Color dans pathology.dart
  arkalia_cia/lib/models/pathology.dart
Due: flutter

Fix: Améliorer écran chargement (contraste) + Corriger import fichiers PDF + Guide Comet
  arkalia_cia/lib/main.dart
  arkalia_cia/lib/screens/onboarding/import_choice_screen.dart
  arkalia_cia/lib/screens/onboarding/import_progress_screen.dart
  docs/OUVRIR_APP_DANS_COMET.md
Due: flutter

Fix: Remplacer withOpacity deprecated par withValues
  arkalia_cia/lib/screens/onboarding/import_choice_screen.dart
  arkalia_cia/lib/screens/onboarding/import_progress_screen.dart
Due: flutter

Fix: Renommer types.py en app_types.py pour éviter conflit avec module standard Python
  arkalia_cia_python_backend/app_types.py
  arkalia_cia_python_backend/services/document_service.py
Due: python

Path conditions:
  python: any of: arkalia_cia_python_backend/, but not: **/test/, **/tests/, **/__pycache__/, **/build/, **/dist/, **/coverage/, **/htmlcov/, **/*.g.dart, **/*.freezed.dart, **/generated/, **/venv/, **/node_modules/
  flutter: any of: arkalia_cia/lib/, but not: **/test/, **/tests/, **/__pycache__/, **/build/, **/dist/, **/coverage/, **/htmlcov/, **/*.g.dart, **/*.freezed.dart, **/generated/, **/venv/, **/node_modules/
