Repository arkalia-luna-system/arkalia-cia: changes, and which Codecov flags are due for each by the changed paths.
All: python, flutter

.codecov.yml:

# Configuration Codecov pour Arkalia CIA
# Supporte Python (backend) et Flutter (mobile)

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        base: auto
    patch:
      default:
        target: 60%
        threshold: 1%
        base: auto

flags:
  python:
    paths:
      - arkalia_cia_python_backend/
    carryforward: true
  flutter:
    paths:
      - arkalia_cia/lib/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false

ignore:
  - "**/test/"
  - "**/tests/"
  - "**/__pycache__/"
  - "**/build/"
  - "**/dist/"
  - "**/coverage/"
  - "**/htmlcov/"
  - "**/*.g.dart"
  - "**/*.freezed.dart"
  - "**/generated/"
  - "**/venv/"
  - "**/node_modules/"

fix: Amélioration gestion erreur connexion backend dans assistant IA
  arkalia_cia/lib/screens/conversational_ai_screen.dart
  arkalia_cia/lib/services/conversational_ai_service.dart
Due: flutter

feat: Amélioration visuelle écran BBIA avec informations complètes
  arkalia_cia/lib/screens/bbia_integration_screen.dart
  arkalia_cia/lib/screens/patterns_dashboard_screen.dart
  arkalia_cia/lib/services/pathology_service.dart
  docs/CORRECTIONS_CI.md
  docs/CORRECTIONS_SECURITE_EFFECTUEES.md
  docs/CORRECTIONS_TESTS_20_NOVEMBRE.md
  docs/audits/ANALYSES_CONSOLIDEES.md
  docs/audits/ANALYSE_BIOMETRIE.md
  docs/audits/ANALYSE_EXPLOITATION_PROJET.md
  docs/audits/ANALYSE_PERFORMANCE_TESTS.md
  docs/audits/AUDIT_ET_OPTIMISATIONS.md
  docs/audits/CORRECTIONS_20_NOVEMBRE_2025.md
  docs/audits/CORRECTIONS_ULTRA_SEVERE_20_NOVEMBRE_2025.md
Due: flutter

feat: Amélioration écran Statistiques - calculs et affichage
  arkalia_cia/lib/screens/stats_screen.dart
Due: flutter

feat: amélioration analyse patterns et ajout pathologies complètes
  arkalia_cia/lib/screens/hydration_reminders_screen.dart
Due: flutter

fix: correction écran rappels hydratation
  arkalia_cia/lib/screens/hydration_reminders_screen.dart
Due: flutter

✨ Amélioration de l'écran d'hydratation : design moderne et fonctionnalités intelligentes
  arkalia_cia/lib/screens/hydration_reminders_screen.dart
Due: flutter

feat: centralisation des portails de santé dans un fichier de configuration
  arkalia_cia/lib/config/health_portals_config.dart
  arkalia_cia/lib/screens/health_screen.dart
  arkalia_cia_python_backend/security_dashboard.py
  docs/PORTAILS_SANTE.md
Due: python, flutter

fix: afficher les portails pré-configurés même sans backend
  arkalia_cia/lib/screens/health_screen.dart
Due: flutter

docs: amélioration documentation intégration ARIA avec vision clinique
  README.md
  docs/ARIA_INTEGRATION.md
Due: none

docs: ajout vision écosystème Arkalia Luna System
  README.md
  docs/ECOSYSTEM_VISION.md
Due: none

docs: ajout cas d'usage concrets pour différents profils utilisateurs
  README.md
  docs/USE_CASES.md
Due: none

docs: amélioration liens croisés entre documentation CIA et ARIA
  docs/ARIA_INTEGRATION.md
  docs/ECOSYSTEM_VISION.md
Due: none

feat: Améliorations CIA - Accessibilité, rapports médicaux et intégration ARIA
  arkalia_cia/lib/screens/hydration_reminders_screen.dart
  arkalia_cia/lib/widgets/exam_type_badge.dart
  arkalia_cia/lib/widgets/pathology_ai_suggestions.dart
  arkalia_cia_python_backend/ai/conversational_ai.py
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/dependencies.py
  arkalia_cia_python_backend/services/medical_report_service.py
  tests/unit/test_medical_report_service.py
Due: python, flutter

feat: Interface Flutter pour génération rapports médicaux
  arkalia_cia/lib/screens/doctor_detail_screen.dart
  arkalia_cia/lib/screens/health_screen.dart
  arkalia_cia/lib/screens/medical_report_screen.dart
  arkalia_cia/lib/services/api_service.dart
Due: flutter

feat: Tests d'intégration et amélioration gestion erreurs rapports médicaux
  arkalia_cia/lib/screens/medical_report_screen.dart
  tests/integration/test_medical_report_api.py
Due: flutter

fix: Correction test intégration rapport médical (temp_db tuple)
  tests/integration/test_medical_report_api.py
Due: none

docs: Mise à jour documentation rapports médicaux et correction lint
  README.md
  docs/ARIA_INTEGRATION.md
  tests/integration/test_medical_report_api.py
  tests/unit/test_medical_report_service.py
Due: none

fix: Suppression variables non utilisées dans tests
  tests/integration/test_medical_report_api.py
Due: none

docs: Ajout endpoint rapports médicaux dans API_DOCUMENTATION.md
  docs/API_DOCUMENTATION.md
Due: none

docs: Mise à jour date API_DOCUMENTATION.md (23 novembre 2025)
  docs/API_DOCUMENTATION.md
Due: none

docs: Amélioration section Rate Limiting avec tableau détaillé
  docs/API_DOCUMENTATION.md
Due: none

fix: Correction tests intégration (unauthorized 401/403, rate limit flexible)
  tests/integration/test_medical_report_api.py
Due: none

docs: Ajout documentation Google Play Console et mise à jour état actuel
  README.md
  docs/deployment/BUILD_RELEASE_ANDROID.md
  docs/deployment/DEPLOYMENT.md
  docs/deployment/GUIDE_DEPLOIEMENT_FINAL.md
  docs/deployment/PLAY_STORE_SETUP.md
Due: none

feat: Préparation signature release Android et configuration Play Store
  .gitignore
  arkalia_cia/android/app/build.gradle.kts
  arkalia_cia/android/key.properties.template
  docs/deployment/PLAY_STORE_SETUP.md
  tests/integration/test_medical_report_api.py
Due: none

fix: Suppression variable non utilisée dans test rate limit
  tests/integration/test_medical_report_api.py
Due: none

docs: Ajout métadonnées Play Store prêtes à copier-coller
  docs/deployment/PLAY_STORE_METADATA.md
  docs/deployment/PLAY_STORE_SETUP.md
Due: none

fix: Restauration HydrationService et variable now dans calendar_screen
  arkalia_cia/lib/screens/calendar_screen.dart
Due: flutter

fix: Restauration complète imports - medication.dart et doctor_service.dart
  arkalia_cia/lib/screens/calendar_screen.dart
  arkalia_cia/lib/screens/documents_screen.dart
Due: flutter

fix: Correction ligne trop longue (ruff E501) dans conversational_ai.py
  arkalia_cia_python_backend/ai/conversational_ai.py
Due: python

fix: Correction indentation try/except dans conversational_ai.py
  arkalia_cia_python_backend/ai/conversational_ai.py
Due: python

docs: Mise à jour guide maman et contexte IA - 24 novembre 2025
  .cursorrules
  docs/COMMENT_ENVOYER_A_MAMAN.md
  docs/MES_IDEES_POUR_MAMAN.md
  docs/POUR_MAMAN.md
Due: none

chore: Unification des versions à 1.3.0 pour release stable
  arkalia_cia/check_updates.sh
  arkalia_cia/lib/screens/settings_screen.dart
  arkalia_cia/lib/screens/sync_screen.dart
  docs/MISE_A_JOUR_S25_CORRIGEE.md
  docs/VERSIONS_UNIFIEES.md
  docs/deployment/GUIDE_DEPLOIEMENT_FINAL.md
Due: flutter

fix: Résolution conflits fichiers plans avant merge v1.3.0
  docs/plans/RESUME_FINAL_IMPLÉMENTATION.md
  docs/plans/RESUME_IMPLÉMENTATION_RAPIDE.md
Due: none

chore: Suppression derniers fichiers macOS cachés restants
  docs/.!66615!._MISE_A_JOUR_S25_WIFI.md
  docs/plans/.!66500!._RESUME_FINAL_IMPLÉMENTATION.md
  docs/plans/.!66513!._RESUME_IMPLÉMENTATION_RAPIDE.md
Due: none

docs: Ajout instructions release v1.3.0
  docs/deployment/INSTRUCTIONS_RELEASE_V1.3.0.md
Due: none

chore: Mise à jour dépendances et corrections qualité code
  README.md
  arkalia_cia/.gitattributes
  arkalia_cia/android/app/build.gradle.kts
  arkalia_cia/android/build-android.sh
  arkalia_cia/android/generate_keystore.sh
  arkalia_cia/android/local.properties
  arkalia_cia/android/prevent-macos-files.sh
  arkalia_cia/android/setup_key_properties.sh
  arkalia_cia/android/watch-macos-files.sh
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
  arkalia_cia_python_backend/ai/conversational_ai.py
  arkalia_cia_python_backend/ai/pattern_analyzer.py
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/security_dashboard.py
  docs/CHANGELOG.md
  docs/deployment/INSTRUCTIONS_RELEASE_V1.3.0.md
  docs/deployment/PLAY_STORE_SETUP.md
  requirements.txt
  scripts/verify_release_readiness.py
  tests/unit/test_pathology_templates.py
  tests/unit/test_retry.py
  tests/unit/test_security_vulnerabilities.py
  tests/unit/test_validation.py
Due: python

fix: Correction warnings Flutter (Share deprecated)
  arkalia_cia/lib/screens/sync_screen.dart
Due: flutter
