Repository arkalia-luna-system/arkalia-cia: changes, and which Codecov flags are due for each by the changed paths.
All: python, flutter

📸 Guide screenshots: Détails exacts des écrans à capturer
  docs/DEPLOYMENT.md
  docs/SCREENSHOTS_GUIDE.md
Due: none

📊 Codecov: Corrections MD avec couverture réelle (10,69% global / 66% fichiers testés)
  README.md
  docs/PHASE1_COMPLETED.md
  docs/RELEASE_CHECKLIST.md
  docs/SCREENSHOTS_GUIDE.md
Due: none

📊 Codecov: Correction CONTRIBUTING.md avec infos complètes
  docs/CONTRIBUTING.md
Due: none

📊 Codecov: Finalisation corrections MD avec couverture réelle
  README.md
  docs/RELEASE_CHECKLIST.md
Due: none

📸 Checklist screenshots: Vérification - Aucun screenshot trouvé
  docs/SCREENSHOTS_CHECKLIST.md
Due: none

📱 Guide installation iPhone: Méthodes pratiques pour installer l'app
  INSTALL_IPHONE.md
Due: none

📱 iPad Pro: Confirmation que iPad Pro est excellent pour screenshots
  INSTALL_IPHONE.md
Due: none

📱 Guide étape par étape pour installer l'app sur iPad Pro
  ETAPES_IPAD.md
Due: none

🔧 Code quality: Black formatage + Bilan problème Gradle Android
  arkalia_cia/android/app/build.gradle.kts
  arkalia_cia/android/gradle.properties
  arkalia_cia/android/local.properties
  arkalia_cia/ios/Flutter/Generated.xcconfig
  arkalia_cia/ios/Flutter/flutter_export_environment.sh
  docs/GRADLE_ISSUE_REPORT.md
Due: none

🔧 Gradle: init.gradle amélioré + Guide complet + Scripts exécutables
  arkalia_cia/android/build-android.sh
  arkalia_cia/android/clean-gradle.sh
  arkalia_cia/android/gradle.properties
  arkalia_cia/android/init.gradle
  arkalia_cia/android/setup-global-init.sh
  docs/GRADLE_FIX_GUIDE.md
  docs/GRADLE_ISSUE_REPORT.md
Due: none

fix: Solution ultra-robuste Gradle v3.0 - Anticipation tous problèmes
  arkalia_cia/android/init.gradle
  docs/GRADLE_FIX_GUIDE.md
  docs/GRADLE_ISSUE_REPORT.md
Due: none

🔧 init.gradle: Suppression import inutile ligne 5
  arkalia_cia/android/init.gradle
Due: none

fix: Correction CodeQL JavaScript + formatage code Python (black, ruff, bandit)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
  arkalia_cia/android/app/build.gradle.kts
  arkalia_cia/android/build-android.sh
  arkalia_cia/pubspec.lock
Due: none

docs: Ajout badge CodeQL et documentation sécurité Python-only
  README.md
  SECURITY.md
Due: none

fix: Correction qualité code (black, ruff, mypy, bandit) et scripts Android
  .gitattributes
  arkalia_cia/android/.gradleignore
  arkalia_cia/android/app/build.gradle.kts
  arkalia_cia/android/build-android.sh
  arkalia_cia/android/build.gradle.kts
  arkalia_cia/android/clean-gradle.sh
  arkalia_cia/android/disable-macos-files.sh
  arkalia_cia/android/find-all-macos-files.sh
  arkalia_cia/android/gradle.properties
  arkalia_cia/android/init.gradle
  arkalia_cia/android/prevent-macos-files.sh
  arkalia_cia/android/watch-macos-files.sh
  arkalia_cia/macos/Flutter/GeneratedPluginRegistrant.swift
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
  arkalia_cia_python_backend/security_dashboard.py
  docs/CE_QUE_VOUS_DEVRIEZ_VOIR.md
  docs/CORRECTIONS_FICHIERS_MACOS.md
  docs/MACOS_FILES_SOLUTION.md
  docs/SOLUTION_FICHIERS_MACOS.md
Due: python

✅ Build Android réussi - Screenshots capturés - Fichiers macOS corrigés
  docs/PHASE1_COMPLETED.md
  docs/SCREENSHOTS_CHECKLIST.md
  docs/VALIDATION.md
  docs/screenshots/android/screenshot-01-home-screen.jpeg
  docs/screenshots/android/screenshot-02-detail-screen.jpeg
  docs/screenshots/android/screenshot-03-documents-screen.jpeg
  docs/screenshots/android/screenshot-04-aria-screen.jpeg
  docs/screenshots/android/screenshot-05-health-screen.jpeg
  docs/screenshots/android/screenshot-06-reminders-screen.jpeg
  docs/screenshots/android/screenshot-07-emergency-screen.jpeg
  docs/screenshots/android/screenshot-08-sync-screen.jpeg
Due: none

🔧 Fix: Suppression des commentaires type: ignore inutiles (mypy)
  arkalia_cia_python_backend/security_dashboard.py
Due: python

🔧 Fix: Ajout des commentaires type: ignore pour imports athalia_core (lignes 15, 18, 21, 24)
  arkalia_cia_python_backend/security_dashboard.py
Due: python

🔧 Fix: Format type: ignore simple pour lignes 15, 18, 21, 24
  arkalia_cia_python_backend/security_dashboard.py
Due: python

feat: Atteindre 100% d'exploitation - Chiffrement AES-256, path_provider, synchronisation complète, portails belges, optimisation packages
  .gitignore
  README.md
  arkalia_cia/android/app/build.gradle.kts
  arkalia_cia/android/app/src/main/AndroidManifest.xml
  arkalia_cia/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  arkalia_cia/android/build.gradle.kts
  arkalia_cia/ios/Runner/GeneratedPluginRegistrant.m
  arkalia_cia/lib/main.dart
  arkalia_cia/lib/screens/aria_screen.dart
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/emergency_screen.dart
  arkalia_cia/lib/screens/health_screen.dart
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/screens/lock_screen.dart
  arkalia_cia/lib/screens/settings_screen.dart
  arkalia_cia/lib/screens/sync_screen.dart
  arkalia_cia/lib/services/api_service.dart
  arkalia_cia/lib/services/aria_service.dart
  arkalia_cia/lib/services/auth_service.dart
  arkalia_cia/lib/services/backend_config_service.dart
  arkalia_cia/lib/services/calendar_service.dart
  arkalia_cia/lib/services/contacts_service.dart
  arkalia_cia/lib/services/file_storage_service.dart
  arkalia_cia/lib/services/theme_service.dart
  arkalia_cia/lib/utils/encryption_helper.dart
  arkalia_cia/lib/utils/storage_helper.dart
  arkalia_cia/macos/Flutter/GeneratedPluginRegistrant.swift
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
  docs/ANALYSE_EXPLOITATION_PROJET.md
  docs/AUDIT_EXPLOITATION_100.md
  docs/AUDIT_FINAL_COMPLET.md
  docs/CHANGELOG.md
  docs/EXPLICATION_WIFI_ADB.md
  docs/RESULTAT_FINAL_100.md
  docs/TESTER_ET_METTRE_A_JOUR.md
Due: flutter

docs: Mise à jour tous les fichiers MD pour refléter 100% d'exploitation
  docs/ANALYSE_EXPLOITATION_PROJET.md
  docs/AUDIT_EXPLOITATION_100.md
Due: none

docs: Correction finale - Tous les fichiers MD reflètent maintenant 100% d'exploitation
  docs/ANALYSE_EXPLOITATION_PROJET.md
  docs/CHANGELOG.md
Due: none

docs: Ajout validation finale 100% d'exploitation
  docs/VALIDATION_FINALE_100.md
Due: none

docs: Correction finale métriques dans ANALYSE_EXPLOITATION_PROJET.md
  docs/ANALYSE_EXPLOITATION_PROJET.md
Due: none

docs: Mise à jour ANALYSE_EXPLOITATION_PROJET.md - Toutes les fonctionnalités maintenant à 100%
  docs/ANALYSE_EXPLOITATION_PROJET.md
Due: none

docs: Mise à jour README.md - Tous les modules à 100%
  README.md
Due: none

docs: Correction finale opportunités d'exploitation dans ANALYSE_EXPLOITATION_PROJET.md
  docs/ANALYSE_EXPLOITATION_PROJET.md
Due: none

docs: Ajout vérification finale toutes les tâches complétées
  docs/VERIFICATION_FINALE_TACHES.md
Due: none

feat: Implémentation Phase 3 - Rappels récurrents, prévisualisation PDF, partage documents, widgets HomePage
  arkalia_cia/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  arkalia_cia/android/local.properties
  arkalia_cia/ios/Runner/GeneratedPluginRegistrant.m
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/screens/reminders_screen.dart
  arkalia_cia/lib/services/calendar_service.dart
  arkalia_cia/macos/Flutter/GeneratedPluginRegistrant.swift
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
  arkalia_cia_python_backend/security_dashboard.py
Due: python, flutter

fix: Correction erreurs Phase 3 - Import url_launcher, méthodes dupliquées
  arkalia_cia/lib/screens/documents_screen.dart
Due: flutter

docs: Mise à jour documentation Phase 3 complétée - Widgets, rappels récurrents, prévisualisation PDF, partage
  README.md
  docs/ANALYSE_EXPLOITATION_PROJET.md
  docs/CHANGELOG.md
  docs/VERIFICATION_FINALE_TACHES.md
Due: none

docs: Ajout document RESTE_A_FAIRE.md - Résumé Phase 3 complétée et Phase 4 optionnelle
  docs/RESTE_A_FAIRE.md
Due: none

chore: Nettoyage fichiers modifiés
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/utils/storage_helper.dart
Due: flutter

feat: Implémentation complète des fonctionnalités manquantes
  arkalia_cia/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  arkalia_cia/ios/Runner/GeneratedPluginRegistrant.m
  arkalia_cia/lib/main.dart
  arkalia_cia/lib/screens/settings_screen.dart
  arkalia_cia/lib/screens/sync_screen.dart
  arkalia_cia/lib/services/api_service.dart
  arkalia_cia/lib/services/auto_sync_service.dart
  arkalia_cia/lib/utils/retry_helper.dart
  arkalia_cia/macos/Flutter/GeneratedPluginRegistrant.swift
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
  docs/AUDIT_COMPLET_MANQUANTS.md
Due: flutter

feat: Ajout fonctionnalités avancées - catégories, validation, statistiques
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/health_screen.dart
  arkalia_cia/lib/screens/stats_screen.dart
  arkalia_cia/lib/screens/sync_screen.dart
  arkalia_cia/lib/services/category_service.dart
  arkalia_cia/lib/utils/validation_helper.dart
  arkalia_cia/lib/widgets/emergency_contact_dialog.dart
Due: flutter

feat: Recherche globale et accessibilité
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/services/search_service.dart
  arkalia_cia_python_backend/api.py
  requirements.txt
  tests/test_database.py
  tests/test_pdf_processor.py
  tests/unit/test_api.py
  tests/unit/test_aria_integration.py
  tests/unit/test_auto_documenter.py
  tests/unit/test_security_dashboard.py
  tests/unit/test_storage.py
  tests/unit/test_validation.py
Due: python, flutter

fix: Intégration complète recherche globale dans HomePage
  arkalia_cia/lib/screens/home_page.dart
Due: flutter

feat: Gestion d'erreurs réseau améliorée et cache offline
  arkalia_cia/lib/services/api_service.dart
  arkalia_cia/lib/services/offline_cache_service.dart
  arkalia_cia/lib/utils/error_helper.dart
  arkalia_cia_python_backend/aria_integration/api.py
  arkalia_cia_python_backend/security_dashboard.py
  tests/unit/test_api.py
  tests/unit/test_auto_documenter.py
  tests/unit/test_security_dashboard.py
  tests/unit/test_storage.py
Due: python, flutter

fix: Correction imports TimeoutException et OfflineCacheService
  arkalia_cia/lib/utils/error_helper.dart
  docs/DOCUMENTATION_STATUS.md
  docs/RELEASE_CHECKLIST.md
Due: flutter

fix: Ajout import OfflineCacheService manquant
  README.md
  arkalia_cia/lib/services/api_service.dart
  docs/CHANGELOG.md
  docs/DOCUMENTATION_STATUS.md
Due: flutter

Path conditions:
  python: any of: arkalia_cia_python_backend/, but not: **/test/, **/tests/, **/__pycache__/, **/build/, **/dist/, **/coverage/, **/htmlcov/, **/*.g.dart, **/*.freezed.dart, **/generated/, **/venv/, **/node_modules/
  flutter: any of: arkalia_cia/lib/, but not: **/test/, **/tests/, **/__pycache__/, **/build/, **/dist/, **/coverage/, **/htmlcov/, **/*.g.dart, **/*.freezed.dart, **/generated/, **/venv/, **/node_modules/
