Repository arkalia-luna-system/arkalia-cia: changes, and which Codecov flags are due for each by the changed paths.
All: python, flutter

fix: Suppression --no-pub du build initial pour créer package_config.json
  arkalia_cia/scripts/dev-web-fast.sh
Due: none

fix: Suppression build initial qui compilait iOS inutilement
  arkalia_cia/scripts/dev-web-fast.sh
Due: none

fix: Simplification lancement Flutter et messages informatifs
  arkalia_cia/scripts/dev-web-fast.sh
Due: none

fix: Messages clairs expliquant que les erreurs WebSocket sont normales
  arkalia_cia/scripts/dev-web-fast.sh
Due: none

fix: Délais pour éviter vérifications auth trop tôt sur web
  arkalia_cia/lib/main.dart
  arkalia_cia/lib/services/google_auth_service.dart
Due: flutter

fix: Délai avant refreshToken sur web pour éviter erreurs
  arkalia_cia/lib/main.dart
Due: flutter

fix: Amélioration Google Sign-In pour éviter redirection Gmail
  arkalia_cia/lib/screens/auth/welcome_auth_screen.dart
  arkalia_cia/lib/services/google_auth_service.dart
Due: flutter

fix: Délais augmentés et affichage amélioré pour erreurs WebSocket
  arkalia_cia/lib/main.dart
Due: flutter

feat: Amélioration affichage script dev-web-fast.sh
  arkalia_cia/scripts/dev-web-fast.sh
Due: none

fix: Correction section Device Emulation dans dev-web-fast.sh
  arkalia_cia/web/index.html
Due: none

fix: Amélioration accessibilité et affichage HomePage
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/scripts/dev-web-fast.sh
  arkalia_cia/scripts/open_comet_devtools.applescript
  arkalia_cia/web/index.html
Due: flutter

fix: Correction structure HomePage et accessibilité complète
  arkalia_cia/lib/screens/home_page.dart
Due: flutter

fix: Vérification finale - Aucune erreur de lint
  arkalia_cia/lib/screens/home_page.dart
Due: flutter

fix: Correction affichage textes et optimisation chargement
  arkalia_cia/lib/main.dart
  arkalia_cia/lib/screens/home_page.dart
Due: flutter

fix: Simplification hint recherche pour meilleure performance
  arkalia_cia/lib/screens/home_page.dart
Due: flutter

fix: Correction erreurs lint et amélioration affichage initial
  arkalia_cia/lib/main.dart
Due: flutter

feat: Améliorations architecture et optimisations - 28 décembre 2025
  README.md
  arkalia_cia/scripts/update_csp_for_production.sh
  arkalia_cia/web/index.html
  arkalia_cia_python_backend/ai/aria_integration.py
  arkalia_cia_python_backend/ai/conversational_ai.py
  arkalia_cia_python_backend/ai/pattern_analyzer.py
  arkalia_cia_python_backend/aria_integration/api.py
  arkalia_cia_python_backend/config.py
  arkalia_cia_python_backend/services/medical_report_service.py
  arkalia_cia_python_backend/utils/filename_validator.py
  docs/CHANGELOG.md
  docs/analysis/AMELIORATIONS_APPLIQUEES.md
  docs/analysis/RAPPORT_ANALYSE_PROJET.md
Due: python

chore(deps): Mise à jour des dépendances Dependabot
  .github/workflows/flutter-ci.yml
  arkalia_cia/lib/services/google_auth_service.dart
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
Due: flutter

fix: Mise à jour SDK Dart et Flutter pour google_sign_in 7.2.0
  .github/workflows/flutter-ci.yml
  arkalia_cia/pubspec.yaml
Due: none

fix: Mise à jour Flutter CI vers 3.29.0 pour Dart 3.7.0+
  .github/workflows/flutter-ci.yml
  arkalia_cia/pubspec.yaml
Due: none

fix: Downgrade fl_chart à 1.0.0 pour compatibilité Flutter 3.29.0
  arkalia_cia/pubspec.yaml
Due: none

fix: Pin fl_chart à 1.0.0 exactement (sans ^)
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
Due: none

fix: Régénération pubspec.lock pour forcer fl_chart 1.0.0
  arkalia_cia/pubspec.lock
Due: none

fix: CI utilise pubspec.lock pour forcer fl_chart 1.0.0
  .github/workflows/flutter-ci.yml
Due: none

revert: Retour à flutter pub get standard (respecte pubspec.lock)
  .github/workflows/flutter-ci.yml
Due: none

fix: Ajout vérification fl_chart version dans CI
  .github/workflows/flutter-ci.yml
Due: none

chore(deps): sync dependabot merges for flutter_contacts and CI artifacts
  arkalia_cia/macos/Flutter/GeneratedPluginRegistrant.swift
  arkalia_cia/pubspec.lock
Due: none

docs: ajouter section pour debuter pour les contributeurs
  README.md
Due: none

docs: clarifier mode exploitation, beta familles et ajouter squelette tests e2e
  docs/deployment/RUNBOOK_EXPLOITATION_MINIMALE.md
  docs/deployment/STRATEGIE_BACKEND_ET_MODE_EXPLOITATION.md
  docs/plans/PLAN_TESTS_UTILISATEURS_SENIORS.md
  docs/status/PRODUIT_MARCHE_ET_SUPPORT_BETA_FAMILLES.md
  tests/e2e/test_end_to_end_flows.py
Due: none

ux: clarifier messages vides et ajouter squelette e2e marque xfail
  arkalia_cia/lib/screens/calendar_screen.dart
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/emergency_screen.dart
  arkalia_cia/lib/screens/reminders_screen.dart
  arkalia_cia/test/screens/reminders_screen_test.dart
  tests/e2e/test_end_to_end_flows.py
Due: flutter

Harden security scanning and ReDoS-prone backend paths.
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  arkalia_cia_python_backend/pdf_parser/metadata_extractor.py
  arkalia_cia_python_backend/security_utils.py
  arkalia_cia_python_backend/services/health_portal_parsers.py
  arkalia_cia_python_backend/services/medical_report_service.py
  docs/CHANGELOG.md
  docs/audits/AUDIT_SECURITE_27_AVRIL_2026.md
  docs/deployment/RUNBOOK_EXPLOITATION_MINIMALE.md
Due: python

fix(ci): stabilize local test execution and health check expectations
  arkalia_cia_python_backend/api.py
  scripts/run_tests.sh
Due: python

feat(aria): align CIA integration with ARIA transition contract
  README.md
  arkalia_cia/lib/services/aria_service.dart
  arkalia_cia_python_backend/ai/aria_integration.py
  arkalia_cia_python_backend/aria_integration/api.py
  arkalia_cia_python_backend/services/medical_report_service.py
  docs/CHANGELOG.md
  docs/deployment/RUNBOOK_EXPLOITATION_MINIMALE.md
  docs/integrations/ARIA_INTEGRATION.md
  tests/unit/test_aria_integration.py
  tests/unit/test_medical_report_service.py
Due: python, flutter

fix(flutter): restore contacts compatibility with flutter_contacts v2
  arkalia_cia/lib/screens/emergency_screen.dart
  arkalia_cia/lib/services/contacts_service.dart
  arkalia_cia/lib/widgets/emergency_contact_dialog.dart
  arkalia_cia/pubspec.lock
Due: flutter

feat(aria): migrate core pain flows to CIA local-first fallback
  arkalia_cia_python_backend/ai/aria_integration.py
  arkalia_cia_python_backend/aria_integration/api.py
  tests/unit/test_aria_integration.py
Due: python

feat(aria): complete CIA autonomy for csv and recent patterns
  arkalia_cia_python_backend/ai/aria_integration.py
  arkalia_cia_python_backend/aria_integration/api.py
  arkalia_cia_python_backend/config.py
  tests/unit/test_aria_integration.py
Due: python

security(ci): durcir les erreurs API et stabiliser les workflows
  .github/workflows/ci-matrix.yml
  .github/workflows/deploy-play-store.yml
  .github/workflows/flutter-ci.yml
  .github/workflows/security-scan.yml
  README.md
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/aria_integration/api.py
Due: python

Path conditions:
  python: any of: arkalia_cia_python_backend/, but not: **/test/, **/tests/, **/__pycache__/, **/build/, **/dist/, **/coverage/, **/htmlcov/, **/*.g.dart, **/*.freezed.dart, **/generated/, **/venv/, **/node_modules/
  flutter: any of: arkalia_cia/lib/, but not: **/test/, **/tests/, **/__pycache__/, **/build/, **/dist/, **/coverage/, **/htmlcov/, **/*.g.dart, **/*.freezed.dart, **/generated/, **/venv/, **/node_modules/
