Repository arkalia-luna-system/arkalia-cia: changes, and which Codecov flags are due for each by the changed paths.
All: python, flutter

.codecov.yml:

# Configuration Codecov pour Arkalia CIA
# Supporte Python (backend) et Flutter (mobile)

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        base: auto
    patch:
      default:
        target: 60%
        threshold: 1%
        base: auto

flags:
  python:
    paths:
      - arkalia_cia_python_backend/
    carryforward: true
  flutter:
    paths:
      - arkalia_cia/lib/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false

ignore:
  - "**/test/"
  - "**/tests/"
  - "**/__pycache__/"
  - "**/build/"
  - "**/dist/"
  - "**/coverage/"
  - "**/htmlcov/"
  - "**/*.g.dart"
  - "**/*.freezed.dart"
  - "**/generated/"
  - "**/venv/"
  - "**/node_modules/"

feat: Améliorations UX finales + Audit complet 18 novembre 2025
  README.md
  arkalia_cia/lib/screens/aria_screen.dart
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/health_screen.dart
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/screens/reminders_screen.dart
  arkalia_cia/lib/screens/settings_screen.dart
  arkalia_cia/lib/widgets/emergency_info_card.dart
  docs/AUDIT_COMPLET_18_NOVEMBRE_2025.md
  docs/RELEASE_CHECKLIST.md
Due: flutter

docs: Ajout document récapitulatif améliorations UX complétées
  docs/AMELIORATIONS_UX_COMPLETEES.md
Due: none

docs: Ajout document prochaines étapes pour release v1.0
  docs/PROCHAINES_ETAPES_RELEASE.md
Due: none

fix: Correction fontSize subtitles + mise à jour MD existants
  arkalia_cia/lib/screens/home_page.dart
  docs/AMELIORATIONS_UX_COMPLETEES.md
  docs/AUDIT_COMPLET_18_NOVEMBRE_2025.md
  docs/CHANGELOG.md
  docs/PROCHAINES_ETAPES_RELEASE.md
  docs/RELEASE_CHECKLIST.md
  docs/RESUME_EXECUTIF.md
  docs/RESUME_FINAL_AMELIORATIONS.md
  docs/SYNTHESE_FINALE_COMPLETE.md
Due: flutter

docs: Ajout document récapitulatif ce qui reste vraiment à faire
  docs/CE_QUI_RESTE_A_FAIRE.md
Due: none

fix: Correction tests list_* échoués - nettoyage DB avant chaque test
  tests/test_database.py
Due: none

docs: Mise à jour CE_QUI_RESTE_A_FAIRE.md - tests list_* corrigés ✅
  docs/CE_QUI_RESTE_A_FAIRE.md
Due: none

fix: Correction test security_dashboard - athalia_available
  docs/BUILD_RELEASE_ANDROID.md
  tests/unit/test_security_dashboard.py
Due: none

docs: Mise à jour CE_QUI_RESTE_A_FAIRE.md - 2 tâches complétées ✅
  docs/CE_QUI_RESTE_A_FAIRE.md
Due: none

perf: Optimisation massive test security_dashboard - 140s → 0.54s
  tests/unit/test_security_dashboard.py
Due: none

docs: Mise à jour CE_QUI_RESTE_A_FAIRE.md - optimisation performance test ✅
  docs/CE_QUI_RESTE_A_FAIRE.md
Due: none

fix: Correction linting test_security_dashboard - imports et formatage
  tests/unit/test_security_dashboard.py
Due: none

fix: Suppression import MagicMock en double
  tests/unit/test_security_dashboard.py
Due: none

feat(security): Améliorations de sécurité complètes - Score 100/100
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/aria_integration/api.py
  arkalia_cia_python_backend/auto_documenter.py
  arkalia_cia_python_backend/database.py
  arkalia_cia_python_backend/pdf_processor.py
  arkalia_cia_python_backend/security_dashboard.py
  arkalia_cia_python_backend/security_utils.py
  arkalia_cia_python_backend/storage.py
  dashboard/security/security_dashboard.html
  requirements.txt
  tests/integration/test_integration.py
  tests/test_database.py
  tests/unit/test_auto_documenter.py
  tests/unit/test_security_dashboard.py
  tests/unit/test_security_vulnerabilities.py
  tests/unit/test_storage.py
  tests/unit/test_validation.py
Due: python

Mise à jour des fichiers modifiés: API, tests, sécurité et documentation
  arkalia_cia_python_backend/api.py
  arkalia_cia_python_backend/aria_integration/api.py
  arkalia_cia_python_backend/auto_documenter.py
  arkalia_cia_python_backend/database.py
  arkalia_cia_python_backend/pdf_processor.py
  arkalia_cia_python_backend/security_dashboard.py
  arkalia_cia_python_backend/security_utils.py
  cleanup_all.sh
  dashboard/security/security_dashboard.html
  docs/PROCESSUS_LOURDS.md
  quality_report.json
  tests/integration/test_integration.py
  tests/test_database.py
  tests/unit/test_api.py
  tests/unit/test_security_dashboard.py
  tests/unit/test_security_vulnerabilities.py
  tests/unit/test_storage.py
  tests/unit/test_validation.py
Due: python

perf: Optimisation massive tests - suppression gc.collect() et correction chemins DB
  :memory:
  AUDIT_IOS_GRATUIT.md
  INSTALLER_XCODE_MAC.md
  dashboard/security/security_dashboard.html
  quality_report.json
  tests/integration/test_integration.py
Due: none

docs: Ajout document optimisations tests
  docs/OPTIMISATIONS_TESTS.md
Due: none

fix: Correction 2 tests échoués - format téléphone et validation DB
  tests/unit/test_api.py
  tests/unit/test_security_vulnerabilities.py
Due: none

docs: Mise à jour tous les MD avec infos 18 novembre 2025
  README.md
  dashboard/security/security_dashboard.html
  docs/CE_QUI_RESTE_A_FAIRE.md
  docs/CHANGELOG.md
  docs/RELEASE_CHECKLIST.md
  docs/RESUME_EXECUTIF.md
  docs/RESUME_FINAL_AMELIORATIONS.md
  docs/SYNTHESE_FINALE_COMPLETE.md
Due: none

docs: Ajout résumé optimisations tests dans CE_QUI_RESTE_A_FAIRE.md
  docs/CE_QUI_RESTE_A_FAIRE.md
Due: none

docs: Correction métriques tests dans SYNTHESE et RESUME_EXECUTIF - 206 tests
  docs/SYNTHESE_FINALE_COMPLETE.md
Due: none

docs: Corrections finales métriques tests - 206 tests partout
  docs/SYNTHESE_FINALE_COMPLETE.md
Due: none

docs: Fusion et organisation MD - fichiers similaires fusionnés
  docs/AMELIORATIONS_FINALES.md
  docs/INDEX_DOCUMENTATION.md
  docs/OPTIMISATIONS_COMPLETE.md
  docs/OPTIMISATIONS_PERFORMANCE.md
  docs/OPTIMISATIONS_TESTS_MEMOIRE.md
  docs/RESUME_EXECUTIF.md
  docs/RESUME_FINAL_AMELIORATIONS.md
  docs/RESUME_PROJET.md
  docs/VERIFICATION_FINALE_COMPLETE.md
Due: none

Fix: Suppression du fichier invalide :memory: pour compatibilité Windows
  :memory:
Due: none

docs: Ajout note dans le guide de déploiement iOS
  docs/IOS_DEPLOYMENT_GUIDE.md
Due: none

chore: Organisation complète du projet
  docs/DEPLOIEMENT_WIFI_IOS.md
Due: none

fix: Correction ouverture PDF et améliorations
  arkalia_cia/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  arkalia_cia/ios/Podfile.lock
  arkalia_cia/ios/Runner/GeneratedPluginRegistrant.m
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/health_screen.dart
  arkalia_cia/lib/services/api_service.dart
  arkalia_cia/macos/Podfile.lock
  arkalia_cia/macos/Runner.xcodeproj/project.pbxproj
  arkalia_cia/macos/Runner.xcworkspace/contents.xcworkspacedata
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
  arkalia_cia_python_backend/api.py
Due: python, flutter

fix: Suppression fichiers macOS cachés dans macos/Pods
  arkalia_cia/ios/Flutter/Generated.xcconfig
  arkalia_cia/ios/Flutter/flutter_export_environment.sh
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/health_screen.dart
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/screens/sync_screen.dart
  arkalia_cia/macos/Podfile.lock
Due: flutter

docs: Amélioration visuelle complète des fichiers MD principaux
  docs/API.md
  docs/ARCHITECTURE.md
  docs/ARIA_IMPLEMENTATION_GUIDE.md
  docs/CONTRIBUTING.md
  docs/DEPLOYMENT.md
  docs/MIGRATION.md
Due: none

docs: Corrections finales fichiers MD
  docs/ARIA_IMPLEMENTATION_GUIDE.md
Due: none

docs: Nettoyage final fichiers MD
  arkalia_cia/ios/Podfile.lock
  arkalia_cia/ios/Runner.xcodeproj/project.pbxproj
  arkalia_cia/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  arkalia_cia/lib/screens/settings_screen.dart
  arkalia_cia/lib/services/api_service.dart
  arkalia_cia/lib/services/backend_config_service.dart
  docs/API.md
  docs/CONFIGURATION_BACKEND_WIFI.md
  docs/CONNECTER_S25_ANDROID.md
  docs/DEPLOYMENT.md
  docs/MISE_A_JOUR_S25_WIFI.md
Due: flutter

chore: Audit complet et corrections - fusion audit avec checklist, nettoyage fichiers, vérifications qualité code
  arkalia_cia/.gitignore_update_script
  arkalia_cia/check_updates.sh
  arkalia_cia/ios/Podfile
  arkalia_cia/ios/Podfile.lock
  arkalia_cia/ios/Runner.xcodeproj/project.pbxproj
  arkalia_cia/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  arkalia_cia/lib/screens/health_screen.dart
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/services/api_service.dart
  arkalia_cia/lib/services/auto_sync_service.dart
  arkalia_cia/lib/services/backend_config_service.dart
  arkalia_cia/lib/services/offline_cache_service.dart
  arkalia_cia/lib/utils/app_logger.dart
  arkalia_cia/lib/utils/error_helper.dart
  arkalia_cia/lib/utils/retry_helper.dart
  arkalia_cia/pubspec.yaml
  arkalia_cia/update_all_devices.sh
  docs/AUDIT_COMPLET_19_NOVEMBRE_2025.md
  docs/CHECKLIST_FINALE_VERSION.md
  docs/CORRECTION_SQFLITE_IOS.md
  docs/SCRIPT_MISE_A_JOUR_AUTOMATIQUE.md
Due: flutter

feat: Audit approfondi - Optimisations code et logger conditionnel
  docs/AUDIT_COMPLET_19_NOVEMBRE_2025.md
  docs/CHECKLIST_FINALE_VERSION.md
  docs/VERIFICATION_FINALE_COMPLETE.md
Due: none

chore: Mise à jour security dashboard HTML
  dashboard/security/security_dashboard.html
Due: none

chore: Finalisation checklist - tests non-régression, mise à jour README/CHANGELOG, release notes v1.2.0
  :memory:
  README.md
  dashboard/security/security_dashboard.html
  docs/CHANGELOG.md
  docs/CHECKLIST_FINALE_VERSION.md
  docs/RELEASE_NOTES_V1.2.0.md
  quality_report.json
Due: none

docs: Mise à jour finale checklist - toutes tâches automatisables complétées
  docs/CHECKLIST_FINALE_VERSION.md
Due: none

Ajout de :memory: au .gitignore pour éviter les problèmes Windows
  .gitignore
  :memory:
Due: none
