Repository arkalia-luna-system/arkalia-cia: changes, and which Codecov flags are due for each by the changed paths.
All: python, flutter

.codecov.yml:

# Configuration Codecov pour Arkalia CIA
# Supporte Python (backend) et Flutter (mobile)

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        base: auto
    patch:
      default:
        target: 60%
        threshold: 1%
        base: auto

flags:
  python:
    paths:
      - arkalia_cia_python_backend/
    carryforward: true
  flutter:
    paths:
      - arkalia_cia/lib/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false

ignore:
  - "**/test/"
  - "**/tests/"
  - "**/__pycache__/"
  - "**/build/"
  - "**/dist/"
  - "**/coverage/"
  - "**/htmlcov/"
  - "**/*.g.dart"
  - "**/*.freezed.dart"
  - "**/generated/"
  - "**/venv/"
  - "**/node_modules/"

fix: Suppression authentification biométrique et correction dépendance google_sign_in
  arkalia_cia/lib/screens/auth/login_screen.dart
  arkalia_cia/lib/screens/auth/register_screen.dart
  arkalia_cia/lib/screens/auth/welcome_auth_screen.dart
  arkalia_cia/lib/services/google_auth_service.dart
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
  docs/guides/FIX_REDIRECT_URI_MISMATCH.md
Due: flutter

fix: Amélioration message erreur redirect_uri_mismatch
  arkalia_cia/lib/services/google_auth_service.dart
  docs/guides/FIX_REDIRECT_URI_MISMATCH.md
Due: flutter

fix: Rétrograder shared_preferences à ^2.2.3 pour compatibilité Dart 3.5.0
  arkalia_cia/pubspec.yaml
Due: none

fix: Utiliser shared_preferences 2.2.3 exactement pour compatibilité Dart 3.5.0
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
Due: none

fix: Message erreur redirect_uri_mismatch encore plus clair
  arkalia_cia/lib/services/google_auth_service.dart
Due: flutter

docs: Ajout guide visuel pour configurer redirect_uri
  docs/guides/GUIDE_VISUEL_REDIRECT_URI.md
Due: none

fix: Remplacer withValues par withOpacity et toARGB32 par value pour compatibilité Flutter
  arkalia_cia/lib/screens/advanced_search_screen.dart
  arkalia_cia/lib/screens/auth/login_screen.dart
  arkalia_cia/lib/screens/auth/welcome_auth_screen.dart
  arkalia_cia/lib/screens/bbia_integration_screen.dart
  arkalia_cia/lib/screens/calendar_screen.dart
  arkalia_cia/lib/screens/conversational_ai_screen.dart
  arkalia_cia/lib/screens/doctors_list_screen.dart
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/emergency_screen.dart
  arkalia_cia/lib/screens/health_screen.dart
  arkalia_cia/lib/screens/hydration_reminders_screen.dart
  arkalia_cia/lib/screens/lock_screen.dart
  arkalia_cia/lib/screens/manage_family_members_screen.dart
  arkalia_cia/lib/screens/medical_report_screen.dart
  arkalia_cia/lib/screens/medication_reminders_screen.dart
  arkalia_cia/lib/screens/onboarding/import_choice_screen.dart
  arkalia_cia/lib/screens/onboarding/import_progress_screen.dart
  arkalia_cia/lib/screens/onboarding/welcome_screen.dart
  arkalia_cia/lib/screens/pathology_detail_screen.dart
  arkalia_cia/lib/screens/pathology_list_screen.dart
  arkalia_cia/lib/screens/patterns_dashboard_screen.dart
  arkalia_cia/lib/screens/reminders_screen.dart
  arkalia_cia/lib/screens/stats_screen.dart
  arkalia_cia/lib/screens/user_profile_screen.dart
  arkalia_cia/lib/widgets/emergency_contact_card.dart
  arkalia_cia/lib/widgets/emergency_contact_dialog.dart
  arkalia_cia/lib/widgets/exam_type_badge.dart
  arkalia_cia/test/models/pathology_test.dart
Due: flutter

fix: Corriger warnings et infos de lint
  arkalia_cia/lib/services/google_auth_service.dart
Due: flutter

docs: Ajout configuration Origines JavaScript dans guides redirect_uri
  docs/guides/FIX_REDIRECT_URI_MISMATCH.md
  docs/guides/GUIDE_VISUEL_REDIRECT_URI.md
Due: none

fix: Gestion erreur People API + Amélioration message redirect_uri
  arkalia_cia/lib/services/google_auth_service.dart
  docs/guides/ACTIVER_PEOPLE_API.md
Due: flutter

fix: Ajout timeout et amélioration gestion chargement Google Sign-In
  arkalia_cia/lib/screens/auth/welcome_auth_screen.dart
  arkalia_cia/lib/services/google_auth_service.dart
Due: flutter

fix: Rétrograder fl_chart de 0.71.0 à 0.65.0 pour compatibilité Flutter 3.24.0 CI
  arkalia_cia/pubspec.lock
  arkalia_cia/pubspec.yaml
Due: none

fix: Corrections critiques accessibilité, gestion erreurs et lint (27 déc 2025)
  arkalia_cia/lib/screens/advanced_search_screen.dart
  arkalia_cia/lib/screens/auth/welcome_auth_screen.dart
  arkalia_cia/lib/screens/bbia_integration_screen.dart
  arkalia_cia/lib/screens/emergency_screen.dart
  arkalia_cia/lib/screens/settings_screen.dart
  arkalia_cia/lib/screens/user_profile_screen.dart
  arkalia_cia_python_backend/ai/pattern_analyzer.py
  arkalia_cia_python_backend/api.py
  docs/audits/AUDIT_UTILISATEUR_15_JANVIER_2026.md
  docs/plans/PLAN_FUTUR_AMELIORATIONS.md
  scripts/check_accessibility.sh
  scripts/check_button_sizes.sh
  scripts/check_error_helper.sh
  scripts/check_lint.sh
Due: python, flutter

feat: Améliorations Phase 1 - Accessibilité, erreurs, TODOs (27 déc 2025)
  arkalia_cia/lib/screens/conversational_ai_screen.dart
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/emergency_screen.dart
  arkalia_cia/lib/screens/onboarding/import_progress_screen.dart
  arkalia_cia/lib/services/conversational_ai_service.dart
  arkalia_cia/lib/widgets/accessible_text.dart
Due: flutter

docs: Mise à jour plan - Phase 1 partiellement complétée (27 déc 2025)
  docs/plans/PLAN_FUTUR_AMELIORATIONS.md
Due: none

fix: Correction rapport audit utilisateur + Mise à jour dates
  arkalia_cia/lib/screens/emergency_screen.dart
  docs/audits/AUDIT_UTILISATEUR_15_JANVIER_2026.md
Due: flutter

fix: Accessibilité boutons - minimumSize 48px partout (27 déc 2025)
  arkalia_cia/lib/screens/emergency_screen.dart
Due: flutter

fix: Correction structure bouton EmergencyScreen (27 déc 2025)
  arkalia_cia/lib/screens/emergency_screen.dart
Due: flutter

feat: Phase 2 - Guidance et feedback visuel améliorés (27 déc 2025)
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/screens/reminders_screen.dart
Due: flutter

feat: Amélioration feedback visuel - SnackBar avec icônes (27 déc 2025)
  arkalia_cia/lib/screens/documents_screen.dart
Due: flutter

docs: Mise à jour plan - Phase 2 complétée (27 déc 2025)
  docs/plans/PLAN_FUTUR_AMELIORATIONS.md
Due: none

docs: Résumé complet améliorations Phase 1 et 2 (27 déc 2025)
  docs/audits/RESUME_AMELIORATIONS_27_DECEMBRE_2025.md
Due: none

feat: Phase 3 - Pagination implémentée (20 items/page) (27 déc 2025)
  arkalia_cia/lib/screens/doctors_list_screen.dart
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/reminders_screen.dart
Due: flutter

docs: Mise à jour plan - Phase 3 pagination complétée (27 déc 2025)
  docs/plans/PLAN_FUTUR_AMELIORATIONS.md
Due: none

feat: Phase 4 - Transitions fluides et optimisations (27 déc 2025)
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/utils/page_transitions.dart
Due: flutter

fix: Ajout import PageTransitions et transitions sur toutes navigations (27 déc 2025)
  arkalia_cia/lib/screens/home_page.dart
Due: flutter

docs: Mise à jour plan - Phases 3 et 4 complétées (27 déc 2025)
  docs/plans/PLAN_FUTUR_AMELIORATIONS.md
Due: none

docs: Création document 'Ce qui reste à faire' (27 déc 2025)
  docs/plans/CE_QUI_RESTE_A_FAIRE.md
Due: none

docs: Consolidation plans futurs et archivage documents obsolètes (27 déc 2025)
  docs/CE_QUI_MANQUE_10_DECEMBRE_2025.md
  docs/CE_QUI_RESTE_A_FAIRE_CIA_12_DECEMBRE_2025.md
  docs/PLAN_ACTION_RESTANT_12_DECEMBRE_2025.md
  docs/audits/AUDIT_RESTE_A_FAIRE_12_DECEMBRE_2025.md
  docs/meta/TODOS_DOCUMENTES.md
  docs/meta/TODO_RESTANT_1.3.1.md
  docs/plans/STATUT_COMPLET_27_DECEMBRE_2025.md
Due: none

docs: Ajout README pour structure plans (27 déc 2025)
  docs/plans/README.md
Due: none

docs: Nettoyage et organisation documentation (27 déc 2025)
  docs/PROMPT_AUDIT_ARIA_12_DECEMBRE_2025.md
  docs/analysis/BESOINS_MERE_23_NOVEMBRE_2025.md
  docs/audits/ANALYSES_CONSOLIDEES.md
  docs/audits/AUDITS_CONSOLIDES.md
  docs/audits/AUDIT_COMPLET_12_DECEMBRE_2025.md
  docs/audits/AUDIT_COMPLET_27_NOVEMBRE_2025.md
  docs/audits/BILAN_FINAL_10_DECEMBRE_2025.md
  docs/audits/CORRECTIONS_AUDIT_CONSOLIDEES.md
  docs/audits/README.md
  docs/audits/RECAP_COMPLET_12_DECEMBRE_2025.md
  docs/audits/RESUME_CORRECTIONS_12_DECEMBRE_2025.md
  docs/audits/VALIDATION_CORRECTIONS_12_DECEMBRE_2025.md
  docs/audits/VERIFICATION_DOCUMENTATION_12_DECEMBRE_2025.md
  docs/meta/QUALITE_VALIDATION.md
  docs/meta/VERIFICATION_COMPLETE.md
Due: none

docs: Mise à jour INDEX_DOCUMENTATION avec structure claire (27 déc 2025)
  docs/INDEX_DOCUMENTATION.md
Due: none

docs: Nettoyage massif documentation - 30+ fichiers archivés (27 déc 2025)
  docs/plans/PLAN_00_ONBOARDING_INTELLIGENT.md
  docs/plans/PLAN_01_PARSER_PDF_MEDICAUX.md
  docs/plans/PLAN_02_HISTORIQUE_MEDECINS.md
  docs/plans/PLAN_03_RECHERCHE_AVANCEE.md
  docs/plans/PLAN_04_IA_PATTERNS.md
  docs/plans/PLAN_05_PARTAGE_FAMILIAL.md
  docs/plans/PLAN_06_IA_CONVERSATIONNELLE.md
Due: none

docs: Nettoyage massif - 20+ fichiers redondants archivés (27 déc 2025)
  docs/deployment/ANALYSE_GITHUB_VS_RENDER_POUR_CIA.md
  docs/deployment/EXPLICATION_DEPLOIEMENT.md
  docs/deployment/EXPLICATION_GITHUB_VS_RENDER.md
  docs/deployment/EXPLICATION_SERVEUR_PWA.md
  docs/deployment/RESUME_CONFIGURATION_ACTUELLE.md
  docs/deployment/RESUME_CONFIGURATION_PWA.md
  docs/deployment/RESUME_CONFORMITE.md
  docs/deployment/STATUT_DEPLOIEMENT_FINAL.md
  docs/deployment/STATUT_PWA_FINAL.md
  docs/deployment/TOUT_EST_PARFAIT_AUTH_WEB.md
  docs/deployment/TOUT_EST_PRET_PWA.md
  docs/guides/ACTION_URGENTE_GOOGLE_SIGNIN.md
  docs/guides/DEBUG_GOOGLE_SIGN_IN.md
  docs/guides/GUIDE_GOOGLE_SIGN_IN.md
  docs/guides/GUIDE_TEST_GOOGLE_SIGN_IN_SIMPLE.md
  docs/guides/RESOLUTION_GOOGLE_SIGNIN.md
  docs/guides/TEST_GOOGLE_SIGN_IN.md
  docs/integrations/ARKALIA_ARIA_PROJECT.md
  docs/integrations/ARKALIA_ARIA_SUMMARY.md
Due: none

docs: Correction formatage markdown - Lint parfait (27 déc 2025)
  docs/INDEX_DOCUMENTATION.md
  docs/README.md
  docs/plans/STATUT_COMPLET_27_DECEMBRE_2025.md
Due: none

fix: Correction dernières erreurs lint markdown (27 déc 2025)
  docs/plans/STATUT_COMPLET_27_DECEMBRE_2025.md
Due: none

docs: Nettoyage final - 25+ fichiers verbeux/obsolètes archivés (27 déc 2025)
  arkalia_cia/lib/screens/pathology_list_screen.dart
  arkalia_cia/lib/screens/reminders_screen.dart
  arkalia_cia/lib/services/search_service.dart
  arkalia_cia/lib/utils/input_sanitizer.dart
  docs/deployment/ANALYSE_ALTERNATIVES_PLAY_STORE.md
  docs/deployment/ANALYSE_REJET_METADONNEES.md
  docs/deployment/BACKUP_BRANCHES.md
  docs/deployment/CONFIGURATION_BACKEND_WIFI.md
  docs/deployment/CONNECTER_S25_ANDROID.md
  docs/deployment/DEPLOIEMENT_REUSSI_PWA.md
  docs/deployment/DEPLOIEMENT_WIFI_IOS.md
  docs/deployment/ETAT_AUTOMATISATION.md
  docs/deployment/FIX_404_GITHUB_PAGES.md
  docs/deployment/FIX_COMET_PAGE_BLANCHE.md
  docs/deployment/FIX_PAGE_BLANCHE.md
  docs/deployment/GUIDE_DEPLOIEMENT_PWA.md
  docs/deployment/IOS_DEPLOYMENT_GUIDE.md
  docs/deployment/PROMPT_COMET_ASSISTANT.md
  docs/deployment/RESOLUTION_ANDROID_XR_FINALE.md
  docs/deployment/RESOLUTION_APK_VERS_AAB.md
  docs/deployment/VERIFICATION_FINALE_PWA.md
  docs/deployment/WORKFLOW_DEPLOIEMENT_AUTOMATIQUE.md
  docs/guides/APP_INDEPENDANTE_MAC.md
  docs/guides/CE_QUE_VOUS_DEVRIEZ_VOIR.md
  docs/guides/CORRECTION_FUITE_SECRET_GOOGLE.md
  docs/guides/FIX_FICHIERS_MACOS.md
  docs/guides/FIX_REDIRECT_URI_MISMATCH.md
  docs/guides/GUIDE_VISUEL_REDIRECT_URI.md
  docs/guides/REVOQUER_CLIENT_SECRET_GOOGLE.md
  docs/guides/VERIFICATION_GOOGLE_CLOUD_CONSOLE.md
  docs/plans/GUIDE_TEST_VISUEL_LIVE.md
  docs/plans/STATUT_COMPLET_27_DECEMBRE_2025.md
Due: flutter

fix: Correction vulnérabilité XSS + Amélioration recherche
  arkalia_cia/lib/screens/pathology_list_screen.dart
  arkalia_cia/lib/widgets/emergency_contact_dialog.dart
  docs/deployment/INSTRUCTIONS_RELEASE_V1.3.1.md
  docs/guides/ACTION_FINALE_GOOGLE_SIGN_IN.md
  docs/guides/GUIDE_COMET_ASSISTANT_GOOGLE_SIGN_IN.md
  docs/plans/PROMPTS_IMPLEMENTATION_4_PHASES.md
Due: flutter

docs: Nettoyage ultime - 20+ fichiers redondants/verbaux archivés (27 déc 2025)
  docs/deployment/CORRECTIONS_NAVIGATION_AUTH_10_DEC.md
  docs/deployment/DEPLOIEMENT_ARIA_RENDER.md
  docs/guides/AJOUTER_SHA1_PRODUCTION.md
  docs/guides/COMMENT_ENVOYER_A_MAMAN.md
  docs/guides/CONFIGURATION_SHA1_DEBUG_ET_PRODUCTION.md
  docs/guides/CREER_EMULATEUR_ANDROID.md
  docs/guides/GUIDE_INSTALLATION_PWA_DESKTOP.md
  docs/guides/GUIDE_INSTALLATION_PWA_MAMAN.md
  docs/guides/GUIDE_MISE_A_JOUR_FLUTTER.md
  docs/guides/GUIDE_PUBLICATION_GOOGLE_PLAY.md
  docs/guides/GUIDE_TESTEURS.md
  docs/guides/GUIDE_UTILISATION_MERE.md
  docs/guides/LANCER_APP_ANDROID.md
  docs/guides/MIGRATION.md
  docs/guides/QUESTIONNAIRE_TESTEURS.md
  docs/guides/RECONNECTER_TELEPHONE.md
  docs/guides/TESTER_SUR_TELEPHONE.md
Due: none

chore: Nettoyage fichiers documentation redondants
  docs/audits/AUDIT_ARKALIA_METRICS_COLLECTOR.md
  docs/audits/AUDIT_CONSOMMATION_RAM.md
  docs/audits/AUDIT_DEPENDANCES_GRATUITES_12_DECEMBRE_2025.md
  docs/audits/AUDIT_STRUCTURE_DECEMBRE_2025.md
  docs/audits/RAPPORT_AUDIT_TESTS.md
  docs/audits/TESTS_MANQUANTS_SECURITE.md
  docs/deployment/BUILD_RELEASE_ANDROID.md
  docs/deployment/CHECKLIST_RELEASE_CONSOLIDEE.md
  docs/deployment/CONFIGURATION_GITHUB_PAGES.md
  docs/deployment/GUIDE_DEPLOIEMENT_FINAL.md
  docs/deployment/GUIDE_SECRETS_GITHUB.md
  docs/guides/ACTIVER_PEOPLE_API.md
  docs/guides/CONFIGURATION_GOOGLE_SIGN_IN_COMPLETE.md
  docs/guides/SECURITE_GOOGLE_SIGN_IN.md
  docs/integrations/INTEGRATION_ANDAMAN7_MASANTE.md
  docs/integrations/INTEGRATION_EHEALTH_DETAILLEE.md
  docs/integrations/STATUT_INTEGRATION_PORTAILS_SANTE.md
  docs/integrations/STRATEGIE_GRATUITE_PORTAILS_SANTE.md
  docs/meta/SCREENSHOTS_CHECKLIST.md
Due: none
