Repository arkalia-luna-system/arkalia-cia: changes, and which Codecov flags are due for each by the changed paths.
All: python, flutter

.codecov.yml:

# Configuration Codecov pour Arkalia CIA
# Supporte Python (backend) et Flutter (mobile)

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        base: auto
    patch:
      default:
        target: 60%
        threshold: 1%
        base: auto

flags:
  python:
    paths:
      - arkalia_cia_python_backend/
    carryforward: true
  flutter:
    paths:
      - arkalia_cia/lib/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false

ignore:
  - "**/test/"
  - "**/tests/"
  - "**/__pycache__/"
  - "**/build/"
  - "**/dist/"
  - "**/coverage/"
  - "**/htmlcov/"
  - "**/*.g.dart"
  - "**/*.freezed.dart"
  - "**/generated/"
  - "**/venv/"
  - "**/node_modules/"

Fix: Script start_backend.sh avec activation automatique du bon venv
  scripts/start_backend.sh
Due: none

Docs: Guide pour ouvrir l'app dans Comet sur Mac
  docs/OUVRIR_APP_DANS_COMET_MAC.md
Due: none

Add: Support Flutter Web pour voir l'app dans Comet sur Mac
  arkalia_cia_python_backend/types.py
  docs/OUVRIR_APP_FLUTTER_WEB_MAC.md
  scripts/start_flutter_web.sh
Due: python

Fix: Gestion automatique du port pour Flutter Web (8080 ou 8081)
  docs/OUVRIR_APP_FLUTTER_WEB_MAC.md
  scripts/start_flutter_web.sh
Due: none

fix: ajout vérifications processus en double dans tous les scripts de démarrage
  scripts/cleanup_all.sh
  scripts/start_backend.sh
  scripts/start_flutter_web.sh
Due: none

fix: correction start_flutter.sh avec vérifications processus en double
  scripts/start_flutter.sh
Due: none

Docs: Guide rapide pour ouvrir l'app dans Comet
  docs/OUVRIR_APP_MAINTENANT.md
Due: none

Add: Méga prompt exhaustif pour audit Perplexity
  docs/MEGA_PROMPT_PERPLEXITY_TEST.md
Due: none

Fix: Réécriture prompt pour test EN DIRECT dans Comet, pas analyse code
  docs/MEGA_PROMPT_PERPLEXITY_TEST.md
Due: none

feat: script fix_ram_overheat.sh pour libérer RAM et réduire surchauffe
  docs/SOLUTION_SURCHAUFFE_RAM.md
  scripts/fix_ram_overheat.sh
Due: none

Fix: Corrections audit Perplexity - Circle cyan bouton, backend URL par défaut, contraste cartes, messages erreur améliorés
  arkalia_cia/.metadata
  arkalia_cia/lib/screens/conversational_ai_screen.dart
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/services/backend_config_service.dart
  arkalia_cia/lib/services/conversational_ai_service.dart
Due: flutter

Docs: Ajout section validations Perplexity dans POUR_MAMAN.md
  docs/POUR_MAMAN.md
Due: none

Fix: Correction bugs critiques Perplexity (SQLite, loading indicators, hitbox, textes, contraste, script Comet)
  arkalia_cia/lib/screens/add_edit_doctor_screen.dart
  arkalia_cia/lib/screens/emergency_screen.dart
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/services/doctor_service.dart
  arkalia_cia/lib/services/hydration_service.dart
  arkalia_cia/lib/services/medication_service.dart
  arkalia_cia/lib/services/pathology_service.dart
  arkalia_cia/lib/services/search_service.dart
  arkalia_cia/lib/utils/error_helper.dart
  arkalia_cia_python_backend/services/document_service.py
  docs/MEGA_PROMPT_PERPLEXITY_TEST.md
  pyproject.toml
  scripts/start_flutter_web.sh
Due: python, flutter

Docs: Amélioration prompt Perplexity et corrections MyPy
  docs/MEGA_PROMPT_PERPLEXITY_TEST.md
Due: none

Fix: Correction erreurs compilation (ErrorHelper.logError et kIsWeb)
  arkalia_cia/lib/services/api_service.dart
  arkalia_cia/lib/services/search_service.dart
Due: flutter

Fix: Ajout méthode isNetworkError manquante dans ErrorHelper
  arkalia_cia/lib/utils/error_helper.dart
Due: flutter

fix: corrections bugs audit - init databaseFactory web + fontSize recherche
  arkalia_cia/lib/main.dart
  arkalia_cia/lib/screens/home_page.dart
  docs/VERIFICATION_CORRECTIONS_AUDIT.md
Due: flutter

fix: améliorations UX - ErrorHelper dans AI + feedback visuel bouton Ajouter
  arkalia_cia/lib/screens/add_edit_doctor_screen.dart
  arkalia_cia/lib/screens/conversational_ai_screen.dart
  docs/VERIFICATION_FINALE_CORRECTIONS.md
Due: flutter

feat: amélioration accessibilité - augmentation tailles texte (10-12px → 14px minimum)
  arkalia_cia/lib/screens/advanced_search_screen.dart
  arkalia_cia/lib/screens/aria_screen.dart
  arkalia_cia/lib/screens/doctor_detail_screen.dart
  arkalia_cia/lib/screens/doctors_list_screen.dart
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/health_screen.dart
  arkalia_cia/lib/screens/pathology_detail_screen.dart
  arkalia_cia/lib/screens/sync_screen.dart
Due: flutter

docs: mise à jour documentation 23 novembre 2025 - 100% bugs corrigés + accessibilité
  README.md
  docs/INDEX_DOCUMENTATION.md
  docs/RESUME_23_NOVEMBRE_2025.md
  docs/STATUT_FINAL_CONSOLIDE.md
  docs/VERIFICATION_CORRECTIONS_AUDIT.md
  docs/VERIFICATION_FINALE_CORRECTIONS.md
Due: none

fix(web): Support complet base de données sur le web avec SharedPreferences
  arkalia_cia/lib/services/doctor_service.dart
  arkalia_cia/lib/services/hydration_service.dart
  arkalia_cia/lib/services/medication_service.dart
  arkalia_cia/lib/services/pathology_service.dart
  docs/CORRECTIONS_WEB_DATABASE_23_NOVEMBRE_2025.md
  docs/RESUME_23_NOVEMBRE_2025.md
  scripts/ensure_web_build.sh
  scripts/start_flutter_web.sh
Due: flutter

Docs: Ajout document récapitulatif corrections audit 23 novembre 2025
  arkalia_cia/lib/services/doctor_service.dart
  docs/CORRECTIONS_AUDIT_23_NOVEMBRE_2025.md
Due: flutter

Fix: Correction erreurs compilation (comparaisons String, nullable database)
  arkalia_cia/lib/screens/medication_reminders_screen.dart
  arkalia_cia/lib/services/doctor_service.dart
  arkalia_cia/lib/services/hydration_service.dart
  arkalia_cia/lib/services/medication_service.dart
  arkalia_cia/lib/services/pathology_service.dart
Due: flutter

Fix: Correction dernières erreurs compilation (getMedicationTracking, comparaisons String)
  arkalia_cia/lib/screens/medication_reminders_screen.dart
  arkalia_cia/lib/services/medication_service.dart
  arkalia_cia/lib/services/pathology_service.dart
Due: flutter

Fix: Correction dernière erreur comparaison String dans medication_service
  arkalia_cia/lib/screens/medication_reminders_screen.dart
  arkalia_cia/lib/services/hydration_service.dart
  arkalia_cia/lib/services/medication_service.dart
  arkalia_cia/lib/services/pathology_service.dart
Due: flutter

fix(services): Ajout vérifications null safety complètes pour tous les services
  docs/VERIFICATION_CORRECTIONS_AUDIT_23_NOVEMBRE.md
Due: none

docs: Vérification finale complète de tous les points critiques
  docs/VERIFICATION_FINALE_COMPLETE_23_NOVEMBRE.md
Due: none

fix(search): Correction SearchService pour support web complet
  arkalia_cia/lib/services/search_service.dart
Due: flutter

docs: Résumé final de vérification - Tous les points critiques corrigés
  docs/RESUME_FINAL_VERIFICATION_23_NOVEMBRE.md
Due: none

docs: Amélioration prompt Perplexity pour test complet avec outils browser
  docs/MEGA_PROMPT_PERPLEXITY_TEST.md
Due: none

fix: Corrections critiques rappels et format heure 24h
  arkalia_cia/lib/screens/medication_reminders_screen.dart
  arkalia_cia/lib/screens/reminders_screen.dart
  arkalia_cia/lib/services/calendar_service.dart
  docs/CORRECTIONS_RAPPELS_HEURE_24_NOVEMBRE.md
  docs/RESUME_23_NOVEMBRE_2025.md
Due: flutter

fix: Correction définitive problème rappels - Désactivation chiffrement web
  arkalia_cia/lib/screens/reminders_screen.dart
  arkalia_cia/lib/services/calendar_service.dart
  arkalia_cia/lib/utils/storage_helper.dart
  docs/CORRECTIONS_RAPPELS_FINALE_24_NOVEMBRE.md
Due: flutter

fix: Correction AuthApiService et CalendarService pour compatibilité web complète
  arkalia_cia/lib/services/auth_api_service.dart
  arkalia_cia/lib/services/calendar_service.dart
  docs/VERIFICATION_COMPATIBILITE_WEB_COMPLETE.md
Due: flutter

fix: Corrections finales audit 24 novembre - Pathologies, Documents, Counter badges
  arkalia_cia/lib/models/pathology.dart
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia/lib/services/calendar_service.dart
  arkalia_cia/lib/services/pathology_service.dart
  docs/CORRECTIONS_AUDIT_24_NOVEMBRE_FINALE.md
  docs/RESUME_23_NOVEMBRE_2025.md
Due: flutter

fix: correction qualité code - black ruff mypy bandit - zéro défaut
  arkalia_cia/lib/screens/home_page.dart
  arkalia_cia_python_backend/api.py
  dashboard/security/security_dashboard.html
  pyproject.toml
  quality_report.json
Due: python, flutter

docs: Vérification complète corrections audit 24 novembre
  docs/VERIFICATION_CORRECTIONS_FINALE_24_NOVEMBRE.md
Due: none

docs: Amélioration prompt Perplexity et mise à jour documentation audit final
  docs/API.md
  docs/AUDIT_VERIFICATION_COMPLETE.md
  docs/CERTIFICATION_QUALITE_10_SUR_10.md
  docs/CHANGELOG.md
  docs/CHANGELOG_20_NOVEMBRE_2025.md
  docs/CORRECTIONS_AUDIT_23_NOVEMBRE_2025.md
  docs/CORRECTIONS_AUDIT_CONSOLIDEES.md
  docs/CORRECTIONS_RAPPELS_FINALE_24_NOVEMBRE.md
  docs/CORRECTIONS_RAPPELS_HEURE_24_NOVEMBRE.md
  docs/CORRECTIONS_WEB_DATABASE_23_NOVEMBRE_2025.md
  docs/DEPLOYMENT.md
  docs/FINAL_10_SUR_10.md
  docs/FINAL_9_5_SUR_10.md
  docs/GUIDE_OUVRIR_APP.md
  docs/INDEX_DOCUMENTATION.md
  docs/MEGA_PROMPT_PERPLEXITY_TEST.md
  docs/OUVRIR_APP_DANS_COMET.md
  docs/OUVRIR_APP_DANS_COMET_MAC.md
  docs/OUVRIR_APP_FLUTTER_WEB_MAC.md
  docs/OUVRIR_APP_MAINTENANT.md
  docs/QUALITE_VALIDATION.md
  docs/README_QUALITE_10_SUR_10.md
  docs/RESUME_23_NOVEMBRE_2025.md
  docs/RESUME_FINAL_9_5_SUR_10.md
  docs/RESUME_FINAL_TESTS_20_NOVEMBRE.md
  docs/RESUME_OPTIMISATIONS_TESTS.md
  docs/STATUT_FINAL_20_NOVEMBRE_2025.md
  docs/STATUT_FINAL_PROJET.md
  docs/STATUT_FINAL_TESTS.md
  docs/STATUT_FINAL_ULTIME.md
  docs/VALIDATION.md
  docs/VALIDATION_FINALE_10_SUR_10.md
  docs/VERIFICATION_ANALYSE_COMPLETE.md
  docs/VERIFICATION_COMPATIBILITE_WEB_COMPLETE.md
  docs/VERIFICATION_COMPLETE.md
  docs/VERIFICATION_CORRECTIONS_AUDIT.md
  docs/VERIFICATION_CORRECTIONS_AUDIT_23_NOVEMBRE.md
  docs/VERIFICATION_FINALE_COMPLETE_23_NOVEMBRE.md
  docs/VERIFICATION_FINALE_CORRECTIONS.md
Due: none

docs: Mise à jour VERIFICATION_COMPLETE avec résultats audit final
  docs/VERIFICATION_COMPLETE.md
Due: none

feat: Ajout portails santé Andaman 7 et MaSanté aux portails pré-configurés
  arkalia_cia/lib/screens/health_screen.dart
  docs/POUR_MAMAN.md
  docs/audits/ANALYSE_EXPLOITATION_PROJET.md
Due: flutter

fix: Correction file_picker pour compatibilité web - utiliser bytes au lieu de path
  arkalia_cia/lib/screens/documents_screen.dart
  arkalia_cia/lib/screens/onboarding/import_choice_screen.dart
  arkalia_cia/lib/screens/onboarding/import_progress_screen.dart
  arkalia_cia/lib/screens/sync_screen.dart
  arkalia_cia/lib/services/file_storage_service.dart
  docs/CORRECTIONS_CONSOLIDEES.md
  docs/STATUT_FINAL_CONSOLIDE.md
  docs/VERIFICATION_CORRECTIONS_FINALE_24_NOVEMBRE.md
  docs/audits/AUDITS_CONSOLIDES.md
  docs/audits/AUDIT_COMPLET_19_NOVEMBRE_2025.md
  docs/audits/AUDIT_POST_CORRECTIONS.md
  docs/audits/AUDIT_SECURITE_SENIOR.md
  docs/audits/AUDIT_SEVERE_SENIOR.md
  docs/audits/AUDIT_ULTRA_SEVERE_SENIOR.md
Due: flutter
